<!-- Email Body : BEGIN -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto; text-align: center;" width="600">
                <!-- 1 Column Text + Button : BEGIN -->
                <tr>
                    <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px; text-align: center;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: 0px !important; text-align: center;" width="600">
                            <!-- 1 Column Text + Button : BEGIN -->
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 40px 40px 20px; text-align: center;">
                                    <h1 style="margin: 0; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 28px; line-height: 32px; color: #222542; font-weight: normal;">
                                        Hi Ganesh,
                                        <!-- {{#_i18n}}greetings{{/_i18n}} -->
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="padding: 0 40px 10px; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; color: #222542; text-align: center;" class="schedule-email-td">
                                    <p>
                                        <img style="height: 125px;padding-left: 20px;" src="https://dfuxjald07fqx.cloudfront.net/mailtag-gift-heart.png"/>
                                    </p>
                                    <p style="margin: 0px 15px;" class="schedule-email-text">
                                        My name is Alex Edson,<br>Founder and CEO at MailTag.
                                        <br>
                                        <br>
                                        Today’s email is going to be different <br>from the regular tips and tutorials that <br>we normally send …
                                        <br>
                                        
                                        <br>
                                        Every subscription to MailTag PRO<br>
                                        helps accelerate this initiative for<br>
                                        finding a cure for this horrific disease.
                                        <br>
                                        <br>
                                        If you’d like to upgrade your account
                                        to MailTag PRO,<br>while also
                                        supporting ALS research,<br>you can do
                                        so at anytime via your dashboard<br>
                                        (or through the link below).
                                        <br>
                                        <br>
                                        <!-- {{#_i18n}}welcome-line-1{{/_i18n}}                         -->
                                    </p>
                                </td>
                            </tr>
                            <!-- 1 Column Text + Button : END -->
                            <tr>
                                <td bgcolor="#ffffff" style="padding: 0 40px; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; color: #222542; text-align: center;" class="schedule-email-td">
                                    <a href="https://www.mailtag.io/pricing/" class="goto-pings" style="background: #3A98F8; border: 15px solid #3A98F8; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: center; text-decoration: none; display: block; border-radius: 100px;width:300px;margin: auto;" >
                                    <span style="color:#ffffff;font-size: 16px">
                                        UPGRADE TO PRO
                                        <!-- {{#_i18n}}update-now{{/_i18n}} -->
                                    </span>
                                </a>
                                </td>
                            </tr>
                            <!-- Signature : BEGIN -->
                            <tr>
                                <td bgcolor="#ffffff" style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;padding: 0 40px; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; color: #222542; text-align: center;" class="schedule-email-td">
                                    <p style="margin: 35px 0px;" class="schedule-email-text">
                                        PS.<br>
                                        We hope you’re super excited for
                                        MailTag’s upcoming updates!<br>
                                        We’ll keep you in the loop with all of the
                                        latest and<br>greatest product
                                        developments!
                                        <br><br>
                                        To your success,<br>
                                        <!-- {{#_i18n}}signature{{/_i18n}} -->
                                        <img style="height: 80px;" src="https://dfuxjald07fqx.cloudfront.net/alex-signature.png"/>
                                    </p>
                                </td>
                            </tr>
                            <!-- Signature : END -->
                        </table>
                    </td>
                </tr>
                <!-- Signature : END -->
            </table>
            <!-- Email Body : END -->