<!--Email Body : BEGIN -->
            <table role="presentation"  cellspacing="0" cellpadding="0" align="center" width="600" align="center" style="margin: auto;" class="email-container">
                <tr>
                    <td class="opened-desktop" style="background: #ffffff;border: 1px solid #e2eaf3;border-radius: 5px">
                        <table align="center" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;border-radius: 5px !important;" class="email-container">
                            <!-- 1 Column Text + Button : BEGIN -->
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 40px 40px 20px; text-align: center;" colspan="2">
                                    <p style="margin: 0; font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 25px; line-height: 22px; color: #2f3d4c;">{{#_i18n}}your-email-was-opened{{/_i18n}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 15px 40px 20px; text-align: center;" colspan="2">
                                    
                                    <p style="margin: 0; font-family: 'ProximaNovaSemiBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 34px; line-height: 30px; color: #2f3d4c; ">“{{subject}}”</p>
                                        
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 15px 40px 20px; text-align: center; margin: 0;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 17px;color: #2f3d4c;" colspan="2">
                                    {{{email_body}}}
                                </td>
                            </tr>
                            <tr>
                            
                                <td bgcolor="#ffffff" class="text-center" colspan="2" background='https://dfuxjald07fqx.cloudfront.net/bitmap1-v3.png' width="251" height="209" style="text-align: center;background-position: center;background-repeat: no-repeat;">
                                    <img src="https://dfuxjald07fqx.cloudfront.net/message-icon-v3.png" style="width:129px;height: 138px;">
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 38px 40px 20px; text-align: center;" colspan="2">
                                    
                                    <p style="margin: 0;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 17px;color: #2f3d4c;"><span style="margin: 0;font-family: 'ProximaNovaBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 17px;color: #2f3d4c;">{{recipient}}</span>{{#_i18n}}read-your-email-after{{/_i18n}}</p>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="    margin-left: 40px !important;">
                                      <tr>
                                        <td style="background:white; border-bottom: 1px solid #ecf0f4; height:2px; width:100%; margin:0px 0px 0px 0px;">&nbsp;</td>
                                      </tr>
                                    </table>
                                </td>
                                <td>
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="    width: 240px !important;">
                                      <tr>
                                        <td style="background:white; border-bottom: 1px solid #ecf0f4; height:2px; width:100%; margin:0px 0px 0px 0px;">&nbsp;</td>
                                      </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- 1 Column Text + Button : END -->
                            
                            
                            <tr>
                                <td bgcolor="#ffffff" style="line-height: 26px;text-align: left;padding:20px; margin:0px;padding-left: 40px;">
                                    <p style="margin:0px;font-family: 'ProximaNovaBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 14px;color: #2f3d4c; letter-spacing: 0.78px;font-weight: bold;">{{#_i18n}}sent{{/_i18n}}</p>
                                    <p style="margin:0px; font-family: 'ProximaNovaRegular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;color: #2f3d4c; font-size: 17px;line-height: 35px;">{{#_i18n}}sent-dateTime{{/_i18n}}</p>
                                </td>
                                <td bgcolor="#ffffff" style="line-height: 26px; text-align: left;padding:20px;padding-left: 40px;margin:0px;">
                                    <p style="margin:0px;font-family: 'ProximaNovaBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 14px;color: #2f3d4c; letter-spacing: 0.78px;font-weight: bold;">{{#_i18n}}opened{{/_i18n}}</p>
                                    <p style="margin:0px;font-family: 'ProximaNovaRegular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;color: #2f3d4c; font-size: 17px;line-height: 35px;">{{#_i18n}}open-dateTime{{/_i18n}}</p>
                                </td>
                            </tr>

                            <tr>
                                <td bgcolor="#ffffff" style="line-height: 26px; text-align: left;padding:20px; margin:0px;padding-left: 40px;padding-right: 40px;">
                                    <p style="margin:0px;font-family: 'ProximaNovaBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;color: #2f3d4c; font-size: 14px;letter-spacing: 0.78px;font-weight: bold;">{{#_i18n}}recipient{{/_i18n}}</p>
                                    <p style="margin:0px; font-family: 'ProximaNovaRegular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;color: #2f3d4c; font-size: 17px;line-height: 35px;">{{recipient}}</p>
                                </td>
                                <td bgcolor="#ffffff" style="line-height: 26px; text-align: left;padding:20px; margin:0px;padding-left: 40px;padding-right: 40px;">
                                    <p style="margin:0px;font-family: 'ProximaNovaBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;color: #2f3d4c; font-size: 14px;letter-spacing: 0.78px;font-weight: bold;">{{#_i18n}}location{{/_i18n}}</p>
                                    <p style="margin:0px; font-family: 'ProximaNovaRegular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;color: #2f3d4c; font-size: 17px;line-height: 35px;">
                                        {{location}}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="padding: 0 40px 40px; font-family:'ProximaNovaBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; line-height: 26px; color: #2b9eff; text-align: center;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;letter-spacing: 1.05px;" colspan="2">
                                    <a style="font-family:'ProximaNovaBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 14px;color:#2b9eff; text-decoration:underline;letter-spacing: 1.05px;font-weight: bold;" href="https://app.mailtag.io/dashboard/preferences?settings-tab=preference ">
                                        {{#_i18n}}notification-settings{{/_i18n}}
                                    </a>
                                </td>
                            </tr>
                            
                        </table>
                    </td>
                    
                    <td class="opened-mbl" style="background: white; display: none;background: #ffffff;border: 1px solid #e2eaf3;border-radius: 5px;">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
                            <!-- 1 Column Text + Button : BEGIN -->
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 40px 40px 20px; text-align: center;">
                                    <p style="margin: 0; font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 25px; line-height: 22px; color: #2f3d4c;font-weight: normal;">{{#_i18n}}your-email-was-opened{{/_i18n}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="padding: 0 40px; text-align: center;">
                                    <p style="margin: 0; font-family: 'ProximaNovaSemiBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 34px; line-height: 22px; color: #2f3d4c; ">“{{subject}}”</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" class="text-center" background='https://dfuxjald07fqx.cloudfront.net/bitmap1-v3.png' width="251" height="209" style="text-align: center;background-position: center;background-repeat: no-repeat; padding: 0 40px;">
                                    <img src="https://dfuxjald07fqx.cloudfront.net/message-icon-v3.png" style="width:129px;height: 138px;padding: 30px;">
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="padding: 0 40px; text-align: center;">
                                    
                                    <p style="margin: 0;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 17px;color: #2f3d4c;"><span style="margin: 0;font-family: 'ProximaNovaBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 17px;color: #2f3d4c;font-weight: bold;">{{recipient}}</span>{{#_i18n}}read-your-email-after{{/_i18n}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0" style="padding-left: 30px;padding-right: 30px;">
                                      <tr>
                                        <td style="background:white; border-bottom: 1px solid #d7dfe3; height:1px; width:100%; margin:0px 0px 0px 0px;">&nbsp;</td>
                                      </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- 1 Column Text + Button : END -->
                            
                            
                            <tr>
                                <td bgcolor="#ffffff" style="text-align: center;padding:20px; margin:0px;padding-left: 40px;padding-right: 40px;">
                                    <p style="margin:0px;font-family: 'ProximaNovaBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 14px;color: #2f3d4c; letter-spacing: 0.78px;font-weight: bold;">{{#_i18n}}sent{{/_i18n}}</p>
                                    <p style="margin:0px;font-family: 'ProximaNovaRegular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;color: #2f3d4c; font-size: 17px;line-height: 15px;font-weight: normal;">{{#_i18n}}sent-dateTime{{/_i18n}}</p>
                                </td>
                            </tr>

                            <tr>
                                <td bgcolor="#ffffff" style="text-align: center;padding:20px;padding-left: 40px;padding-right: 40px; margin:0px;">
                                    <p style="margin:0px;font-family: 'ProximaNovaBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 14px;color: #2f3d4c; letter-spacing: 0.78px;font-weight: bold;">{{#_i18n}}opened{{/_i18n}}</p>
                                    <p style="margin:0px;font-family: 'ProximaNovaRegular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;color: #2f3d4c; font-size: 17px;line-height: 15px;font-weight: normal;">{{#_i18n}}open-dateTime{{/_i18n}}</p>
                                </td>
                            </tr>

                            <tr>
                                <td bgcolor="#ffffff" style="text-align: center;padding:20px; margin:0px;padding-left: 40px;padding-right: 40px;">
                                    <p style="margin:0px;font-family: 'ProximaNovaBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size: 14px;color: #2f3d4c; letter-spacing: 0.78px;font-weight: bold;">{{#_i18n}}recipient{{/_i18n}}</p>
                                    <p style="margin:0px; font-family: 'ProximaNovaRegular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;color: #2f3d4c; font-size: 17px;line-height: 15px;font-weight: normal;">{{recipient}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="padding: 0 40px 40px; font-family:'ProximaNovaBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; line-height: 26px; color: #2b9eff;text-align: center;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;letter-spacing: 1.05px;">
                                    <a style="font-family:'ProximaNovaBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 14px;color:#2b9eff; text-decoration:underline;letter-spacing: 1.05px;font-weight: bold;" href="https://app.mailtag.io/dashboard/preferences?settings-tab=preference ">
                                        {{#_i18n}}notification-settings{{/_i18n}}
                                    </a>
                                </td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
            </table>
            <!-- Email Body : END