

        <!-- Email Body : BEGIN -->
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;background: #ffffff;border: 1px solid #e2eaf3;border-radius: 5px;" class="email-container">
            <!-- 1 Column Text + Button : BEGIN -->
            <tr>
                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 40px 40px 20px; text-align: left;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #2f3d4c;">
                    {{#_i18n}}greetings{{/_i18n}}
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 5px 40px 20px; text-align: left;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #2f3d4c;">
                    {{#_i18n}}line-1{{/_i18n}}
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 5px 40px 20px; text-align: left;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #2f3d4c;">
                    {{#_i18n}}line-2{{/_i18n}}
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 5px 40px 20px; text-align: left;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #2f3d4c;">
                    <img src="https://dfuxjald07fqx.cloudfront.net/enable-mailtag-v3.gif" style="width:100%;border-radius:3px;">
                    </img>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 5px 40px 20px; text-align: left;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #2f3d4c;">
                    {{#_i18n}}line-3{{/_i18n}}
                </td>
            </tr>

            <tr>
                <td bgcolor="#ffffff" style="border-radius: 5px !important;padding: 0px 40px 20px; text-align: left;font-family: 'ProximaNovaSemiBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px;">

                    <table bgcolor="#f6fafd" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="border-radius: 5px !important;padding: 0px 102px 0px 46px;">
                                <i>
                                <p style="font-family: 'ProximaNovaSemiBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #596874;">P.S.<br>Need some additional help getting started?</p>
                                <p style="font-family: 'ProximaNovaSemiBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #596874;"> Check out this video tutorial. :)</p>
                                <p>- <a href="https://youtu.be/TqOMRphI1c8" target="_blank" style="color: #2B9EFF;text-decoration: none;">https://youtu.be/TqOMRphI1c8</a>.</p></i>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr>
                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 5px 40px 20px; text-align: left;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #2f3d4c;">
                    {{#_i18n}}line-4{{/_i18n}}
                </td>
            </tr>

            <tr>
                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 5px 40px 20px; text-align: left;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #2f3d4c;">
                    {{#_i18n}}line-5{{/_i18n}}
                </td>
            </tr>

            <!-- Signature : BEGIN -->
            <tr>
                <td bgcolor="#ffffff" style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;padding: 0 40px 40px; border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 5px 40px 20px; text-align: left;font-family: 'ProximaNovaRegular',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #2f3d4c;">
                    <p style="margin: 0;">{{#_i18n}}signature-1{{/_i18n}}</p>
                    <p style="margin: 0;">{{#_i18n}}signature-2{{/_i18n}}</p>
                </td>
            </tr>
            <!-- <tr>
                <td bgcolor="#ffffff" style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;padding: 0 40px 40px; border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 5px 40px 20px; text-align: left;font-family: 'ProximaNovaBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size: 18px; line-height: 28px; color: #2f3d4c;">
                    <p style="margin: 0;">{{#_i18n}}signature-2{{/_i18n}}</p>
                </td>
            </tr> -->
            <!-- Signature : END -->
        </table>
        <!-- Email Body : END -->