<!--Email Body : BEGIN -->
            <table role="presentation"  cellspacing="0" cellpadding="0" align="center" width="600" align="center" style="margin: auto;" class="email-container">
                <tr>
                    <td class="opened-desktop" style="background: #ffffff;border: 1px solid #e2eaf3;border-radius: 5px;">
                        <table align="center" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;border-radius: 5px !important;" class="email-container">
                            <!-- 1 Column Text + Button : BEGIN -->
                            <!-- 1 Column Text + Button : BEGIN -->
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 40px 40px 20px; text-align: center;" colspan="2">
                                    <p style="margin: 0; font-family: 'ProximaNovaSemiBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size:34px;color:#2f3d4c; line-height: 45px;">{{#_i18n}}refer-heading-1{{/_i18n}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 15px 40px 20px; text-align: center;" colspan="2">
                                    
                                    <p style="margin: 0; font-family: 'ProximaNovaRegular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size:18px;color:#2f3d4c; line-height: 28px;">{{#_i18n}}refer-heading-2{{/_i18n}}</p>
                                        
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 15px 40px 20px; text-align: center;" colspan="2">
                                    
                                    <!-- <a href="https://www.youtube.com/embed/P41JP5Y8oaU" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://5b560557.ngrok.io/link-event-v2?mt__id%3Da6709202-c851-11e8-924d-5fe3639e6d2c%26mt__url%3Dhttp%253A%252F%252Fwww.vshsolutions.com%252F&amp;source=gmail&amp;ust=1538797779573000&amp;usg=AFQjCNHYSJr7Mdqn2nuWi9_keiLn8hAaJA">
                                        <font color="#351c75">
                                            <img width="90" alt="" src="https://ci3.googleusercontent.com/proxy/XoWKN2hMDUzaX8Gn6T_AjQkvLOy_TZ81kaVkw5dRXVGiXNYtfdy9u6L2J7hxf3TyCjZVvUUW49D5oj3OV3QAnn-iMSnnefT2Ta4gdVf9RGjlEgqSOBVXKSz1H21HOQzoiFOao9IZZI13=s0-d-e1-ft#https://media.glassdoor.com/sqll/1261872/vsh-solutions-squarelogo-1459539937676.png" style="width:90px;border:none" class="CToWUd">
                                        </font>
                                    </a> -->
                                    <a href="https://www.youtube.com/watch?v=P41JP5Y8oaU" style="margin: 0; font-family: 'ProximaNovaSemiBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 34px; line-height: 30px; color: #2f3d4c; ">
                                        <div>
                                            <img style="width: 600px;" src="https://dfuxjald07fqx.cloudfront.net/trackEmailRefer-1.png" />
                                        </div>
                                    </a>
                                        
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 15px 40px 20px; text-align: center;" colspan="2">
                                    
                                    <a href="https://www.youtube.com/watch?v=NOXq_wWn8b8" style="margin: 0; font-family: 'ProximaNovaSemiBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 34px; line-height: 30px; color: #2f3d4c; ">
                                        <div>
                                            <img style="width: 600px;" src="https://dfuxjald07fqx.cloudfront.net/scheduledEamilRefer-1.png" />
                                        </div>
                                    </a>
                                        
                                </td>
                            </tr>
                            <tr style="border-radius: 5px;">
                                <td bgcolor="#ffffff" style="border-radius: 5px;padding: 15px 40px 60px; text-align: center;" colspan="2">
                                    
                                    <a href="https://www.youtube.com/watch?v=wQbwipvswug" style="margin: 0; font-family: 'ProximaNovaSemiBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 34px; line-height: 30px; color: #2f3d4c; ">
                                        <div>
                                            <img style="width: 600px;" src="https://dfuxjald07fqx.cloudfront.net/pingEmailRefer-1.png" />
                                        </div>
                                    </a>
                                        
                                </td>
                            </tr>
                        </table>
                    </td>
                    
                    <td class="opened-mbl" style="background: white; display: none;background: #ffffff;border: 1px solid #e2eaf3;border-radius: 5px;">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;border-radius: 5px;" class="email-container">
                            <!-- 1 Column Text + Button : BEGIN -->
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 40px 40px 20px; text-align: center;" colspan="2">
                                    <p style="margin: 0; font-family: 'ProximaNovaSemiBold',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; font-size:34px;color:#2f3d4c; line-height: 45px;">{{#_i18n}}refer-heading-1{{/_i18n}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 15px 40px 20px; text-align: center;" colspan="2">
                                    
                                    <p style="margin: 0; font-family: 'ProximaNovaRegular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size:18px;color:#2f3d4c; line-height: 28px;">{{#_i18n}}refer-heading-2{{/_i18n}}</p>
                                        
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 15px 40px 20px; text-align: center;" colspan="2">
                                    
                                    <!-- <a href="https://www.youtube.com/embed/P41JP5Y8oaU" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://5b560557.ngrok.io/link-event-v2?mt__id%3Da6709202-c851-11e8-924d-5fe3639e6d2c%26mt__url%3Dhttp%253A%252F%252Fwww.vshsolutions.com%252F&amp;source=gmail&amp;ust=1538797779573000&amp;usg=AFQjCNHYSJr7Mdqn2nuWi9_keiLn8hAaJA">
                                        <font color="#351c75">
                                            <img width="90" alt="" src="https://ci3.googleusercontent.com/proxy/XoWKN2hMDUzaX8Gn6T_AjQkvLOy_TZ81kaVkw5dRXVGiXNYtfdy9u6L2J7hxf3TyCjZVvUUW49D5oj3OV3QAnn-iMSnnefT2Ta4gdVf9RGjlEgqSOBVXKSz1H21HOQzoiFOao9IZZI13=s0-d-e1-ft#https://media.glassdoor.com/sqll/1261872/vsh-solutions-squarelogo-1459539937676.png" style="width:90px;border:none" class="CToWUd">
                                        </font>
                                    </a> -->
                                    <a href="https://www.youtube.com/watch?v=P41JP5Y8oaU" style="margin: 0; font-family: 'ProximaNovaSemiBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 34px; line-height: 30px; color: #2f3d4c; ">
                                        <div>
                                            <img style="width: 280px;" src="https://dfuxjald07fqx.cloudfront.net/trackEmailRefer-1.png" />
                                        </div>
                                    </a>
                                        
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 15px 40px 20px; text-align: center;" colspan="2">
                                    
                                    <a href="https://www.youtube.com/watch?v=NOXq_wWn8b8" style="margin: 0; font-family: 'ProximaNovaSemiBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 34px; line-height: 30px; color: #2f3d4c; ">
                                        <div>
                                            <img style="width: 280px;" src="https://dfuxjald07fqx.cloudfront.net/scheduledEamilRefer-1.png" />
                                        </div>
                                    </a>
                                        
                                </td>
                            </tr>
                            <tr style="border-radius: 5px;">
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 15px 40px 60px; text-align: center;border-radius: 5px;" colspan="2">
                                    
                                    <a href="https://www.youtube.com/watch?v=wQbwipvswug" style="margin: 0; font-family: 'ProximaNovaSemiBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: 34px; line-height: 30px; color: #2f3d4c; ">
                                        <div>
                                            <img style="width: 280px;" src="https://dfuxjald07fqx.cloudfront.net/pingEmailRefer-1.png" />
                                        </div>
                                    </a>
                                        
                                </td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
            </table>
            <!-- Email Body : END-->