<!-- Email Body : BEGIN -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto; text-align: center;" width="600">
                <!-- 1 Column Text + Button : BEGIN -->
                <tr>
                    <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px; text-align: center;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: 0px !important; text-align: center;" width="600">
                            <!-- 1 Column Text + Button : BEGIN -->
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 40px 40px 20px; text-align: center;">
                                    <h1 style="margin: 0; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 28px; line-height: 32px; color: #222542; font-weight: normal;">
                                        Hi Alex,
                                        <!-- {{#_i18n}}greetings{{/_i18n}} -->
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="padding: 0 40px 10px; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; color: #222642; text-align: center;" class="schedule-email-td">
                                    <p>
                                        <img style="height: 125px;" src="https://dfuxjald07fqx.cloudfront.net/blueSmileLogo.png">
                                    </p>
                                    <p style="margin: 0;" class="schedule-email-text">
                                        Have you ever wondered what happens after you<br>click send on your emails?<br><br>Thanks to MailTag, you no longer have to wonder.<br><br>With MailTag, you can access each of the following features at no cost whatsoever:
                                        <br>
                                        <!-- {{#_i18n}}welcome-line-1{{/_i18n}}                         -->
                                    </p>
                                    <ul style="text-align: left;color: #3a98f8; font-size: 16px; list-style-image: url('https://dfuxjald07fqx.cloudfront.net/listBullet.png');">
                                        
                                        <li>
                                            <p style="color: #222642;">
                                                <!-- {{#_i18n}}list-of-features-1{{/_i18n}} -->
                                                Unlimited real-time email open tracking.
                                            </p>
                                        </li>
                                        <li>
                                            <p style="color: #222642;">
                                                <!-- {{#_i18n}}list-of-features-2{{/_i18n}} -->
                                                Unlimited real-time link-click tracking.
                                            </p>
                                        </li>
                                        <li>
                                            <p style="color: #222642;">
                                                <!-- {{#_i18n}}list-of-features-3{{/_i18n}} -->
                                                Real-time desktop alerts when your emails have been opened.
                                            </p>
                                        </li>
                                        <li>
                                            <p style="color: #222642;">
                                                <!-- {{#_i18n}}list-of-features-4{{/_i18n}} -->
                                                Know when your emails have not been read (via your dashboard).
                                            </p>
                                        </li>
                                        <li>
                                            <p style="color: #222642;">
                                                <!-- {{#_i18n}}list-of-features-5{{/_i18n}} -->
                                                Daily analytics on your open-rates and link-click rates (via your dashboard).
                                            </p>
                                        </li>
                                        <li>
                                            <p style="color: #222642;">
                                                <!-- {{#_i18n}}list-of-features-6{{/_i18n}} -->
                                                And so much more …
                                            </p>
                                        </li>
                                    </ul>
                                    <p style="color: #222642;font-size: 24px;padding: 0px 15px;line-height: 32px !important;">
                                        <!-- {{#_i18n}}bottom-line-1{{/_i18n}} -->
                                        So … how do you track emails with MailTag?
                                        
                                    </p>
                                    <p style="color: #222642;">
                                        <!-- {{#_i18n}}bottom-line-2{{/_i18n}} -->
                                        Simply tag your emails, click send, and you’re done! It’s really that easy.
                                    </p>
                                    <a href="https://www.youtube.com/watch?v=AB4Uxhcy-CE" style="text-decoration: none;margin: auto;">
                                        <img src="https://dfuxjald07fqx.cloudfront.net/pings-tutorial.png" alt="" border="0" style="height: auto; background: #fff; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #fff;padding-top: 30px;">
                                    </a>
                                </td>
                            </tr>
                            <!-- 1 Column Text + Button : END -->
                            <tr>
                                <td bgcolor="#ffffff" style="padding-left: 40px;padding-right: 40px; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; color: #222642;" class="schedule-email-td">
                                    <p style="margin: 0;" class="schedule-email-text">
                                        To remove the “Sent with MailTag” signature from your emails by default, all you need to do is upgrade your account to PRO<br>(only $25.00 a month, per user).
                                        <!-- {{#_i18n}}post-script{{/_i18n}} -->
                                    </p>
                                    <br>
                                        <!-- Button : END -->
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="padding: 0 40px 40px; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; color: #222542; text-align: center;" class="schedule-email-td">
                                    <a href="https://www.mailtag.io/pricing/" class="goto-pings" style="background: #3A98F8; border: 15px solid #3A98F8; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: center; text-decoration: none; display: block; border-radius: 100px;width:300px;margin: auto;">
                                    <span style="color:#ffffff;font-size: 16px">
                                        UPGRADE TO PRO
                                        <!-- {{#_i18n}}update-to-pro{{/_i18n}} -->
                                    </span>
                                </a>
                                </td>
                            </tr>
                            <!-- Signature : BEGIN -->
                            <tr>
                                <td bgcolor="#ffffff" style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;padding: 0 40px; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; color: #222542; text-align: center;" class="schedule-email-td">
                                    <p style="color: #222542;margin: 35px 0px;" class="schedule-email-text">
                                        Questions? Reply to this email and we’ll get back to you right away.
                                        <br>
                                        <br>
                                        Best,
                                        <br>
                                        MailTag Customer Success Team
                                        <!-- {{#_i18n}}signature{{/_i18n}} -->
                                    </p>
                                </td>
                            </tr>
                            <!-- Signature : END -->
                        </table>
                    </td>
                </tr>
                <!-- Signature : END -->
            </table>
            <!-- Email Body : END -->