<!-- Email Body : BEGIN -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto; text-align: center;" width="600">
                <!-- 1 Column Text + Button : BEGIN -->
                <tr>
                    <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px; text-align: center;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: 0px !important; text-align: center;" width="600">
                            <!-- 1 Column Text + Button : BEGIN -->
                            <tr>
                                <td bgcolor="#ffffff" style="border-top-left-radius: 5px;border-top-right-radius: 5px;padding: 40px 40px 0px; text-align: center;">
                                    <h1 style="margin: 0; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 28px; line-height: 32px; color: #222542; font-weight: normal;">
                                        Hi Alex! 👋
                                        <!-- {{#_i18n}}greetings{{/_i18n}} -->
                                    </h1>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" style="padding: 0 40px 10px; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; color: #222542; text-align: center;" class="schedule-email-td">
                                    <p>
                                        <img style="height: 125px;" src="https://dfuxjald07fqx.cloudfront.net/save-big-email.png">
                                    </p>
                                    <p style="margin: 0px 15px;" class="schedule-email-text">
                                        We’ve been testing out some new pricing models for a subset of<br> MailTag customers, and we’d love to offer you 3 months of <br>free PRO for switching to annual pricing.
                                        <br>
                                        <br>
                                        Would you be interested in saving some extra money by <br>upgrading to an annual plan?
                                        <br>
                                        <br>
                                        If so, all you need to do is checkout<br> with the code<b> “SAVEBIG”</b>.
                                        <br>
                                        <br>
                                        <!-- {{#_i18n}}welcome-line-1{{/_i18n}}                         -->
                                    </p>
                                </td>
                            </tr>
                            <!-- 1 Column Text + Button : END -->
                            <tr>
                                <td bgcolor="#ffffff" style="padding: 0 40px; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; color: #222542; text-align: center;" class="schedule-email-td">
                                    <a href="https://app.mailtag.io/dashboard/preferences?settings-tab=accounts" class="goto-pings" style="background: #3A98F8; border: 15px solid #3A98F8; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: center; text-decoration: none; display: block; border-radius: 100px;width:300px;margin: auto;">
                                    <span style="color:#ffffff;font-size: 16px;letter-spacing: 1px;">
                                        UPGRADE TO ANNUAL PLAN
                                        <!-- {{#_i18n}}update-now{{/_i18n}} -->
                                    </span>
                                </a>
                                </td>
                            </tr>
                            <!-- Signature : BEGIN -->
                            <tr>
                                <td bgcolor="#ffffff" style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;padding: 0 40px; font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 26px; color: #222542; text-align: center;" class="schedule-email-td">
                                    <p style="margin: 35px 0px;" class="schedule-email-text">
                                        Thanks so much for being a part of MailTag.
                                        <br><br>       
                                        It means more than you know to have <br>amazing people like you onboard.
                                        <br><br>
                                        Best,<br>
                                        Jeremy | MailTag <br>
                                        Customer Success Team<br>
                                        <!-- {{#_i18n}}signature{{/_i18n}} -->
                                    </p>
                                </td>
                            </tr>
                            <!-- Signature : END -->
                        </table>
                    </td>
                </tr>
                <!-- Signature : END -->
            </table>
            <!-- Email Body : END -->