<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width" name="viewport">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta name="x-apple-disable-message-reformatting">
        <title></title>
    </head>
    <style type="text/css">
    table p{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    </style>
    <body>
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="font-family:  Arial; font-size: 14px;line-height:20px;">
            <tr>
                <td>Hi {{userName}},
                    <p>There are less than two hours remaining to lock-in your MailTag Pro discount.</p>
                    <p>Don’t miss this opportunity to save <b>50%</b> on your Pro subscription, for life.</p>
                    <p>There will never be a better time to upgrade than right now.</p>
                    <p>👉 <b><u><a href="https://app.mailtag.io/dashboard/preferences?settings-tab=accounts&user-id={{userId}}" style="color: #518bfc !important;cursor: pointer;">Upgrade Now & Save 50%</a></u>  (normally $25 monthly, but now just $9 monthly,</b> when billed annually).</p>
                    <p>Once upgraded, you can:<br>
                        - Remove the “Sent with MailTag” watermark, by default ✉️<br>
                        - Create unlimited Ping sequences 🚀<br>
                        - Automatically BCC your emails to your favorite CRM (e.g: Salesforce) 🖥️<br>
                        - View beyond 30 days of data in your dashboard 📊<br>
                        - Receive executive customer service support ⚡
                    </p>
                    <p>Looking forward to having you onboard,<br>Alex & the MailTag Team</p>
                    <p>
                        Please note: This offer is uniquely for your <u>{{userEmail}}</u> address. <u><a href="https://app.mailtag.io/dashboard/preferences?settings-tab=accounts&user-id={{userId}}" style="color: #518bfc !important;cursor: pointer;">Grab this deal now before it expires (less than 120 minutes remaining) →</a></u>
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>