{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ title }}About Us{{/title}}
    
    {{$ content }}
        <main id="main">
            <div class="banner inner-banner">
                <div class="container">
                    <div class="banner-heading with-details">
                        <h1>
                            A Principled
                            <br>
                                Culture.
                            </br>
                        </h1>
                        <span class="banner-details">
                            Why we do what we do.
                        </span>
                    </div>
                </div>
            </div>
            <div id="holder">
                <div class="content">
                    <div class="container">
                        <div class="promo culture-promo">
                            <p>
                                <mark>
                                    We’re on a mission to increase the world’s professional productivity.
                                </mark>
                            </p>
                            <p>
                                <b>
                                    Our organization’s principles:
                                </b>
                            </p>
                        </div>
                        <ul class="accordion">
                            <li>
                                <a class="opener" href="#">
                                    <span class="principle">
                                        Principle
                                    </span>
                                    #1). Unprecedented customer obsession.
                                </a>
                                <div class="slide">
                                    <p>
                                        <i>
                                            No individual in our organization is of more importance than that of our customer.
                                        </i>
                                    </p>
                                    <p>
                                        We believe in going far beyond the extra mile to serve each of our customers to the best of our abilities to ensure customer delight.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    <span class="principle">
                                        Principle
                                    </span>
                                    #2). We pursue excellence.
                                </a>
                                <div class="slide">
                                    <p>
                                        <i>
                                            We believe in never doing less than what we are capable of doing.
                                        </i>
                                    </p>
                                    <p>
                                        To us, excellence doesn’t just mean building the best products — but rather, doing our absolute best for all of our stakeholders at every possible opportunity.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    <span class="principle">
                                        Principle
                                    </span>
                                    #3). We believe in accessibility.
                                </a>
                                <div class="slide">
                                    <p>
                                        <i>
                                            We’re on a mission to provide great value to great numbers of people.
                                        </i>
                                    </p>
                                    <p>
                                        Bringing life-changing technologies to the masses is what enables us to progress the world’s professional productivity. And in pursuit of this chief goal, we believe it’s only logical to make our software accessible to as many people as possible.
                                    </p>
                                    <p>
                                        This is the reason why we choose to make nearly all of our software’s features free and charge less than a cup of coffee for the premium version of our product.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    <span class="principle">
                                        Principle
                                    </span>
                                    #4). We believe in inclusion and diversity.
                                </a>
                                <div class="slide">
                                    <p>
                                        <i>
                                            Equal employment opportunities are what enable our collaborative community.
                                        </i>
                                    </p>
                                    <p>
                                        With over
                                        <b>
                                            40%
                                        </b>
                                        of our software engineering team led by women and 85% of our company’s employees being minorities, our company aims to be the embodiment of diversity.
                                    </p>
                                    <p>
                                        We strive to continue to be a role model for other organizations.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    <span class="principle">
                                        Principle
                                    </span>
                                    #5). We believe in giving back.
                                </a>
                                <div class="slide">
                                    <p>
                                        <i>
                                            We believe that changing lives through technology is not enough.
                                        </i>
                                    </p>
                                    
                                    <p>
                                        Each customer’s subscription to MailTag PRO further accelerates this philanthropic initiative.
                                    </p>
                                    <p>
                                        Additionally, we also provide MailTag PRO for free to 501(c)(3) non-profit organizations.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    <span class="principle">
                                        Principle
                                    </span>
                                    #6). We believe in unparalleled teamwork and transparency.
                                </a>
                                <div class="slide">
                                    <p>
                                        <i>
                                            We believe in the power of collective group decision making.
                                        </i>
                                    </p>
                                    <p>
                                        Our company’s software products are the fruits of collaborative efforts derived from our organization’s teamwork.
                                    </p>
                                    <p>
                                        We believe that in order to build a great company, it’s vital to bring together great minds who will transparently disagree with one another and use the power of collective group decision making and thoughtful disagreement to fulfill the ultimate goal of finding new ways to bring value to our customers.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    <span class="principle">
                                        Principle
                                    </span>
                                    #7). We put integrity and honesty before all else.
                                </a>
                                <div class="slide">
                                    <p>
                                        <i>
                                            Nothing surpasses the need to maintain the utmost level of integrity and honesty at all times.
                                        </i>
                                    </p>
                                    <p>
                                        We expect our people to maintain the highest ethical standards in everything they do — both inside and outside the office.
                                    </p>
                                    <p>
                                        Meaning, we expect each of our team members to live in a mindful way in which their every action would be broadcasted to the world.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        
    {{/ content }}
    
{{/ static-pages-layout }}
        
