
{{% BLOCKS }}
{{< static-pages-layout }}
{{$ title }}Custom Domain{{/title}}

{{$ styles }}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<link href="/css/home.css" rel="stylesheet">
{{/styles}}

{{$ content }}
<div class="custom-domains">

<div class="header-bg">
		<div class="header-bg-img"></div>
	</div>

	<div class="mobile-header">
		<div><img src="/images/logo-inverse.png" class="logo"></div>
		<div><a href="" class="sign-up">Sign Up</a></div>
		<div><img src="/images/menu.png" class="menu-button"></div>
	</div>

	<div class="mobile-nav">
		<div class="mobile-nav-container">
			<div class="mobile-nav-header">
				<div><img src="/images/logo.png" class="logo"></div>
				<div><img src="/images/close-new.svg" class="mobile-nav-close"></div>
			</div>
			<div class="mobile-nav-items">
				<a href="/">Home</a>
				<a href="/pricing">Pricing</a>
				<a href="https://app.mailtag.io/blog">Blog</a>
			</div>
		</div>
	</div>

	<div class="scroll-cta">
		<a class="cta" href="#">Add to Chrome - Start Free Trial</a>
	</div>

	<div class="container">

		<div class="leader">
			<div class="row">
				<div>
					<h1>Custom Tracking Domains</h1>
					<p>If you use any email tracking tool, your emails include links to a domain that you don’t control and that can negatively affect your sender score. That's why your emails can end up in spam folder.</p>
					<h2>But we have a solution. Why use custom domains?</h2>
					<ul>
						<li><span>Your own email &amp; link domain will help avoid spam filters</span></li>
						<li><span>Mask your attachment tracking with your own domain</span></li>
					</ul>

					<a href="#step1" class="custom-domain-setup-btn">Custom Domain Setup</a>
				</div>
				<div>
					<img src="/images/custom-domains/compose.png">
				</div>
			</div>		
		</div>

		<section class="content how">
			<h1>How MailTag Custom Domains work</h1>
			<div class="row">
				<div>
					<div><img src="/images/bullet.png" style="width:20px"></div>
					When you use open tracking, we add an invisible pixel to your emails. Custom domains use your URL for the pixel, further masking the tracking
				</div>
				<div>
					<div><img src="/images/bullet.png" style="width:20px"></div>
					When you use click tracking with your own custom domain, we update the links so they appear to come from you, and not MailTag
				</div>
				<div>
					<div><img src="/images/bullet.png" style="width:20px"></div>
					When you send an attachment, we convert it to a web file and link it to your domain instead of MailTag's
				</div>
			</div>
		</section>

		<img src="/images/custom-domains/path.svg" class="mobile-hide">

		<section class="content">
			<h1>Take control over your email deliverability<br>and sender reputation</h1>
			<p>Finally a way to reduce deliverability issues of your tracked emails with ease 😎</p>
		</section>
	</div>
	<div class="container step01">
		<section class="content">
			<a name="step1"></a><h2>Step 1</h2>
			<p>Create a subdomain of your domain and point it to ‘mailtag’ using CNAME entry.</p>

			<div class="image-grid">
				<div>
					<span>1: Godaddy Example: In Domain, click on DNS for the relevant Domain</span>
					<img src="/images/custom-domains/godaddy01.png" style="width:100%;">
				</div>
				<div>
					<span>2: Godaddy Example: Scroll toward the end and click on Add.</span>
					<img src="/images/custom-domains/godaddy02.png" style="width:100%;">
				</div>
				<div>
					<span>3: Godaddy Example: Create the CNAME record and save</span>
					<img src="/images/custom-domains/godaddy03.png" style="width:100%;">
				</div>
				<div>
					<span>4: Save it!</span>
					<img src="/images/custom-domains/godaddy04.png" style="width:100%;">
				</div>
			</div>
		</section>
	</div>
	<div class="container">
		<section class="content">

			<h2>Step 2</h2>
			<p>In the MailTag Dashboard, under user preferences add the subdomain in the given field.</p>

			<img src="/images/custom-domains/step02.png" style="width:100%;">


			<h2>Step 3</h2>
			<p>Reload your Gmail page.</p>

			<h2>Step 4</h2>
			<p>Email us at <a href="mailto:help@mailtag.io">help@mailtag.io</a> to verify that you successfully setup your subdomain.</p>

			<div class="end">
				<p>All set! 🏆</p>
				<p>You are ready to use the full potential of MailTag!</p>
			</div>
		</section>

		

	</div>

	

	
	<div class="get-started">
		<div class="bg-pattern"></div>
		<div class="container">
			<div class="row">
				<div>
					<h2>Get Started Today and Supercharge Your E-Mail!</h2>
					<p>Download the MailTag Browser Extension and Enjoy, it's that easy!</p>
				</div>
				<div>
					<a href="" class="cta">Start 14-Day Free Trial</a>
				</div>
			</div>
		</div>
	</div>    
        
</div>

{{/ content }}

{{$ scripts }}
    <script src="/js/customDomain.js" type="text/javascript"></script>
{{/ scripts }}

{{/ static-pages-layout }}
