<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <script id="profitwell-js" data-pw-auth="800982233c7362be92984f6363f547c1">
        (function(i,s,o,g,r,a,m){i[o]=i[o]||function(){(i[o].q=i[o].q||[]).push(arguments)};
        a=s.createElement(g);m=s.getElementsByTagName(g)[0];a.async=1;a.src=r+'?auth='+
        s.getElementById(o+'-js').getAttribute('data-pw-auth');m.parentNode.insertBefore(a,m);
		})(window,document,'profitwell','script','https://public.profitwell.com/js/profitwell.js');
		
		try{
			var currentUser = common.getUserDataFromCookie();
			if (currentUser['email']){
				profitwell('start', {'user_email': currentUser['email']});
			}
			else{
				profitwell('start', {});
			}
		}
        catch(e){

        }
        </script> -->
		<title>Cyber Monday Sale</title>
	</head>
	<body>
		<table align="left" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
			<tr>
				<td>Hey {{name}},</td>
			</tr>
			<br />
			<tr>
				<td>Due to the high number of email requests that we’ve been receiving in the last 48 hours … we will be extending the MailTag cyber sale by one more day.</td>
			</tr>
			<br />
			<tr>
				<td>We can promise you that this is the lowest price that MailTag PRO is ever going to be.</td>
			</tr>
			<br />
			<tr>
				<td>There will not be a better time to upgrade than right now.</td>
			</tr>
			<br />
			<tr>
				<td><a href="https://app.mailtag.io/dashboard/upgrade" target="_blank">Upgrade to MailTag PRO</a></td>
			</tr>
			<br />
			<tr>
				<td>Best,</td>
			</tr>
			<tr>
				<td>MailTag Customer Success Team</td>
			</tr>
			<br />
		</table>
	</body>
</html>