<link href="/lib/jquery_ui_date_picker/daterangepicker.scss" rel="stylesheet"/>
<link href="/css/dashboard.css" rel="stylesheet"/>

<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <div class="container-fluid" style="margin-left: 205px;margin-top: 1vh;background-color: white; height: 98vh;">
        <div class="row" style="margin: 12px 0px 12px 0px;min-height: 65px;">
            <div class="col-lg-7 col-xl-7 col-md-7 col-sm-7">
                <div id="username">
                </div>
            </div>
            <!-- <div class="col-lg-1 col-xl-1 hidden-md hidden-sm hidden-xs">
                </div> -->
            <div class="col-lg-5 col-xl-5 col-md-5 col-sm-5 col-xs-5">
                <select id="change-user" style="display: none;">
                    {{#subscription}}
                    <option image="{{image_url}}" value="{{email}}">
                        {{email}}
                    </option>
                    {{/subscription}}
                </select>
                <div class="pull-right" id="switch-user">
                </div>
                <img class="pull-right" id="feedback-img" src="/img/toolbar/ic-feedback.svg">
                </img>
            </div>
        </div>
        <hr id="big-hr">
            <input id="openEmailDateWise" type="hidden" value="{{#openEmailDateWise}}{{day}}{{symbol}}{{open_email}}{{symbol}}{{/openEmailDateWise}}">
                <input id="sentEmailDateWise" type="hidden" value="{{#sentEmailDateWise}}{{day}}{{symbol}}{{sent_mail}}{{symbol}}{{/sentEmailDateWise}}">
                    <input id="sentEmailsCountMonthWise" type="hidden" value="{{#sentEmailsCountMonthWise}}{{month}}{{symbol}}{{sent_mail}}{{symbol}}{{/sentEmailsCountMonthWise}}">
                        <input id="openEmailsCountMonthWise" type="hidden" value="{{#openEmailsCountMonthWise}}{{month}}{{symbol}}{{open_email}}{{symbol}}{{/openEmailsCountMonthWise}}">
                            <div class="row">
                            </div>
                            <div class="row vdivide" id="down-panel">
                                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3" id="panel-one">
                                    <div class="panel panel-default">
                                        <div class="panel-body text-center">
                                            <div class="email-count" id="email-sent-today">
                                                {{{emailSentThisDate}}}
                                                <img class="arrow-img" id="sent-mail-today-img">
                                                </img>
                                            </div>
                                            <span class="email-count-label" id="emailSentPreviousDate">
                                                {{#_i18n}}email-sent-today{{/_i18n}}
                                            </span>
                                            <input id="email-sent-yesterday" type="hidden" value="{{{emailSentPreviousDate}}}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3" id="panel-two">
                                    <div class="panel panel-default">
                                        <div class="panel-body text-center">
                                            <div class="email-count" id="email-sent-this-month">
                                                {{{emailSentThisMonth}}}
                                                <img class="arrow-img" id="sent-mail-this-month-img">
                                                </img>
                                            </div>
                                            <span class="email-count-label" id="emailSentPreviousDate">
                                                {{#_i18n}}email-sent-this-month{{/_i18n}}
                                            </span>
                                            <input id="email-sent-previous-month" type="hidden" value="{{{emailSentPreviousMonth}}}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3" id="panel-three">
                                    <div class="panel panel-default">
                                        <div class="panel-body text-center">
                                            <div class="email-count" id="avg-of-open-emails">
                                                {{{avgOfOpenEmails}}}%
                                                <img class="arrow-img" id="sent-mail-avg-month-img">
                                                </img>
                                            </div>
                                            <span class="email-count-label" id="emailSentPreviousDate">
                                                {{#_i18n}}avg-open-rate{{/_i18n}}
                                            </span>
                                            <input id="email-sent-avg-previous-month" type="hidden" value="{{{previousMonthAvgOpening}}}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3" id="panel-three">
                                    <div class="panel panel-default">
                                        <div class="panel-body text-center">
                                            <div class="email-count" id="link-sent-this-date">
                                                {{{avgOfOpenLinks}}}%
                                                <img class="arrow-img" id="sent-link-avg-month-img">
                                                </img>
                                            </div>
                                            <span class="email-count-label" id="emailSentPreviousDate">
                                                {{#_i18n}}avg-link-click-rate{{/_i18n}}
                                            </span>
                                            <input id="link-sent-avg-previous-month" type="hidden" value="{{{previousMonthAvgOpeningForLink}}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr id="big-hr">
                                <div class="row" style="background-color:white; margin: 50px 0px 50px 0px;">
                                    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4" style="padding-left: 20px;">
                                        <div id="graf-head">
                                            {{#_i18n}}emails-sent-opened{{/_i18n}}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
                                        <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2" style="padding-left: 20px;">
                                        </div>
                                        <div class="col-lg-5 col-xl-5 col-md-5 col-sm-5" style="padding-left: 20px;">
                                            <div class="wrap-select" id="date-picker">
                                                <div class="wrapper-dropdown-3" id="dd" subid="{{subId}}">
                                                    <span>
                                                        {{#_i18n}}this-year{{/_i18n}}
                                                    </span>
                                                    <img class="pull-right" id="dropdown-arrow" src="/img/dropdown-arrow.png">
                                                    </img>
                                                    <ul class="dropdown">
                                                        <li>
                                                            <a href="#" value="This Week">
                                                                {{#_i18n}}this-week{{/_i18n}}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" value="Last Week">
                                                                {{#_i18n}}last-week{{/_i18n}}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" value="This Month">
                                                                {{#_i18n}}this-month{{/_i18n}}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" value="Last Month">
                                                                {{#_i18n}}last-month{{/_i18n}}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" value="This Year">
                                                                {{#_i18n}}this-year{{/_i18n}}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" value="Last Year">
                                                                {{#_i18n}}last-year{{/_i18n}}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" id="date-picker-cal">
                                                                {{#_i18n}}custom-range{{/_i18n}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div data-backdrop="static" id="dashboard-upgrade-modal" style="display: none;">
                                                <div class="row">
                                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center">
                                                        <div class="background-circle">
                                                        </div>
                                                        <img class="dash-graph-img" src="/img/dash-graph.svg">
                                                        </img>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center dash-graph-head">
                                                        <p>
                                                            Want to see MailTag data
                                                        </p>
                                                        <p>
                                                            beyond the last 30 days?
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center dash-graph-msg">
                                                        <p>
                                                            Upgrade to PRO for just $18 (billed yearly).
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center dash-graph-btn">
                                                        <button class="btn-md upgrade-btn">
                                                            <img src="/img/flash.svg">
                                                            </img>
                                                            {{#_i18n}}menu-item-upgrade{{/_i18n}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-xl-5 col-md-5 col-sm-5" style="padding-left: 20px;">
                                        </div>
                                    </div>
                                    <div align="right" class="col-lg-4 col-xl-4 col-md-4 col-sm-4" id="tabs">
                                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-small-screen-sent">
                                            <span class="glyphicon glyphicon-one-fine-full-dot graph-indicator" id="sent">
                                            </span>
                                            <span class="graph-indicator" id="sent-text">
                                                {{#_i18n}}sent{{/_i18n}}
                                            </span>
                                        </div>
                                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-small-screen-opened" style="text-align: center;">
                                            <span class="glyphicon glyphicon-one-fine-full-dot graph-indicator" id="opened">
                                            </span>
                                            <span class="graph-indicator" id="opened-text">
                                                {{#_i18n}}opened{{/_i18n}}
                                            </span>
                                        </div>
                                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-small-screen-unopened" style="text-align: left;">
                                            <span class="glyphicon glyphicon-one-fine-full-dot graph-indicator" id="unopened">
                                            </span>
                                            <span class="graph-indicator" id="unopened-text">
                                                {{#_i18n}}unopened{{/_i18n}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 text-center" style="background-color:white;">
                                        <div id="container">
                                        </div>
                                    </div>
                                </div>
                            </hr>
                        </input>
                    </input>
                </input>
            </input>
        </hr>
    </div>
</div>
<div style="display: none;">
    <div class="localized-string" id="localized-string-sent">
        {{#_i18n}}sent{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-opened">
        {{#_i18n}}opened{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-unopened">
        {{#_i18n}}unopened{{/_i18n}}
    </div>
</div>
<div id="welcome-msg" style="display: none;">
    <div class="localized-string" id="localized-string-name-0">
        {{#_i18n}}name-0{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-0">
        {{#_i18n}}msg-0{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-1">
        {{#_i18n}}name-1{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-1">
        {{#_i18n}}msg-1{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-2">
        {{#_i18n}}name-2{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-2">
        {{#_i18n}}msg-2{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-3">
        {{#_i18n}}name-3{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-3">
        {{#_i18n}}msg-3{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-4">
        {{#_i18n}}name-4{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-4">
        {{#_i18n}}msg-4{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-5">
        {{#_i18n}}name-5{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-5">
        {{#_i18n}}msg-5{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-6">
        {{#_i18n}}name-6{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-6">
        {{#_i18n}}msg-6{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-7">
        {{#_i18n}}name-7{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-7">
        {{#_i18n}}msg-7{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-8">
        {{#_i18n}}name-8{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-8">
        {{#_i18n}}msg-8{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-9">
        {{#_i18n}}name-9{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-9">
        {{#_i18n}}msg-9{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-10">
        {{#_i18n}}name-10{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-10">
        {{#_i18n}}msg-10{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-11">
        {{#_i18n}}name-11{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-11">
        {{#_i18n}}msg-11{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-12">
        {{#_i18n}}name-12{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-12">
        {{#_i18n}}msg-12{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-13">
        {{#_i18n}}name-13{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-13">
        {{#_i18n}}msg-13{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-14">
        {{#_i18n}}name-14{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-14">
        {{#_i18n}}msg-14{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-15">
        {{#_i18n}}name-15{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-15">
        {{#_i18n}}msg-15{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-16">
        {{#_i18n}}name-16{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-16">
        {{#_i18n}}msg-16{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-17">
        {{#_i18n}}name-17{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-17">
        {{#_i18n}}msg-17{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-18">
        {{#_i18n}}name-18{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-18">
        {{#_i18n}}msg-18{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-19">
        {{#_i18n}}name-19{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-19">
        {{#_i18n}}msg-19{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-20">
        {{#_i18n}}name-20{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-20">
        {{#_i18n}}msg-20{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-21">
        {{#_i18n}}name-21{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-21">
        {{#_i18n}}msg-21{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-22">
        {{#_i18n}}name-22{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-22">
        {{#_i18n}}msg-22{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-23">
        {{#_i18n}}name-23{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-23">
        {{#_i18n}}msg-23{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-24">
        {{#_i18n}}name-24{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-24">
        {{#_i18n}}msg-24{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-25">
        {{#_i18n}}name-25{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-25">
        {{#_i18n}}msg-25{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-26">
        {{#_i18n}}name-26{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-26">
        {{#_i18n}}msg-26{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-27">
        {{#_i18n}}name-27{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-27">
        {{#_i18n}}msg-27{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-28">
        {{#_i18n}}name-28{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-28">
        {{#_i18n}}msg-28{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-29">
        {{#_i18n}}name-29{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-29">
        {{#_i18n}}msg-29{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-30">
        {{#_i18n}}name-30{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-30">
        {{#_i18n}}msg-30{{/_i18n}}
    </div>
    <div class="localized-string" id="localized-string-name-31">
        {{#_i18n}}name-31{{/_i18n}}{{userName}}
    </div>
    <div class="localized-string" id="localized-string-msg-31">
        {{#_i18n}}msg-31{{/_i18n}}
    </div>
</div>
<script src="/js/moment.js" type="text/javascript">
</script>
<script src="/lib/jquery_ui_date_picker/jquery.daterangepicker.js" type="text/javascript">
</script>
<script src="/js/dashboard.js">
</script>
<script src="https://code.highcharts.com/highcharts.js">
</script>
<script src="https://code.highcharts.com/modules/exporting.js">
</script>
