{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ styles }}
<style type="text/css">
        .submit-btn {
            box-shadow: none !important;
        }
        .submit-btn:hover {
            box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 12px 37px 0 rgba(0,0,0,0.19) !important;
        }
        .main_banner {
            background: linear-gradient(120deg, #2037C9 -35%, #0CCBFF 100%);
            width: 100%;
            height: 100vh;
            position: fixed;
        }
        .main_logo {
            position: relative;
            width: 100%;
            padding-top: 50px;
            text-align: center;
        }
        .main_section {
            width: 100%;
            position: relative;
            margin: 0 auto;
        }
        .container-as {
            max-width: 700px;
            min-height: 300px;
            background: #fff;
            position: relative;
            margin: 50px auto 0;
            border-radius: 6px;
            padding: 0 70px 22px;
            margin-bottom: 40px;
        }
        .dealfuel {
            width: 100%;
            min-height: 70px;
            text-align: center;
            padding-top: 30px;
        }
        .main_heading {
            text-align: center;
            padding-top: 15px;
            color: #2f3d4c;
            margin-bottom: 0;
        }
        .main_heading_sub {
            font-weight: normal;
            font-size: 16px;
            text-align: center;
            color: #384654;
        }
        .main_pro {
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0 5px;
        }
        .main_price{
            text-align: center;
            font-size: 64px;
            line-height: 64px;
            color: #000;
            margin-bottom: 10px;
        }
        .main_code {
            width: 100%;
            color: rgb(14, 169, 110);
            position: relative;
            padding-bottom: 10px;
        }
        .main_code span {
            position: absolute;
            right: 0;
            color: rgb(43, 158, 255);
        }
        .main_btn {
            width: 100%;
            margin-top: 20px;
            border-radius: 50px;
            letter-spacing: 1.3px;
            height: 60px;
        }
        .main_zero{
            font-size: 15px;
            text-align: center;
            padding-top: 15px;
        }
        .main_learn {
            width: 100%;
            text-align: center;
            margin-bottom: 100px;
            color: #fff;
            text-decoration: underline;
            font-size: 16px;
        }
        .main_promo {
            font-size: 14px;
            margin: 40px 0 15px;
            color: #000;
            font-weight: bold;
        }


        
        .text-align-center {
            text-align: center;
        }
        .promo-outcome{
            padding-top: 5px;
            height: 20px;
        }
        .promo-outcome .promocode-earlybird-error{
            margin-top: 0px !important;

        }
        .outcome .card-no-error, .outcome .card-exp-error, .outcome .card-cvc-error, .outcome .promocode-earlybird-error {
            color: red;
            text-align: left;
            margin-top: 4px;
            overflow: visible;
            white-space: nowrap;
        }
        .outcome .visible {
            display: block !important;
        }
        .promocode-input{
            text-transform: uppercase;
        }
        .cover-layout {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(34, 38, 66, 0.5);
            z-index: 999999999;
            width: 100%;
            height: 100%;
        }
        @keyframes spinner {
            to {
                transform: rotate(360deg);
            }
        }

        .spinner:before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 42px;
            height: 42px;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
            border: 3px solid rgba(204, 204, 204, 0.2);
            border-top-color: #fff;
            animation: spinner .6s linear infinite;
        }
        .update-banner{
            height: 505px;
        }
</style>
{{/styles}}
{{$ header }}
        {{> ./components/headerStripped }}
    {{/ header }}

    {{$ content }}
<style type="text/css">
    #nav{
        display: none;
    }
</style>
<div class="cover-layout">
    <div class="spinner">
    </div>
</div>
<main class="success-page" id="main">
    <div class="banner inner-banner center-banner update-banner pay-banner">
        <div class="container">
            <div class="banner-heading with-details">
                
            </div>
        </div>
    </div>
    <div id="holder">
        <div class="content">
            <div class="container payment-popup-container">
                <div class="form-holder container-as">
                    <div class="dealfuel">
                        <img src="/images/dealfuel.png">
                    </div>
                    <div class="payment-popup-heading" style="text-align: center; padding-top: 15px; color: #2f3d4c; margin-bottom: 0;">
                        Supercharge your Gmail
                    </div>
                    <form action="#" class="upgrate-form form-validation" method="get">
                        <div class="form-box">
                            <div class="upgrate-box">
                                <div class="price-box input-content" style="margin:0 auto;">
                                    <div class="subheading" style="font-size: 14px; font-weight: bold; text-align: center; padding: 10px 0 5px;">
                                        PRO
                                    </div>
                                    <strike><div class="heading price-elements">
                                        <span class="cost" data-price="yearly">
                                            <span class="payable-cost"  style="text-align: center; font-size: 64px; line-height: 64px; color: #000; margin-bottom: 10px;">
                                                $9.99/m 
                                            </span>
                                        </span>
                                        <span class="cost another-cost" data-price="monthly" style="text-align: center; font-size: 64px; line-height: 64px; color: #000; margin-bottom: 10px;">
                                            $12.99/m
                                        </span>
                                    </div></strike>
                                    <div class="price-elements price-period" style="text-align: center;">
                                        <span class="cost" data-price="yearly" style="font-weight: normal; font-size: 16px; text-align: center; color: #384654;">
                                            per user, billed yearly
                                        </span>
                                        <span class="cost another-cost" data-price="monthly" style="font-weight: normal; font-size: 16px; text-align: center; color: #384654;">
                                            per user, billed monthly
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="promocode-row" style="margin-top: 10%;">
                                <label style="font-size: 14px;margin: 40px 0 15px;color: #000;font-weight: bold;font-family: Arial, Helvetica, sans-serif;">
                                    YOUR PROMO CODE
                                </label>
                                <input class="promocode-input" placeholder="Promocode" type="text">
                                    <a class="button promocode-apply" href="">
                                        Apply
                                    </a>
                                </input>
                                <div class="outcome promo-outcome">
                                    <div class="promocode-earlybird-error" style="display: none;">
                                        Oops! Code is only for yearly plan!
                                    </div>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <input class="pay-btn-coupon-dealfuel submit-btn" type="submit" value="Start plan for free">
                                </input>
                            </div>
                            <div class="text-left" style="text-align:center; display: block; color: #637282; margin: 0px 0px 20px 0px; font-size:16px;">
                                You'll be charged 0 USD.<br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main_learn">
                <a href="https://app.mailtag.io">
                    Learn about Mailtag
                </a>
            </div>
        </div>
    </div>
</main>
{{/ content }}

    {{$ scripts}}
<script src="/js/base64.min.js" type="text/javascript">
</script>
<!-- <script src="/js/stripe.min.js" type="text/javascript"> -->
<!-- </script> -->
<script src="/js/dealFuel.js" type="text/javascript">
</script>
{{/scripts}}
{{/ static-pages-layout }}
