<!DOCTYPE html>
<html>
<head>
    <title>MailTag | Enable Push Notifications</title>
    <meta charset="utf-8">
    <meta content="text/html; charset=UTF-8" name="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="OMG-Verify-V1" content="458867-3eb18e63-beef-4f85-907f-046732aaec99" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css">

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jqueryui/jquery-ui.min.js"></script>‌​
    <script src="/lib/bootstrap/dist/js/material.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/mustache/mustache.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-dialog.min.js"></script>
    <script src="/js/base64.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/enable-push.js"></script>
    <!-- <script id="profitwell-js" data-pw-auth="800982233c7362be92984f6363f547c1">
        (function(i,s,o,g,r,a,m){i[o]=i[o]||function(){(i[o].q=i[o].q||[]).push(arguments)};
        a=s.createElement(g);m=s.getElementsByTagName(g)[0];a.async=1;a.src=r+'?auth='+
        s.getElementById(o+'-js').getAttribute('data-pw-auth');m.parentNode.insertBefore(a,m);
        })(window,document,'profitwell','script','https://public.profitwell.com/js/profitwell.js');
        try{
            var currentUser = common.getUserDataFromCookie();
            if (currentUser['email']){
                profitwell('start', {'user_email': currentUser['email']});
            }
            else{
                profitwell('start', {});
            }
        }
        catch(e){

        }
        </script> -->
    <style type="text/css">
    @font-face {
  font-family: 'AvenirNextLTPro';
  src:  url('/font/AvenirNextLTPro-Regular.ttf') format('truetype');
}
body {
        font-family: 'AvenirNextLTPro', Arial, sans-serif;
    }
    .loading{
        display: none;
        background: rgba(0, 0, 0, 0.3);
        z-index: 999999;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
    }
    .cssload-container {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
    }

    .cssload-thing {
        height: 29px;
        width: 6px;
        background: rgb(242,242,242);
        position: absolute;
        animation: somecssload-thing_maybe_cool_idk 2.3s infinite ease;
            -webkit-animation: somecssload-thing_maybe_cool_idk 2.3s infinite ease;
    }
    .cssload-thing:nth-child(1) {
        transform: rotate(30deg);
            -webkit-transform: rotate(30deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 0.29s;
            -webkit-animation-delay: 0.29s;
    }
    .cssload-thing:nth-child(2) {
        transform: rotate(60deg);
            -webkit-transform: rotate(60deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 0.58s;
            -webkit-animation-delay: 0.58s;
    }
    .cssload-thing:nth-child(3) {
        transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 0.86s;
            -webkit-animation-delay: 0.86s;
    }
    .cssload-thing:nth-child(4) {
        transform: rotate(120deg);
            -webkit-transform: rotate(120deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 1.15s;
            -webkit-animation-delay: 1.15s;
    }
    .cssload-thing:nth-child(5) {
        transform: rotate(150deg);
            -webkit-transform: rotate(150deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 1.44s;
            -webkit-animation-delay: 1.44s;
    }
    .cssload-thing:nth-child(6) {
        transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 1.73s;
            -webkit-animation-delay: 1.73s;
    }
    .cssload-thing:nth-child(7) {
        transform: rotate(210deg);
            -webkit-transform: rotate(210deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 2.01s;
            -webkit-animation-delay: 2.01s;
    }
    .cssload-thing:nth-child(8) {
        transform: rotate(240deg);
            -webkit-transform: rotate(240deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 2.3s;
            -webkit-animation-delay: 2.3s;
    }
    .cssload-thing:nth-child(9) {
        transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 2.59s;
            -webkit-animation-delay: 2.59s;
    }
    .cssload-thing:nth-child(10) {
        transform: rotate(300deg);
            -webkit-transform: rotate(300deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 2.88s;
            -webkit-animation-delay: 2.88s;
    }
    .cssload-thing:nth-child(11) {
        transform: rotate(330deg);
            -webkit-transform: rotate(330deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 3.16s;
            -webkit-animation-delay: 3.16s;
    }
    .cssload-thing:nth-child(12) {
        transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        transform-origin: 50% -200%;
            -webkit-transform-origin: 50% -200%;
        animation-delay: 3.45s;
            -webkit-animation-delay: 3.45s;
    }



    @keyframes somecssload-thing_maybe_cool_idk {
        50% {
            background: rgb(0,0,0);
            transform-origin: 50% -170%;
        }
    }

    @-webkit-keyframes somecssload-thing_maybe_cool_idk {
        50% {
            background: rgb(0,0,0);
            -webkit-transform-origin: 50% -170%;
        }
    }
    html, body {
      height: 100%;
      background-color: #F8F8F8; 
    }
    h3.activation-message {
        font-weight: 600px;
    }
    h3.activation-message {
        padding-bottom: 15px;
    }
        .google{
    background: #fff;
    border: none;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777;
    text-transform: none;
    text-shadow: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    padding-left: 35px;
    background-image: url(/img/google-g.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 13px 50%;
    transition: all .2s ease-out;
    display: inline-block;
    height: 50px;
    width: 220px;
    cursor: pointer;
    }
    .google h4{
        margin-top: 15px;
    }
    .google:hover,
    .google:active,
    .google:focus{
        text-decoration: none;
        transform: translate3d(0,-2px,0);
        box-shadow: 0 3px 6px rgba(0,0,0,.1);
        color: #4285f4;
    }
    .vertical-center {
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.panel-msg {
    font-size: 33px
    font-weight: medium;
    border: none;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777;
    text-transform: none;
    text-shadow: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}


    </style>
</head>
<body>
    
<div class="loading">
  <div class="cssload-container">
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
    <div class="cssload-thing"></div>
  </div>
</div>
<div class="vertical-center">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
                
                <div>
                    <div class="panel-heading text-center panel-msg" style="padding-bottom:25px;background-color:#ffffff;">
                        <img src="../img/icon-128.png" height="80" width="auto">
                        
                        <h3 class="activation-message">Click allow notifications to receive real-time alerts.</h3>
                        <img src="../img/enable-push.gif" style="box-shadow: 0px 0px 20px #ccc;-webkit-box-shadow: 0px 0px 20px #ccc;-moz-box-shadow: 0px 0px 20px #ccc;">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3"></div>
        </div>
    </div>
</div>


</html>
