<!DOCTYPE html>
<html class="loader">
    <head>
        <link href="/img/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="120x120"/>
        <link href="/img/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
        <link href="/img/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
        <link href="/img/favicon/site.webmanifest" rel="manifest"/>
        <link color="#5bbad5" href="/img/favicon/safari-pinned-tab.svg" rel="mask-icon"/>
        <meta content="#da532c" name="msapplication-TileColor"/>
        <meta content="#ffffff" name="theme-color"/>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
                <title>
                    EU Addendum to Privacy Policy | MailTag
                </title>
                <link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet"/>
                <link href="/css/style.css" media="all" rel="stylesheet">
                </link>
                <link href="https://chrome.google.com/webstore/detail/obojiopibnbnmdbegnaghfbooofdnnmp" rel="chrome-webstore-item"/>
            </meta>
        </meta>
        <!-- Facebook Pixel Code -->
        <!-- <script>
            !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '419304145193430');
          fbq('track', 'PageView');
        </script>
        <script id="profitwell-js" data-pw-auth="800982233c7362be92984f6363f547c1">
        (function(i,s,o,g,r,a,m){i[o]=i[o]||function(){(i[o].q=i[o].q||[]).push(arguments)};
        a=s.createElement(g);m=s.getElementsByTagName(g)[0];a.async=1;a.src=r+'?auth='+
        s.getElementById(o+'-js').getAttribute('data-pw-auth');m.parentNode.insertBefore(a,m);
        })(window,document,'profitwell','script','https://public.profitwell.com/js/profitwell.js');
        var currentUser = common.getUserDataFromCookie();
        if (currentUser['email']){
            profitwell('start', {'user_email': currentUser['email']});
        }
        else{
            profitwell('start', {});
        }
        
        </script>
        <noscript>
            <img height="1" src="https://www.facebook.com/tr?id=419304145193430&ev=PageView&noscript=1" style="display:none" width="1"/>
        </noscript> -->
        <!-- End Facebook Pixel Code -->

        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '419304145193430');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=419304145193430&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

        <script type=“text/javascript”>
            _linkedin_partner_id = “1648418";
            window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
            window._linkedin_data_partner_ids.push(_linkedin_partner_id);
            </script><script type=“text/javascript”>
            (function(){var s = document.getElementsByTagName(“script”)[0];
            var b = document.createElement(“script”);
            b.type = “text/javascript”;b.async = true;
            b.src = “https://snap.licdn.com/li.lms-analytics/insight.min.js”;
            s.parentNode.insertBefore(b, s);})();
        </script>
        <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1648418&fmt=gif" />
        </noscript>


        <!-- Pixel Code for https://app.flockrocket.io/ -->
        <!-- <script async src="https://app.flockrocket.io/pixel/4d4cbf32d567c7e9dc3fce6625eca0c1"></script> -->
        <!-- END Pixel Code -->
    </head>
</html>
<body>
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <div class="header-hold">
                    <div class="logo">
                        <a href="/">
                            <img alt="MailTag" height="27" src="/images/logo.png" width="157">
                                <img alt="MailTag" class="logo-fixed" height="24" src="/images/logo-fixed.png" width="130"/>
                            </img>
                        </a>
                    </div>
                    <nav id="nav">
                        <a class="btn lightbox-form" href="#popup1">
                            Sign up
                        </a>
                        <a class="button-opener nav-opener" href="#">
                            <span>
                                Open
                            </span>
                        </a>
                        <div class="nav-drop">
                            <div class="hold-drop">
                                <ul>
                                    <li>
                                        <a href="/#features">
                                            Features
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/pricing">
                                            Pricing
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://mailtag.io" target="_blank">
                                            Blog
                                        </a>
                                    </li>
                                </ul>
                                <a class="btn add-chrome" href="#">
                                    Add to Chrome
                                </a>
                                <a class="btn email-link lightbox-form" href="#popup1">
                                    Email me link
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div class="popup-holder">
            <div class="lightbox-demo" id="popup1">
                <div class="container">
                    <div class="step-01">
                        <h2>
                            Sign up
                        </h2>
                        <p>
                            MailTag is exclusively available for desktop. Please provide your email and we'll send you a download link.
                        </p>
                        <form action="#" class="sign-form form-validation" method="get">
                            <div class="input-wrap">
                                <input data-required="true" placeholder="Your Email" type="email">
                                </input>
                            </div>
                            <div class="wrap-button">
                                <button class="btn" type="submit">
                                    Send a link
                                </button>
                                <span class="error">
                                    Wrong email.
                                </span>
                            </div>
                        </form>
                        <a class="close-popup" data-fancybox-close="" href="#">
                        </a>
                    </div>
                    <div class="step-02 text-center hidden-step">
                        <h2>
                            Success!
                        </h2>
                        <p>
                            Please check your email.
                        </p>
                        <div class="close-wrap">
                            <a class="btn" data-fancybox-close="" href="#">
                                Close
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main id="main">
            <div class="banner inner-banner">
                <div class="container">
                    <div class="banner-heading">
                        <h1>
                            EU Addendum
                            <br>
                                to Privacy Policy.
                            </br>
                        </h1>
                    </div>
                </div>
            </div>
            <div id="holder">
                <div class="content">
                    <div class="container">
                        <p style="display:block;">
                            <i>
                                Last Updated & Effective date: May 24, 2018
                            </i>
                        </p>
                        <ul class="accordion">
                            <li>
                                <a class="opener" href="#">
                                    EU Residents
                                </a>
                                <div class="slide">
                                    <p>
                                        If you are a resident of the European Union (“EU”), United Kingdom, Lichtenstein, Norway, or Iceland, you may have additional rights under the EU General Data Protection Regulation (the “GDPR”) with respect to your Personal Data, as outlined below.
                                    </p>
                                    <p>
                                        For this GDPR Privacy Notice, we use the terms “Personal Data” and “processing” as they are defined in the GDPR, but “Personal Data” generally means information that can be used to individually identify a person, and “processing” generally covers actions that can be performed in connection with data such as collection, use, storage and disclosure. The MailTag Company, LLC. (“MailTag”) will be the controller of your Personal Data processed in connection with the Services.
                                    </p>
                                    <p>
                                        Where applicable, this GDPR Privacy Notice is intended to supplement, and not replace, MailTag’s Privacy Policy at
                                        <a href="https://www.mailtag.io/privacy-policy" style="color:#518bfc;" target="_blank">
                                            https://www.mailtag.io/privacy-policy
                                        </a>
                                        (the “Privacy Policy”). If there are any conflicts between this GDPR Privacy Notice and MailTag’s Privacy Policy, the policy or portion that is more protective of Personal Data shall control to the extent of such conflict.
                                    </p>
                                    <p>
                                        If you have any questions about this notice or whether any of the following applies to you, please contact us at
                                        <a href="mailto:Help@MailTag.io" style="color:#518bfc;">
                                            Help@MailTag.io</a>.
                                    </p>
                                    <p>
                                        Note that we may also process Personal Data of our customers’ end users or employees in connection with our provision of Services to customers, in which case we are the processor of Personal Data. If we are the processor of your Personal Data (i.e., not the controller), please contact the controller party in the first instance to address your rights with respect to such data.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    What Personal Data Do We Collect From You?
                                </a>
                                <div class="slide">
                                    <p>
                                        We collect Personal Data about you when you provide such information directly to us, when third parties such as our business partners or service providers provide us with Personal Data about you, or when Personal Data about you is automatically collected in connection with your use of our Services.
                                    </p>
                                    <p style="margin-bottom: 10px;">
                                        <b>
                                            Personal Contact Details:
                                        </b>
                                        Full Name, Address, E-mail Address, Phone Number
                                    </p>
                                    <ul style="list-style-type: disc;margin: 0 0 0rem 1rem;">
                                        <li>
                                            <b>
                                                Purpose for Prospects:
                                            </b>
                                            We process this type of Personal Data in order to sell and market our Services to potential customers who have requested demonstrations of our Services (or more commonly referred to as a “Demo”).
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Legal Grounds:
                                            </b>
                                            We process this type of Personal Data based on the consent you expressly grant to us at the time we collect such Personal Data.
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Purpose for Customers:
                                            </b>
                                            We process this type of Personal Data in order to create an account for you and to provide you our Services.
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Legal Grounds:
                                            </b>
                                            We process this type of Personal Data for our legitimate interests in providing the Services and associated support.
                                        </li>
                                    </ul>
                                    <p style="margin-top: 25px;margin-bottom: 10px;">
                                        <b>
                                            Other Personal Details:
                                        </b>
                                        Type of Browser, page and/or feature selection, certain cookie information, Device type, Device ID, IP Address and associated Location Data.
                                    </p>
                                    <ul style="list-style-type: disc;margin: 0 0 0rem 1rem;">
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Purpose:
                                            </b>
                                            We process this type of Personal Data in order to provide you our Services.
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Legal Grounds:
                                            </b>
                                            We process this type of Personal Data for our legitimate interests in providing the Services and performing web analytics to improve the Services and understand how our customers interact with the Services.
                                        </li>
                                    </ul>
                                    <p style="margin-top: 25px;margin-bottom: 10px;">
                                        <b>
                                            Personal Contact Details of Your Recipients:
                                        </b>
                                        Type of Browser, page and/or feature selection, certain cookie information, Device type, Device ID, IP Address and associated Location Data
                                    </p>
                                    <ul style="list-style-type: disc;margin: 0 0 0rem 1rem;">
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Purpose:
                                            </b>
                                            We process this type of Personal Data in order to provide you our Services.
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Legal Grounds:
                                            </b>
                                            We process this type of Personal Data for our legitimate interests in providing the Services and associated support.
                                        </li>
                                    </ul>
                                    <p style="margin-top: 25px;margin-bottom: 10px;">
                                        <b>
                                            Other Personal Details of Your Recipients:
                                        </b>
                                        Type of browser, Device ID, IP Address and associated Location Data of your email recipients
                                    </p>
                                    <ul style="list-style-type: disc;margin: 0 0 0rem 1rem;">
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Purpose:
                                            </b>
                                            We process this type of Personal Data in order to provide you our Services, should you decide to collect these data about your recipients
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Legal Grounds:
                                            </b>
                                            We process this type of Personal Data for our legitimate interests in providing the Services.
                                        </li>
                                    </ul>
                                    <p style="margin-top: 25px;margin-bottom: 10px;">
                                        <b>
                                            Email content:
                                        </b>
                                        Content of Customer’s email drafts (temporary storage until such draft email is sent), email subject lines, email content in Sequences and Templates, email content in emails shared via a share link or shared in your live feed.
                                    </p>
                                    <ul style="list-style-type: disc;margin: 0 0 0rem 1rem;">
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Purpose:
                                            </b>
                                            We process this type of Personal Data in order to provide you our Services.
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Legal Grounds:
                                            </b>
                                            We process this type of Personal Data for our legitimate interests in providing the Services. We encourage Customers not to include any highly sensitive information in their emails to avoid transferring that data to our servers (even if only temporarily).
                                        </li>
                                    </ul>
                                    <p style="margin-top: 25px;margin-bottom: 10px;">
                                        <b>
                                            Calendar content and contacts:
                                        </b>
                                        Content of Customer’s Google Calendar, Google Contacts, and company domain directory.
                                    </p>
                                    <ul style="list-style-type: disc;margin: 0 0 0rem 1rem;">
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Purpose:
                                            </b>
                                            We process this type of Personal Data in order to provide you our Services.
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Legal Grounds:
                                            </b>
                                            We process this type of Personal Data for our legitimate interests in providing the Services.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    How and With Whom Do We Share Your Data?
                                </a>
                                <div class="slide">
                                    <p>
                                        We share Personal Data with vendors, third party service providers and agents who work on our behalf and provide us with services related to the purposes described in this Privacy Policy or our Terms of Service. A list of such vendors, third party service providers and agents can be found here:
                                        <a href="http://MailTag.io/subprocessors" style="color:#518bfc;" target="_blank">
                                            http://MailTag.io/subprocessors</a>.
                                    </p>
                                    <p>
                                        We also share Personal Data when necessary to complete a transaction initiated or authorized by you or provide you with a product or service you have requested. In addition to those set forth above, these parties also include:
                                    </p>
                                    <ul style="list-style-type: disc;margin: 0 0 0rem 1rem;">
                                        <li style="margin:0px 0px 5px 0px;">
                                            Other users (where you post information publicly or as otherwise necessary to effect a transaction initiated or authorized by you through the Services).
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            Social media services (if you interact with them through your use of the Services).
                                        </li>
                                        <li>
                                            Third party business partners who you access through the Services (e.g. third party applications).
                                        </li>
                                        <li>
                                            Other parties authorized by you
                                        </li>
                                    </ul>
                                    <p>
                                        We also share information with third parties when you have given us consent to do so (as indicated at the point such information is collected).
                                    </p>
                                    <p style="margin-top: 25px;margin-bottom: 10px;">
                                        We also share Personal Data when we believe it is necessary to:
                                    </p>
                                    <ul style="list-style-type: disc;margin: 0 0 0rem 1rem;">
                                        <li style="margin:0px 0px 5px 0px;">
                                            Comply with applicable law or respond to valid legal process, including from law enforcement or other government agencies
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            Protect us, our business or our users, for example to enforce our Terms of Service, prevent spam or other unwanted communications and investigate or protect against fraud
                                        </li>
                                        <li>
                                            Maintain the security of our products and services
                                        </li>
                                    </ul>
                                    <p>
                                        If we choose to buy or sell assets, user information is typically one of the transferred business assets. Moreover, if we, or substantially all of our assets, were acquired, or if we go out of business or enter bankruptcy, user information would be one of the assets that is transferred or acquired by a third party, and we would share Personal Data with the party that is acquiring our assets. You acknowledge that such transfers may occur, and that any acquirer of us or our assets may continue to use your Personal Information as set forth in this policy.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    How Long Do We Retain Your Personal Data?
                                </a>
                                <div class="slide">
                                    <p>
                                        We retain Personal Data about you for as long as you have an open account with us and for 3 years after you close your account. In some cases we retain Personal Data for longer, if doing so is necessary to comply with our legal obligations, resolve disputes or collect fees owed, or is otherwise permitted or required by applicable law, rule or regulation. Afterwards, we retain some information in a depersonalized or aggregated form but not in a way that would identify you personally. However, user signup data (your name, your email address, and the fact that you were a MailTag user) may be retained in third-party analytics services beyond closure of your account, unless you request that your data be deleted.
                                    </p>
                                    <p>
                                        Such requests may be emailed to
                                        <a href="mailto:Delete@MailTag.io" style="color:#518bfc;">
                                            Delete@MailTag.io</a>.
                                    </p>
                                    <p>
                                        Whenever you interact with our Services, we automatically receive and record information on our server logs from your browser or device which may include “cookie” information. “Cookies” are identifiers we transfer to your browser or device that allow us to recognize your browser or device and tell us how and when pages and features in our Services are visited and by how many people. For more information on our cookies and their expiration times, please review our Cookie Policy at
                                        <a href="https://www.mailtag.io/cookies-policy" style="color:#518bfc;" target="_blank">
                                            https://www.mailtag.io/cookies-policy</a>.
                                    </p>
                                    <p>
                                        Note that in the past, MailTag used cookies with longer expiration times. You may delete your cookies to receive the new cookes.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    What Security Measures Do We Use?
                                </a>
                                <div class="slide">
                                    <p>
                                        We seek to protect Personal Data using appropriate technical and organizational measures based on the type of Personal Data and applicable processing activity. For example, MailTag is continuously implementing and updating administrative, technical, and physical security measures to help protect your information against unauthorized access, loss, destruction or alteration. Some of the safeguards we use to protect Personal Data are firewalls, data encryption, and information access controls.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    Personal Data of Children
                                </a>
                                <div class="slide">
                                    <p>
                                        As noted in our Terms of Use at
                                        <a href="https://www.mailtag.io/terms-conditions" style="color:#518bfc;" target="_blank">
                                            https://www.mailtag.io/terms-conditions
                                        </a>
                                        , we do not knowingly collect or solicit Personal Data from anyone under the age of 16. If you are under 16, please do not attempt to register for the Services or send any Personal Data about yourself to us. If we learn that we have collected Personal Data from a child under age 16, we will delete that information as quickly as possible.
                                    </p>
                                    <p>
                                        If you believe that a child under 16 may have provided us Personal Data, please contact us at
                                        <a href="mailto:Help@MailTag.io" style="color:#518bfc;">
                                            Help@MailTag.io</a>.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    What Rights Do You Have Regarding Your Personal Data?
                                </a>
                                <div class="slide">
                                    <p>
                                        You have certain rights with respect to your Personal Data, including those set forth below. For more information about these rights, or to submit a request, please email
                                        <a href="mailto:Help@MailTag.io" style="color:#518bfc;">
                                            Help@MailTag.io</a>.
                                    </p>
                                    <p>
                                        Please note that in some circumstances, we may not be able to fully comply with your request, such as if it is frivolous or extremely impractical, if it jeopardizes the rights of others, or if it is not required by law, but in those circumstances, we will still respond to notify you of such a decision. In some cases, we may also need to you to provide us with additional information, which may include Personal Data, if necessary to verify your identity and the nature of your request.
                                    </p>
                                    <ul style="list-style-type: disc;margin: 0 0 0rem 1rem;">
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Access:
                                            </b>
                                            You can request more information about the Personal Data we hold about you and request a copy of such Personal Data. You can also access certain of your Personal Data by accessing your account settings.
                                        </li>
                                        <li style="margin:0px 0px 5px 0px;">
                                            <b>
                                                Rectification:
                                            </b>
                                            If you believe that any Personal Data we are holding about you is incorrect or incomplete, you can request that we correct or supplement such data. You can also correct some of this information directly by accessing your account settings.
                                        </li>
                                        <li>
                                            <b>
                                                Erasure:
                                            </b>
                                            You can request that we erase some or all of your Personal Data from our systems.
                                        </li>
                                        <li>
                                            <b>
                                                Withdrawal of Consent:
                                            </b>
                                            If we are processing your Personal Data based on your consent (as indicated at the time of collection of such data), you have the right to withdraw your consent at any time. Please note, however, that if you exercise this right, you may have to then provide express consent on a case-by-case basis for the use or disclosure of certain of your Personal Data, if such use or disclosure is necessary to enable you to utilize some or all of our Services.
                                        </li>
                                        <li>
                                            <b>
                                                Portability:
                                            </b>
                                            You can ask for a copy of your Personal Data in a machine-readable format. You can also request that we transmit the data to another controller where technically feasible.
                                        </li>
                                        <li>
                                            <b>
                                                Objection:
                                            </b>
                                            You can contact us to let us know that you object to the further use or disclosure of your Personal Data for certain purposes.
                                        </li>
                                        <li>
                                            <b>
                                                Restriction of Processing:
                                            </b>
                                            You can ask us to restrict further processing of your Personal Data.
                                        </li>
                                        <li>
                                            <b>
                                                Right to File Complaint:
                                            </b>
                                            s You have the right to lodge a complaint about MailTag’s practices with respect to your Personal Data with the supervisory authority of your country or EU Member State.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    Transfers of Personal Data
                                </a>
                                <div class="slide">
                                    <p>
                                        The Services are hosted and operated in the United States (“U.S.”) through MailTag and its service providers, and if you do not reside in the U.S., laws in the U.S. may differ from the laws where you reside. By using the Services, you acknowledge that any Personal Data about you, regardless of whether provided by you or obtained from a third party, is being provided to MailTag in the U.S. and will be hosted on U.S. servers, and you authorize MailTag to transfer, store and process your information to and in the U.S., and possibly other countries.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="opener" href="#">
                                    What If You Have Questions Regarding Your Personal Data?
                                </a>
                                <div class="slide">
                                    <p>
                                        If you have any questions about this GDPR Privacy Notice or our data practices generally, please contact us using the following information:
                                    </p>
                                    <p>
                                        <b>
                                            Name:
                                        </b>
                                        The MailTag Company, LLC.
                                        <br/>
                                        <b>
                                            Contact Email Address:
                                        </b>
                                        <a href="mailto:Help@MailTag.io" style="color:#518bfc;">
                                            Help@MailTag.io
                                        </a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer id="footer">
            <div class="container">
                <div class="panel">
                    <div class="col">
                        <div class="logo-footer">
                            <img alt="MailTag" height="27" src="/images/logo.png" width="157"/>
                        </div>
                        <span class="copyright">
                            The MailTag Company, LLC.
                            <br>
                                © 2017. All Rights Reserved,
                            </br>
                        </span>
                    </div>
                    <div class="col">
                        <div class="col-box">
                            <div class="col">
                                <nav>
                                    <h6>
                                        Resources
                                    </h6>
                                    <ul>
                                        <!-- <li>
                                            <a href="https://mailtag.growsumo.com/" target="_blank">
                                                Affiliate Program
                                            </a>
                                        </li> -->
                                        <li>
                                            <a href="https://mailtag.io" target="_blank">
                                                Blog
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </nav>
                            </div>
                            <div class="col">
                                <nav>
                                    <h6>
                                        Company
                                    </h6>
                                    <ul>
                                        
                                    </ul>
                                </nav>
                            </div>
                            <div class="col">
                                <nav>
                                    <h6>
                                        Legal
                                    </h6>
                                    <ul>
                                        <li>
                                            <a href="/terms-conditions">
                                                Terms & Conditions
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/privacy-policy">
                                                Privacy Policy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/cookies-policy">
                                                Cookies Policy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/disclosure-policy">
                                                Disclosure Policy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/gdpr">
                                                GDPR
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col">
                            <nav>
                                <h6>
                                    Contact
                                </h6>
                                <ul>
                                    <li>
                                        <div class="col-row">
                                            <span>
                                                Ninja-Fast Customer Service
                                            </span>
                                        </div>
                                        <div class="col-row">
                                            <a href="mailto:help@mailtag.io">
                                                Help@MailTag.io
                                            </a>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <div class="col-row">
                                            <span>
                                                Business Development
                                            </span>
                                        </div>
                                        <div class="col-row">
                                            <a href="mailto:business@mailtag.io">
                                                Business@MailTag.io
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-row">
                                            <span>
                                                Ideas and Feedback
                                            </span>
                                        </div>
                                        <div class="col-row">
                                            <a href="mailto:ideas@mailtag.io">
                                                ldeas@MailTag.io
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-row">
                                            <span>
                                                Careers
                                            </span>
                                        </div>
                                        <div class="col-row">
                                            <a href="mailto:careers@mailtag.io">
                                                Careers@MailTag.io
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-row">
                                            <span>
                                                Everything Else
                                            </span>
                                        </div>
                                        <div class="col-row">
                                            <a href="mailto:hi@mailtag.io">
                                                Hi@MailTag.io
                                            </a>
                                        </div>
                                    </li> -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="bar">
                    <div class="col">
                        <p>
                            Gmail is a registered trademark of Google.
                        </p>
                        <p>
                            MailTag is not affiliated with Google or Gmail.
                        </p>
                    </div>
                    <div class="col">
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/MailTagio" target="_blank">
                                    <span class="icon-facebook">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/MailTagio" target="_blank">
                                    <span class="icon-twitter">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/MailTag" target="_blank">
                                    <span class="icon-instagram">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://mailtag.io" target="_blank">
                                    <span class="icon-medium">
                                    </span>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="https://plus.google.com/u/1/107399361465345470781" target="_blank">
                                    <span class="icon-google">
                                    </span>
                                </a>
                            </li> -->
                            <li>
                                <a href="https://www.youtube.com/channel/UChx5XtBWr3y9WdUctJeuhgQ" target="_blank">
                                    <span class="icon-youtube">
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-104408161-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-104408161-1');
    </script>
    <script defer="" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js", defer><\/script>')
    </script>
    <script defer="" src="/js/config.js" type="text/javascript">
    </script>
    <script defer="" src="/js/homeCommon.js" type="text/javascript">
    </script>
    <script defer="" src="/js/jquery.main.js" type="text/javascript">
    </script>
</body>
