<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="text/html; charset=UTF-8" name="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="OMG-Verify-V1" content="458867-3eb18e63-beef-4f85-907f-046732aaec99" />
    <title>MailTag</title>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="/lib/bootstrap/dist/js/material.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/mustache/mustache.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-dialog.min.js"></script>
    <!-- <script id="profitwell-js" data-pw-auth="800982233c7362be92984f6363f547c1">
        (function(i,s,o,g,r,a,m){i[o]=i[o]||function(){(i[o].q=i[o].q||[]).push(arguments)};
        a=s.createElement(g);m=s.getElementsByTagName(g)[0];a.async=1;a.src=r+'?auth='+
        s.getElementById(o+'-js').getAttribute('data-pw-auth');m.parentNode.insertBefore(a,m);
        })(window,document,'profitwell','script','https://public.profitwell.com/js/profitwell.js');
            
        try{
            var currentUser = common.getUserDataFromCookie();
            if (currentUser['email']){
                profitwell('start', {'user_email': currentUser['email']});
            }
            else{
                profitwell('start', {});
            }
        }
        catch(e){

        }
        
        </script> -->
</head>
<body>
<div class="container">
    <div class="row">
    </div>
    <div class="row" style="display: none;">
        <label value="{{user_id}}" id="user_id">{{user_id}}</label>
        <label value="{{user_email}}" id="user_email">{{user_email}}</label>
    </div>
</div>
</body>

<script src="/js/mixpanel.js"></script>
<script>
mixpanel.track("Facebook Login Success", {
	"email_id": $('#user_email').attr('value'),
	"user_id": $('#user_id').attr('value')
});
setTimeout(function(){window.close();
},500);
</script>
</html>