{{% BLOCKS }}
    {{< static-pages-layout }}
    {{$ title }}Final Step | MailTag{{/title}}
    {{$ styles }}
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="/css/home.css" rel="stylesheet">
        <link href="/css/finalStep.css" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    {{/styles}}
    {{$ content }}
    
	<div class="getting-started">
		<div class="header-bg">
			<div class="header-bg-img"></div>
		</div>

        <div class="header-bg">
            <div class="header-bg-img"></div>
            <div class="oval"></div>
        </div>
    
		<div class="mobile-header">
			<div><img src="https://app.mailtag.io/images/logo-inverse.png" class="logo"></div>
			<div><a href="" class="sign-up">Sign Up</a></div>
			<div><img src="https://app.mailtag.io/images/menu.png" class="menu-button"></div>
		</div>

		<div class="mobile-nav">
			<div class="mobile-nav-container">
				<div class="mobile-nav-header">
					<div><img src="https://app.mailtag.io/images/logo.png" class="logo"></div>
					<div><img src="https://app.mailtag.io/images/close-new.svg" class="mobile-nav-close"></div>
				</div>
				<div class="mobile-nav-items">
					<a href="/">Home</a>
					<a href="/pricing">Pricing</a>
					<a href="https://app.mailtag.io/blog">Blog</a>
				</div>
			</div>
		</div>

		<div class="scroll-cta">
			<a class="cta" href="#">Add to Chrome - Start Free Trial</a>
		</div>

		<div class="container container-contain" style="max-width:1280px">

			<div class="leader" style="padding-bottom:40px;">

				<div>
					<h1>Final step!</h1>
					<p style="font-size:22px;margin-top:8px;font-weight:bold;">MailTag needs to connect to your Google account
					</p>

					<div class="custom-domain-setup-btn authorize">Connect with Google</div>

					<p style="margin-top:30px;">
						By clicking “Connect with Google”<br>
						you agree to the <a href="https://www.mailtag.io/terms-conditions">Terms &amp; Conditions</a>
					</p>
				</div>
			</div>

		</div>
	</div>

    {{/ content }}
    {{$ scripts }}
	<script src="/js/base64.min.js" type="text/javascript">
	</script>
    <script src="/js/finalStep.js">
    </script>
    {{/ scripts }}
    {{/ static-pages-layout }}
