<!-- {{#footer-flag}}
<div id="footer" class="container-fluid">
  <div class="row" align="center">
    <h5 class="copyright text-muted small footer-p">Copyright &copy; Mailtag 2017. All Rights Reserved</h5>
</div>
</div>

{{/footer-flag}}

{{^footer-flag}}
<link rel="stylesheet" href="/css/sticky-footer.css">
<footer class="footer">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12" style="font-size: 20px;color:#7C7C83;padding:10px;">
    	<p>A PowerTV Company. Copyright © 2017. All Rights Reserved.​</p>
    </div>
  </div>
</footer>
{{/footer-flag}} -->