{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ title }}General Data Protection Regulation (GDPR){{/title}}
    
    {{$ content }}
            <main id="main">
                <div class="banner inner-banner">
                    <div class="container">
                        <div class="banner-heading">
                            <h1>
                                General Data Protection
                                <br>
                                    Regulation (GDPR)
                                </br>
                            </h1>
                            <span class="banner-details" style="display: block;font-size: 30px;">
                                Your data belongs to you. MailTag will never share or sell your data. Period.
                            </span>
                        </div>
                    </div>
                </div>
                <div id="holder">
                    <div class="content terms-content">
                        <div class="container">
                            <span class="heading">
                                MailTag is committed to continuing to utilize industry-leading data security technology to protect your information.
                            </span>
                            <span class="sub-heding">
                                <i>Last revised on May 24, 2018, effective as of May 25, 2018</i>
                            </span>
                            <ul class="accordion">
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        What is the GDPR?
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            What is the GDPR?
                                        </p>
                                        <span class="text-data">
                                            The GDPR (General Data Protection Regulation) is a new European Union privacy law that will go into effect on May 25th, 2018.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            Established by the EU Parliament, the GDPR regulates how individuals, companies, and organizations, can obtain, use, store, and remove personal data.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            You can read all of the details of the law <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en" target="_blank">here</a>.
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        What is “personal data”?
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            What is “personal data”?
                                        </p>
                                        <span class="text-data">
                                            Personal data, as defined by the GDPR, is any information that can be used to directly or indirectly to identify a person (such as a name, photograph, email address, or IP address).
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        What are the requirements of the GDPR?
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            What are the requirements of the GDPR?
                                        </p>
                                        <span class="text-data">
                                            The Data Protection Principles include the following requirements:
                                        </span>
                                        <br/>
                                        <ul class="custom custom-list">
                                            <li>
                                                <span class="list-title">
                                                    1.
                                                </span>
                                                Personal data must be processed in a fair, legal, and transparent way. It should only be used in a way that a person would reasonably expect.
                                            </li>
                                            <li>
                                                <span class="list-title">
                                                    2.
                                                </span>
                                                Personal data should only be collected to fulfill a specific purpose, and it should only be used for that purpose. Organizations must specify why they need the personal data when they collect it.
                                            </li>
                                            <li>
                                                <span class="list-title">
                                                    3.
                                                </span>
                                                Personal data should be held no longer than necessary to fulfill its purpose.
                                            </li>
                                            <li>
                                                <span class="list-title">
                                                    4.
                                                </span>
                                                People covered by the GDPR have the right to access their own personal data. They can also request a copy of their data, and request that their data be updated, deleted, restricted, or transported to another organization.
                                            </li>
                                        </ul>
                                        <span>
                                            <b>
                                                At MailTag, we respect your privacy and utilize industry-leading security and privacy procedures that go above-and-beyond the reqirements of this new regulation.
                                            </b>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        MailTag’s commitment to GDPR Compliance, data privacy, and transparency.
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            MailTag’s commitment to GDPR Compliance, data privacy, and transparency.
                                        </p>
                                        <span class="text-data">
                                            Here is an overview how MailTag has prepared to meet (and exceed) the EU’s new requirements.
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        1: Industry Leading Data Encryption.
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            #1: Industry Leading Data Encryption.
                                        </p>
                                        <span class="text-data">
                                            MailTag utilizes state-of-the-art firewall technology which uses advanced IP detection tools to warn against potential hackers/intruders who try to access secure MailTag login portals.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            Only individuals inside of our corporate office can access MailTag’s most protected information.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            In addition, only certain whitelisted IP addresses within our office can access limited sections of our database.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                And just like pre-GDPR, no one at MailTag is able to access to any of the emails contained within your inbox, or any information stored on your browser.
                                            </b>
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                MailTag never stores your email-related information.
                                            </b>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        2: Data Minimization.
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            #2: Data Minimization.
                                        </p>
                                        <span class="text-data">
                                            MailTag is committed to minimizing the required amount of information required for our service to function properly.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            But instead of just “telling you” that we minimize your data’s collection, we’d like to take this opportunity to explain exactly why MailTag requires certain permissions, in order for our Chrome extension to function properly.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            When you add MailTag to your browser, you are asked to provide access to a series of permissions (as shown below).
                                        </span>
                                        <br/>
                                        <div style="text-align: center;margin-bottom: 20px;">
                                            <img src="/img/gdpr-temp.png" style="width: 70%; margin: 20px 0px;">
                                            </img>
                                        </div>
                                        <span class="text-data">
                                            As first, this can understandably be intimidating.
                                            <br/>
                                            (After all, no one prefers to share access to their information).
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            So, let’s take a look at each of these permissions, one-by-one, so you’re fully aware of how we’re using the access that you provide us.
                                        </span>
                                        <br/>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                <i>
                                                    “View your email messages and settings”.
                                                </i>
                                            </b>
                                            <br/>
                                            This permission is required for your MailTag dashboard to function properly.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                Specific reason being:
                                            </b>
                                            Our technology reads the emails you’ve tagged with MailTag, and then displays this information on your dashboard (specifically, the inbox section).
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                For total clarity:
                                            </b>
                                            No human being is able to view any of the emails in your inbox.
                                        </span>
                                        <br/>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                <i>
                                                    “Manage drafts and send emails”.
                                                </i>
                                            </b>
                                            <br/>
                                            This permission is required for your email scheduling tool to function properly.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                Specific reason being:
                                            </b>
                                            When you schedule an email, the content is stored in your draft’s folder. Once in your drafts folder, our technology activates a line of code which sends your scheduled email at your specified time.
                                        </span>
                                        <br/>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                <i>
                                                    “Send email on your behalf”.
                                                </i>
                                            </b>
                                            <br/>
                                            This permission is required for two of MailTag’s functions to work properly: Your email scheduling tool, and your Pings tool.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                Specific reason being:
                                            </b>
                                            Both of these services utilize our technology’s autonomous sending feature (which does not require you to be present, for your email to be sent).
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            For example, when you schedule an email with MailTag to arrive in your recipient’s inbox at “2:05 AM”, you don’t need to be present for your email to be sent. Our service simply schedules your email to be sent (on your behalf, per your request).
                                        </span>
                                        <br/>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                <i>
                                                    “View your contacts”
                                                </i>
                                            </b>
                                            <br/>
                                            As an email technology tool, this permission is required for our service to load your recipient’s information.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                Specific reason being:
                                            </b>
                                            Our service needs to know where to send your email (which is only possible by knowing the recipient’s email address).
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            <b>
                                                For total clarity:
                                            </b>
                                            No individual at MailTag has access to any of your email contacts.
                                        </span>
                                        <br/>
                                    </div>
                                </li>
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        3: Data Consent Withdraw.
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            #3: Data Consent Withdraw.
                                        </p>
                                        <span class="text-data">
                                            If you’d like to have all your information deleted from MailTag’s database, simply send an email to "<a href="mailto:Delete@MailTag.io">Delete@MailTag.io</a>" with your request.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            Your data deletion request will processed within one business day, but may take up to additional 24 hours to reflect on your end (due to your browser’s cookies and cache).
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            IMPORTANT NOTE: By sending a data deletion request, you acknowledge and understand that this action cannot be undone and that your MailTag profile will be completely erased.
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        4: All MailTag 3rd Party Tools & Services Are GDPR Compliant.
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            #4: All MailTag 3rd Party Tools & Services Are GDPR Compliant.
                                        </p>
                                        <span class="text-data">
                                            Each of MailTag’s utilized vendors which deal with information that you share with us (for example, information such as your name and email) are fully vetted by our data security team to ensure GDPR compliance.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            For example: MailChimp (our newsletter tool that we use to send product announcement emails), is also fully compliant with the EU’s new law.
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        5: Data Breach Notification Policy.
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            #5: Data Breach Notification Policy.
                                        </p>
                                        <span class="text-data">
                                            MailTag’s user data has never been breached, and our data security team works around the clock to keep it this way.
                                        </span>
                                        <br/>
                                        <span class="text-data">
                                            However, if a breach is ever detected, we will promptly notify you within 72 hours (as required by the GDPR) with exactly the type of detected breach, the consequences of breach, and all other relevant information.
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        6: Data Inventory Map.
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            #6: Data Inventory Map.
                                        </p>
                                        <span class="text-data">
                                            We’ve reviewed and identified all the areas of MailTag where we collect and process user and customer data (which basically provides insight for the type information, where it’s stored, why we need it, who we share it with, and how long we store it, and other relevant information).
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a class="opener lg-hidden" href="#">
                                        7: Staff Training & Awareness.
                                    </a>
                                    <div class="slide">
                                        <p class="heading">
                                            #7: Staff Training & Awareness.
                                        </p>
                                        <span class="text-data">
                                            In our efforts to go above and beyond this new EU regulation, we’ve conducted through internal training to ensure that individuals at MailTag who deal with sensitive information (such as email addresses and names), are of only the highest trained data security professionals.
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <br/>
                            <br/>
                            <div class="help-block">
                                <span class="head-text">
                                    If you have questions, please don’t hesitate to reach out.
                                </span>
                                <br/>
                                <span class="head-sub-text">
                                    Please feel free to email
                                    <a href="mailto:Help@MailTag.io">
                                        Help@MailTag.io
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
    {{/ content }}
{{/ static-pages-layout }}