{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ content }}
        <main id="main">
            <div class="banner inner-banner center-banner">
                <div class="container">
                    <div class="banner-heading with-details">
                        <h1>
                            Redeem
                            <br>
                                your gift.
                            </br>
                        </h1>
                    </div>
                </div>
            </div>
            <div id="holder">
                <div class="content">
                    <div class="container">
                        <div class="form-holder">
                            <form action="#" class="form-validation form">
                                <div class="input-wrap">
                                    <label class="form-label" for="email-1">
                                        Your MailTag Account Email Address
                                    </label>
                                    <input data-required="true" data-type="email" id="email-1" placeholder="Your MailTag Account Email Address" type="email">
                                        <span class="form-info">
                                            Please double-check your email address to ensure everything has been typed correctly. Your MailTag PRO credit will be applied to this email address.
                                        </span>
                                        <span class="error">
                                            Wrong email.
                                        </span>
                                    </input>
                                </div>
                                <div class="input-wrap">
                                    <label class="form-label" for="code-1">
                                        Please enter the gift code that was provided to you
                                    </label>
                                    <input data-required="true" data-type="number" id="code-1" placeholder="Please enter the gift code that was provided to you" type="text">
                                        <span class="error">
                                            Incorrect gift code.
                                        </span>
                                    </input>
                                </div>
                                <div class="input-wrap checkbox-wrap">
                                    <label for="check-1">
                                        <input data-required="true" id="check-1" type="checkbox">
                                            <span class="fake-input">
                                            </span>
                                            <span class="fake-label">
                                                I agree to the terms and privacy policy
                                            </span>
                                        </input>
                                    </label>
                                </div>
                                <div class="wrap-button">
                                    <button class="btn btn-yellow" type="submit">
                                        Redeem
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
    {{/ content }}
{{/ static-pages-layout }}