{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ content }}
        <main class="success-page" id="main">
            <div class="banner inner-banner center-banner">
                <div class="container">
                    <div class="banner-heading with-details">
                        <h1>
                            Redeem
                            <br>
                                your gift.
                            </br>
                        </h1>
                    </div>
                </div>
            </div>
            <div id="holder">
                <div class="content">
                    <div class="container">
                        <div class="form-holder">
                            <div class="success-message success-result">
                                <div class="success-icon">
                                    <img alt="image-description" height="100" src="/images/success-icon.svg" width="100"/>
                                </div>
                                <div class="success-text">
                                    <h2>
                                        PRO Credit Applied Successfully
                                    </h2>
                                    <span class="success-info">
                                        Your PRO credit has successfully been applied to your email.
                                    </span>
                                </div>
                                <a class="another-code" href="#">
                                    To redeem another code, click here.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
    {{/ content }}
{{/ static-pages-layout }}