{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ content }}
        <main class="program-page" id="main">
            <div class="banner inner-banner center-banner">
                <div class="container">
                    <div class="banner-heading with-details">
                        <h1>
                            Give the gift of
                            <br>
                                MailTag PRO
                            </br>
                        </h1>
                        <div class="banner-button">
                            <a class="btn btn-yellow" href="#">
                                Gift MailTag PRO
                            </a>
                            <span class="banner-details">
                                Redeem a MailTag Gift
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="holder">
                <div class="content">
                    <div class="container">
                        <ul class="gift-list">
                            <li>
                                <div class="gift-icon">
                                    <img alt="image-description" height="168" src="/images/program-icon01.svg" width="167"/>
                                </div>
                                <span class="list-text">
                                    Purchase a gift.
                                </span>
                            </li>
                            <li>
                                <div class="gift-icon">
                                    <img alt="image-description" height="168" src="/images/program-icon02.svg" width="167"/>
                                </div>
                                <span class="list-text">
                                    Email or print the gift code for your friend.
                                </span>
                            </li>
                            <li>
                                <div class="gift-icon">
                                    <img alt="image-description" height="168" src="/images/program-icon03.svg" width="167"/>
                                </div>
                                <span class="list-text">
                                    Your friend redeems PRO credit.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    {{/ content }}
{{/ static-pages-layout }}