{{> ../components/head }}
{{> ../components/header }}
<main id="main">
    <div class="banner">
        <div class="container container-centered">
            <h1>MailTag is an email tracking tool and scheduler that helps you make more sales, in&nbsp;less&nbsp;time.</h1>
            
            <p>Try it completely free for 2 weeks — no card required.</p>
            
            <a class="btn btn-yellow add-chrome" href="#" id="install-extension-button-main">
                Start 14-Day Free Trial
            </a>
            
            <ul class="list-ico" style="margin-left: 0px;">
                <li>Available For:</li>
                <li><img alt="gmail" height="21" src="/images/gmail.png" width="84"/></li>
                <li><img alt="gsuite" height="19" src="/images/gsuite.png" width="77"/></li>
            </ul>
            
            <!-- <p class="coming-soon">
                Coming soon to: Google Inbox & Outlook.
            </p> -->
            
            <div class="app-video">
                <img alt="app dashboard" src="/images/banner-image.png"/>
                <div class="app-video wistia_embed wistia_async_49ghlsicvu popover=true popoverContent=html">
                    <button class="btn btn-play-video"></button>
                </div>
            </div>
        </div>
    </div>
    <section class="gallery-section">
        <div class="container">
            <h2>
            Trusted by
            </h2>
            <div class="logo-slider">
                <div class="slide">
                    <img alt="image description" height="37" src="/images/google.png" width="89"/>
                </div>
                <div class="slide">
                    <img alt="image description" height="37" src="/images/uber.png" width="99"/>
                </div>
                <div class="slide">
                    <img alt="image description" height="37" src="/images/verizon.png" width="119"/>
                </div>
                <div class="slide">
                    <img alt="image description" height="37" src="/images/lyft.png" width="51"/>
                </div>
                <div class="slide">
                    <img alt="image description" height="37" src="/images/shopify.png" width="108"/>
                </div>
            </div>
        </div>
    </section>
    <div class="home-holder" id="holder">
        <section class="section features">
            <div id="features">
                <div class="container">
                    <div class="column-content">
                        <div class="col">
                            <div class="txt-box">
                                <h2>
                                Unlimited real-time
                                <br>
                                email tracker. <img src="/images/ico-mail@2x.png" width="42" height="42"/>
                                </h2>
                                
                                <p class="subheadline">Know what happens after you click send.</p>
                                
                                <ul class="list">
                                    <li>
                                        Know exactly when recipients open your emails.
                                    </li>
                                    <li>
                                        Receive real-time desktop alerts when your emails have been opened.
                                    </li>
                                    <li>
                                        Know when recipients click links within your emails.
                                    </li>
                                    <li>
                                        Track the performance of your open-rates, link-click rates, and more.
                                    </li>
                                </ul>
                                <div class="wistia_embed wistia_async_2l34zov1p0 popover=true popoverContent=html" style="width: 220px;">
                                    <a class="btn btn-video">
                                        <span class="ico">
                                        </span>
                                        See how it works
                                    </a>
                                </div>
                                
                                <a class="link add-chrome" href="#" id="install-extension-button-toolbar">Start Free Trial →</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="visual animated-holder">
                                <img src="/images/animated-bg-1.png" width="671" height="674" class="bg-image"></img>
                            <video src="/videos/tracking.mp4" playsinline loop muted autoplay></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section section-ellipse">
        <div class="section-holder">
            <div class="container">
                <div class="column-content reverce">
                    <div class="col">
                        <div class="txt-box">
                            <h2>
                            Email Scheduling <img src="/images/ico-clock@2x.png" width="42" height="42"/>
                            </h2>
                            <p class="subheadline">
                                Make your emails arrive at the perfect time, every time. Simply write your email now, and schedule it for later.
                            </p>
                            <ul class="list">
                                <li>
                                    Increase your open-rates by scheduling your emails at the perfect time.
                                </li>
                                <li>
                                    Ideal for scheduling email reminders to yourself and others.
                                </li>
                                <li>
                                    Perfect for multi-timezone communication.
                                </li>
                            </ul>
                            <div class="wistia_embed wistia_async_saik8fc6bn popover=true popoverContent=html" style="width: 220px;">
                                <a class="btn btn-video">
                                    <span class="ico">
                                    </span>
                                    See how it works
                                </a>
                            </div>
                            
                            <a class="link add-chrome" href="#" id="install-extension-button-toolbar">Start Free Trial →</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="visual animated-holder">
                            <img src="/images/animated-bg-2.png" width="684" height="605" class="bg-image"></img>
                        <video src="/videos/scheduling.mp4" playsinline loop muted autoplay></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section pings-section">
    <div class="container">
        <div class="column-content">
            <div class="col">
                <div class="txt-box">
                    <h2>
                        Automated Pings <img src="/images/ico-rocket@2x.png" width="42" height="41"/>
                    </h2>
                    <p class="subheadline">
                        Automate your email follow-up process.
                        Never send another manual email follow-up again.
                    </p>
                    <ul class="list">
                        <li>
                            Save time and energy through automation.
                        </li>
                        <li>
                            Improve email reply-rates and increase sales.
                        </li>
                        <li>
                            Customize your automatic follow-ups.
                        </li>
                        <li>
                            And so much more …
                        </li>
                    </ul>
                    <div class="wistia_embed wistia_async_q7rv9q98rj popover=true popoverContent=html" style="width: 220px;">
                        <a class="btn btn-video">
                            <span class="ico">
                            </span>
                            See how it works
                        </a>
                    </div>
                    
                    <a class="link add-chrome" href="#" id="install-extension-button-toolbar">Start Free Trial →</a>
                </div>
            </div>
            <div class="col">
                <div class="visual animated-holder">
                    <img src="/images/animated-bg-3.png" width="671" height="569" class="bg-image"></img>
                <video src="/videos/scheduling.mp4" playsinline loop muted autoplay></video>
            </div>
        </div>
    </div>
</div>
</section>
<section class="started">
<div class="hold">
    <div class="container">
        <h2>
        Add MailTag to Chrome
        </h2>
        <p class="subheadline">
            Trusted by 13,000+ professionals worldwide
        </p>
        <a class="btn add-chrome" href="#" id="install-extension-button-footer">
            Start 14-Day Free Trial
        </a>
    </div>
</div>
</section>
</div>
</main>
{{> ../components/signPopup }}
{{> ../components/footer }}
{{> ../components/foot }}