{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ title }}Install | MailTag{{/title}}
    
    {{$ header }}{{/ header }}
    
    {{$ bodyClass }}full-height{{/ bodyClass }}
    
    {{$ content }}
    <main id="main" class="install-holder">
        <section class="started">
            <div class="hold">
                <div class="container">
                    <h2>
                        Install MailTag
                    </h2>
                    <p class="subheadline">
                        Install our browser extension with a single click.
                    </p>
                    <a class="btn btn-lift add-chrome" href="#" id="install-extension-button-footer">
                        Install MailTag
                    </a>
                </div>
            </div>
        </section>
        
        <section class="gallery-section">
            <div class="container">
                <h2>
                    Trusted by
                </h2>
                <div class="logo-slider">
                    <div class="slide">
                        <img alt="image description" src="/images/google-000@2x.png" width="117" height="35"/>
                    </div>
                    <div class="slide">
                        <img alt="image description" src="/images/uber-000@2x.png" width="117" height="35"/>
                    </div>
                    <div class="slide">
                        <img alt="image description" src="/images/verizon-000@2x.png" width="117" height="35"/>
                    </div>
                    <div class="slide">
                        <img alt="image description" src="/images/lyft-000@2x.png" width="117" height="35"/>
                    </div>
                    <div class="slide">
                        <img alt="image description" src="/images/shopify-000@2x.png" width="117" height="35"/>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{/ content }}
    
    {{$ footer }}{{/ footer }}
        
{{/ static-pages-layout }}