<div class="mailtag-maindiv" style="background-color: #EEEEEE;padding-bottom: 0px; padding-top: 0px;">
    <div style="margin:0px auto auto auto;padding-top:1px;border-radius: 2px;width: 700px;height: 1009px;background-color: #FFFFFF;box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50); border-radius: 2px;">
        <div class="row">
            <div class="mailtag-logo">
                <img src="/var/www/public/img/icon-128.svg">
                </img>
                <div class="mailtag-title">
                    MailTag
                </div>
            </div>
            <!-- <div class="mailtag-title text-center col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
                MailTag
            </div> -->
            <div class="mailtag-reciept">
                <div>
                    Receipt
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mailtag-date">
                {{date}}
            </div>
            <div class="mailtag-inv-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Plan
                            </th>
                            <th>
                                Plan Duration
                            </th>
                            <th>
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                MailTag PRO
                            </td>
                            <td>
                                {{plan}}
                            </td>
                            <td>
                                {{amount}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <b>
                                    Total
                                </b>
                            </td>
                            <td>
                                <b>
                                    {{amount}}
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--  <hr style="margin-top:19px;"> -->
        <div class="row">
            <hr id="big-hr">
                <div class="mailtag-thanks-msg">
                    Thanks for your business!
                </div>
            </hr>
        </div>
        <div class="row">
            <div class="mailtag-footer">
                Questions? Email help@MailTag.io
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .mailtag-maindiv{
        border: 1px solid #eae9e9;
        width: 700px;
        height: 1010px;
    }
    .mailtag-logo>img{
        margin-right: 5px;
        width: 40px;
        margin-bottom: -10px;
        display: inline-block;
    }
    .mailtag-logo{
        padding-left: 38%;
        margin-top: 145px;
    }
    .mailtag-title{
        font-weight: 500;
        font-family: sans-serif;
        display: inline-block;
        font-size: 30px;
    }
    .mailtag-reciept{
        font-family: sans-serif;
        font-size: 35px;
        font-weight: 600;
        margin: 150px 0px 60px 0px;
    }
    .mailtag-reciept>div{
        width: 135px;
        padding: 0px 0px 0px 5px;
        margin-left: 39%;
        border-bottom: 3px solid;
        height: 42px;
    }
    .mailtag-date{
        font-size: 25px;
        font-family: sans-serif;
        color: #ababab;
        background-color: #f1f1f1;
        padding-left: 10px;
        border-bottom: 2px solid #dbd9d9;
        border-top: 2px solid #dbd9d9;
        width: 98.5%;

    }
    .mailtag-inv-table>table>tbody>tr>td {
        line-height: 2;
        font-family: sans-serif;
        border-bottom: 1px solid #f1eeee;
        border-top: none;
    }
    .mailtag-inv-table>table>thead>tr>th {
        text-align: left;
        font-family: sans-serif;
        line-height: 2;
        border-bottom: 1px solid #f1eeee;
    }
    .mailtag-inv-table>table{
        margin: 35px;
        width: 90%;
    }
    #big-hr{
        border-bottom: 1px solid #d2cfcf;
        width: 89%;
        margin: 50px 35px 25px 38px;
    }
    .mailtag-thanks-msg{
        font-size: 25px;
        font-family: sans-serif;
        text-align: center;
    }
    .mailtag-footer{
        margin-top: 57.5%;
        padding-top: 12%;
        padding-left: 28%;
        font-size: 20px;
        color: #cccccc;
        font-family: sans-serif;
        border-top: 1px solid #dbd9d9;
        height: 60px;
        background-color: #f2f2f2;
        width: 72%;
    }
</style>