<meta charset="utf-8">
<meta content="text/html; charset=UTF-8" name="Content-Type" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="OMG-Verify-V1" content="458867-3eb18e63-beef-4f85-907f-046732aaec99" />

{{#keywords}}
<meta name="keywords" content="{{keywords}}" />
{{/keywords}}
<meta name="description" content="{{description}}" />

{{#facebook-og}}
<meta name="og_site_name"property="og:site_name" content="{{site_name}}" />
<meta property="og:image" content="{{image-path}}"/>
<meta name="og_title" property="og:title" content="{{title}}" />
<meta name="og_description" property="og:description" content="{{description}}" />
<meta name="og_url" property="og:url" content="{{url}}"/>
{{/facebook-og}}

<!-- Twitter Meta Data -->
{{#twitter-card}}
<meta name="twitter:card" content="{{summary}}" />
<meta name="twitter:site" content="{{site}}" />
<meta property="twitter:url" content="{{url}}" />
<meta property="twitter:title" content="{{title}}" />
<meta property="twitter:description" content="{{description}}" />
<meta property="twitter:image:src" content="{{image-path}}" />
{{/twitter-card}}
<title>
    {{#_i18n}}page-title{{/_i18n}}
</title>
<meta name="apple-itunes-app" content="app-id=1506969542" />