<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width,height=device-height">
    <title>MailTag Plan Successfully Upgraded</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="margin:0;background-image:url(https://gallery.mailchimp.com/2486076c569a727fbb18f1c5f/images/48616e79-9235-438a-98d8-8d4798113010.png);
              background-repeat: repeat;">
              <tr>
                <td align="center" valign="top" id="bodyCell" style="height:100%;
                  margin:0;
                  padding-right:10px;
                  width:100%;border-top:0;padding-left:10px;">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="max-width:600px !important;border:0;">
                    <tr>
                      <td valign="top" id="templatePreheader" style="background-color:#448df9;
                        background-image:url(https://gallery.mailchimp.com/2486076c569a727fbb18f1c5f/images/48616e79-9235-438a-98d8-8d4798113010.png);
                        background-repeat:repeat;
                        background-position:top;
                        background-size:auto;
                        border-top:0;
                        border-bottom:0;
                        padding-top:25px;
                        padding-bottom:25px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                          <tbody class="mcnImageBlockOuter">
                            <tr>
                              <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                  <tbody>
                                    <tr>
                                      <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; text-align:center;">
                                        <img align="center" alt="" src="https://gallery.mailchimp.com/2486076c569a727fbb18f1c5f/images/68372553-f3d1-4521-8d23-9f4149a2a74c.png" width="50" style="max-width:100px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top" id="templateHeader">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                          <tbody class="mcnImageBlockOuter">
                            <tr>
                              <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                  <tbody>
                                    <tr>
                                      <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                        <img align="center" alt="" src="https://gallery.mailchimp.com/2486076c569a727fbb18f1c5f/images/f2b67596-207e-4c69-9b54-ff34fc3dbb79.png" width="600" style="max-width:1200px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top" id="templateBody" style="
                        background-color:#ffffff;background-image:none;background-repeat:no-repeat;
                        background-position:center;background-size:cover;border-top:0;
                        border-bottom:2px none #EAEAEA;padding-top:0px;padding-bottom:0px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                          <tbody class="mcnTextBlockOuter">
                            <tr>
                              <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                  <tbody>
                                    <tr>
                                      <td valign="top" class="mcnTextContent" style="word-break:break-word;height:auto !important;padding-top:0; padding-right:70px; padding-bottom:9px; padding-left:70px;">
                                        <div style="background:white;">
                                          <h1 style="display:block;margin:0;padding:0;
                                            color:#2b4a8e;
                                            font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                            font-size:30px;
                                            font-style:normal;
                                            font-weight:bold;
                                            line-height:125%;
                                            letter-spacing:normal;
                                            text-align:left;">Hi {{name}},</h1>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                          <tbody class="mcnTextBlockOuter">
                            <tr>
                              <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                  <tbody>
                                    <tr>
                                      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:70px; padding-bottom:9px; padding-left:70px; color:#808080;
                                        font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                        font-size:16px;
                                        line-height:150%;
                                        text-align:left;">
                                        Thank you for upgrading your plan.
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:70px; padding-bottom:9px; padding-left:70px; color:#808080;
                                        font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                        font-size:16px;
                                        line-height:150%;
                                        text-align:left;">
                                        You’re a rockstar!
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:70px; padding-bottom:9px; padding-left:70px; color:#808080;
                                        font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                        font-size:16px;
                                        line-height:150%;
                                        text-align:left;">
                                        To begin using MailTag {{plan}} without our watermark or ads, simply refresh this page.
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:70px; padding-bottom:9px; padding-left:70px; color:#808080;
                                        font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                        font-size:16px;
                                        line-height:150%;
                                        text-align:left;">
                                        If you have any questions, please don’t hesitate to contact our Client Experience Team at anytime through our <a href="https://app.mailtag.io/dashboard/support" target="_blank">Help Center</a> (also located in your MailTag dashboard).
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:70px; padding-bottom:9px; padding-left:70px; color:#808080;
                                        font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                        font-size:16px;
                                        line-height:150%;
                                        text-align:left;">
                                        Thank you again for your business.<br>
                                        <br>
                                        Best,<br>
                                        MailTag Client Experience Team
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="text-align:center;" class="mcnTextContentContainer">
                          <tbody>
                            <tr>
                              <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:9px;text-align:left;">
                                <a href="https://www.facebook.com/MailTagio" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" alt="Facebook" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;"></a>
                              </td>
                              <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:0; padding-bottom:9px;text-align:left;">
                                <a href="https://twitter.com/MailTagio " target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png" alt="Twitter" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;"></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td valign="top" id="templateFooter" style="background-color:#fafafa;
                        background-image:url(https://gallery.mailchimp.com/2486076c569a727fbb18f1c5f/images/48616e79-9235-438a-98d8-8d4798113010.png);
                        background-repeat:repeat;
                        background-position:center;
                        background-size:auto;
                        border-top:0;
                        border-bottom:0;
                        padding-top:0px;
                        padding-bottom:40px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                          <tbody class="mcnImageBlockOuter">
                            <tr>
                              <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                  <tbody>
                                    <tr>
                                      <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0;">
                                        <img align="left" alt="" src="https://gallery.mailchimp.com/2486076c569a727fbb18f1c5f/images/f2b88814-adf9-4c7a-b6d5-aa4953347d8d.png" width="600" style="max-width:1200px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCodeBlock">
                          <tbody class="mcnTextBlockOuter">
                            <tr>
                              <td valign="top" class="mcnTextBlockInner">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- // END TEMPLATE -->
                </td>
              </tr>
            </table>
          </center>
        </div>
      </div>
    </div>
  </body>
</html>
