{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ title }}Press{{/title}}
    
    {{$ content }}
        <main id="main">
            <div class="banner inner-banner">
                <div class="container">
                    <div class="banner-heading">
                        <h1>
                            MailTag
                            <br>
                                Press.
                            </br>
                        </h1>
                    </div>
                </div>
            </div>
            <div id="holder">
                <div class="content">
                    <div class="container">
                        <ul class="date-list">
                            <li>
                                <div class="date-box">
                                    <span class="date-text">
                                        Oct. 11, 2017:
                                    </span>
                                    <b class="list-text">
                                        MailTag becomes top 10 product in Product Hunt's Launch List October edition.
                                    </b>
                                </div>
                                <a class="more-info" href="https://www.producthunt.com/posts/mailtag">
                                    Read more
                                </a>
                            </li>
                            <li>
                                <div class="date-box">
                                    <span class="date-text">
                                        Sept. 29, 2017:
                                    </span>
                                    <b class="list-text">
                                        MailTag releases compatibility support for FireFox browser.
                                    </b>
                                </div>
                                <a class="more-info" href="https://addons.mozilla.org/en-US/firefox/addon/mailtag">
                                    Read more
                                </a>
                            </li>
                            <li>
                                <div class="date-box">
                                    <span class="date-text">
                                        Aug. 23, 2017:
                                    </span>
                                    <b class="list-text">
                                        MailTag debuts free Gmail tracking service in the Chrome extension store.
                                    </b>
                                </div>
                                <a class="more-info" href="https://chrome.google.com/webstore/detail/mailtag-for-gmail-email-t/obojiopibnbnmdbegnaghfbooofdnnmp">
                                    Read more
                                </a>
                            </li>
                            <!-- <li style="display: none;">
                                <div class="date-box">
                                    <span class="date-text">
                                        Aug. 23, 2017:
                                    </span>
                                    <b class="list-text">
                                        eBrands makes $400,000 investment commitment into MailTag.io.
                                    </b>
                                </div>
                                <a class="more-info" href="https://www.crunchbase.com/organization/mailtag-io">
                                    Read more
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        
    {{/ content }}
{{/ static-pages-layout }}