{{% BLOCKS }}
    {{< static-pages-layout }}
    {{$ title }}Pricing | MailTag{{/title}}
    {{$ header }}
    {{> ./components/headerStripped }}
    {{/ header }}
    {{$ content }}
    <script src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
    <script>
      var myLandbot = new LandbotLivechat({
        index: 'https://landbot.io/u/H-270203-MXK4YAZR65H7NLNZ/index.html',
      });
    </script>

    <style type="text/css">
    #nav{
    display: none;
    }
    </style>
    <div class="cover-layout">
        <div class="spinner">
        </div>
    </div>
    <main class="pricing-holder" id="main">
        <div class="banner inner-banner" style="height: 635px;">
        </div>
        <div id="holder">
            <div class="content">
                <div class="container">
                    <div class="pricing-columns">
                        <div class="column bigger-column">
                            <div class="popular-badge">
                                <span>
                                    Special New
                                    <br>
                                    Customer Savings
                                    </br>
                                </span>
                            </div>
                            <div class="lg-price-switch-main">
                                <form class="checkbox-form lg-price-switch">
                                    <label for="check-1">
                                        <input class="filter-check" data-pricer="yearly-monthly" id="check-1" type="checkbox">
                                        <span class="fake-input">
                                            <span class="month-off">
                                                Monthly
                                            </span>
                                            <span class="year-off">
                                                <span class="year-annual">
                                                    Annual
                                                </span>
                                                <span class="year-save">
                                                    Save 30%
                                                </span>
                                            </span>
                                            <span class="switcher">
                                                <span class="annual">
                                                    Annual
                                                </span>
                                                <span class="save">
                                                    Save 30%
                                                </span>
                                                <span class="monthly">
                                                    Monthly
                                                </span>
                                            </span>
                                        </span>
                                        </input>
                                    </label>
                                </form>
                                <div class="discount-callout price-elements">
                                    <span data-price="yearly">
                                        Whooo! You’re saving 30%!
                                        <img height="22" src="/images/new-party.svg" width="22"/>
                                    </span>
                                    <span class="another-cost" data-price="monthly">
                                        Save big by paying annually!
                                        <img height="22" src="/images/sunglasses.svg" width="22"/>
                                    </span>
                                </div>
                            </div>
                            <div class="price-box">
                                <div class="subheading">
                                    Pro
                                </div>
                                <div class="heading price-elements">
                                    <span class="cost payment-popup-price" data-price="yearly">
                                        <span class="dollar">
                                            $
                                        </span>9.99/m
                                        <span class="strike-through">
                                           $18
                                        </span>
                                    </span>
                                    <span class="cost another-cost payment-popup-price" data-price="monthly">
                                        <span class="dollar">
                                            $
                                        </span>12.99/m
                                        <span class="strike-through">
                                            $25
                                         </span>
                                    </span>
                                </div>
                                <div class="price-elements price-period">
                                    <span class="cost" data-price="yearly">
                                        per user, billed yearly
                                    </span>
                                    <span class="cost another-cost" data-price="monthly">
                                        per user, billed monthly
                                    </span>
                                </div>
                            </div>
                            <form class="checkbox-form lg-hidden">
                                <label for="check-2">
                                    <input class="filter-check" data-pricer="yearly-monthly" id="check-2" type="checkbox">
                                    </input>
                                </label>
                            </form>
                            <div class="btn-holder" style="width: 100%;">
                                <a class="btn btn-lift btn-white lg-btn try-mailtag-btn" href="">
                                    Try It
                                </a>
                                <a class="btn btn-lift btn-yellow lg-btn start-pro-btn" href="">
                                    Buy It
                                </a>
                            </div>
                            <ul class="list">
                                <li>
                                    <span title='Track unlimited emails in real-time, without the "Sent with MailTag" watermark.'>
                                        Unlimited Email Tracking
                                    </span>
                                </li>
                                <li>
                                    <span title="Track your scheduled emails for them to arrive in your recipient’s inbox at the perfect time, every time.">
                                        Unlimited Email Scheduling
                                    </span>
                                </li>
                                <li>
                                    <span title="Create unlimited Ping follow-up sequences.">
                                        Unlimited Ping Sequences
                                    </span>
                                </li>
                                <li>
                                    <span title="Receive real-time desktop alerts the moment links are clicked in your emails.<br><br>And, hover your mouse over your MailTag icon (in your Gmail threads / Sent Mail) to view if any of your links have been clicked.">
                                        Link-Click Tracking
                                    </span>
                                </li>
                                <li>
                                    <span title="Receive real-time desktop alerts the moment your emails are opened.">
                                        Real-Time Notifications
                                    </span>
                                </li>
                                <li>
                                    <span title="When tracking is enabled, you can automatically BCC your email to your CRM (e.g. Salesforce).<br><br>No coding required.<br><br>(Configurable in the preferences section of your MailTag dashboard).">
                                        Auto-BCC to CRM
                                    </span>
                                </li>
								<li>
                                    <span title="Create a beautifully designed email signature.">
                                        Signature Generator
                                    </span>
                                </li>
                                <li>
                                    <span title="Know at-a-glance if your emails have been read, via your MailTag dashboard.">
                                        View Read & Unread Emails
                                    </span>
                                </li>
                                <li>
                                    <span title="View unlimited data analytics in your MailTag dashboard (no 30-day limit).<br><br>Know how many tracked emails you send daily, how many are opened, and more.">
                                        View Unlimited Analytics
                                    </span>
                                </li>
                                <li>
                                    <span title="Skip the line and get super fast response times.">
                                        Executive Support
                                    </span>
                                </li>
                            </ul>
                            <div class="pricing-footer-text">
                                <div>
                                    Try MailTag for free. No card required.
                                </div>
                                <div>
                                    Ready to buy?
                                    <button title="<strong>30-Day Refund Guarantee</strong><br>Receive a full refund at any time within the first 30 days after your purchase for absolutely any reason.<br>Simply email Help@MailTag.io and our team will process your refund within 24 hours.">
                                    <img alt="double guarantee" src="/images/alert-circle-i.svg"/>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="gallery-section">
                        <h2>
                        Trusted by professionals at top companies
                        </h2>
                        <div class="logo-slider">
                            <div class="slide">
                                <img alt="image description" height="37" src="/images/google.svg" width="89"/>
                            </div>
                            <div class="slide">
                                <img alt="image description" height="37" src="/images/uber.svg" width="99"/>
                            </div>
                            <div class="slide">
                                <img alt="image description" height="37" src="/images/verizon.svg" width="119"/>
                            </div>
                            <div class="slide">
                                <img alt="image description" height="37" src="/images/lyft.svg" width="51"/>
                            </div>
                            <div class="slide">
                                <img alt="image description" height="37" src="/images/shopify.svg" width="108"/>
                            </div>
                        </div>
                        <div class="logo-slider">
                            <div class="slide">
                                <img alt="image description" height="37" src="/images/netflix.svg" width="89"/>
                            </div>
                            <div class="slide">
                                <img alt="image description" height="37" src="/images/dropbox.svg" width="120"/>
                            </div>
                            <div class="slide">
                                <img alt="image description" height="37" src="/images/coinbase.svg" width="119"/>
                            </div>
                            <div class="slide">
                                <img alt="image description" height="37" src="/images/zendesk.svg" width="120"/>
                            </div>
                            <div class="slide">
                                <img alt="image description" height="37" src="/images/groupon.svg" style="padding-top: 5px;" width="120"/>
                            </div>
                        </div>
                    </section>
                    <div class="container-propositions">
                        <div class="heading">
                            If we can’t dramatically increase your sales, we don’t want your money.
                            <br>
                            Our customer guarantee:
                            </br>
                        </div>
                        <img alt="dramatic sales increase" src="/images/showGraph.svg"/>
                        <div class="column-content" style = "text-align: center; display: block">

                                <div class="headline">
                                    30-Day Refund Guarantee
                                </div>
                                <p>
                                    Receive a full refund at any time within the first 30 days after your purchase for absolutely any reason. Simply email Help@MailTag.io and our team will process your refund within 24 hours.
                                </p>
                            </div>

                        </div>
                        <div class="column-content column-content-large">
                            <div class="col">
                                <div class="pricing-faq">
                                    FAQ
                                </div>
                                <div class="headline">
                                    Can MailTag see my emails?
                                </div>
                                <p>
                                   Heck no. MailTag uses military grade encryption preventing us or anyone else from having any insight into your emails or browser's web history. Nor do we have any insight into any information located on your MailTag dashboard.
                                </p>
                                <br>
                                <div class="headline">
                                    What’s included in the Cold Email Secrets Course?
                                </div>
                                <p>
                                    In short, tons of material to skyrocket your sales career.
                                    <br/>
                                    Below is just a sneak peek for what you’ll discover. :)
                                </p>
                                <p>
                                    <ul>
                                        <li>
                                            ​Phrases That Kill Trust
                                        </li>
                                        <li>
                                            The “Perfect Outreach” Formula
                                        </li>
                                        <li>
                                            Habits Ultra-Successful Salespeople Live By
                                        </li>
                                        <li>
                                            ​Follow-Up Templates (That Actually Work)
                                        </li>
                                        <li>
                                            And much (much!) more. :)
                                        </li>
                                    </ul>
                                </p>
                                <br>
                                <div class="headline">
                                    If I upgrade my account, but then want to transfer the subscription to a different email, how can I do this?
                                </div>
                                <p>
                                    Simply shoot us an email (<a href="mailto:Help@MailTag.io">Help@MailTag.io</a>) and we’ll get your request processed ASAP.
                                </p>
                                <br>
                                <div class="headline">
                                    Does MailTag offer bulk discounts?
                                </div>
                                <p>
                                    Absolutely! Just email
                                    <a href="mailto:Business@MailTag.io">
                                        Business@MailTag.io
                                    </a>
                                    and we will accommodate your team (please note, there is a 5 seat minimum).
                                </p>
                                <br>
                                <div class="headline">
                                    My question isn’t answered here.
                                </div>
                                <p>
                                    Feel free to chat with us in the bottom right corner of your screen, or drop us a line at
                                    <a href="mailto:Help@MailTag.io">
                                        Help@MailTag.io
                                    </a>
                                    :)
                                </p>
                            </div>
                            <div class="col">
                                <div class="column-content-large-right">
                                    <div class="pricing-free-trial">
                                        Start your free 14-day trial
                                    </div>
                                    <div class="pricing-free-trial-desc">
                                        Trusted by 14,000+ professionals | 4.5 star rating
                                    </div>
                                    <div class="pricing-free-trial-tutorials">
                                        <ul>
                                            <li>
                                                Know what happens after you click send (with tracking)
                                                <a href="javascript:showVideo('EFodFK26QkY');void(0)"><img src="/images/play.svg"/></a>
                                            </li>
                                            <li>
                                                Track scheduled emails & never send an email at the wrong time again
                                                <a href="javascript:showVideo('NOXq_wWn8b8');void(0)"><img src="/images/play.svg"/></a>
                                            </li>
                                            <li>
                                                Never manually follow-up, ever again (with Pings)
                                                <a href="javascript:showVideo('wQbwipvswug');void(0)"><img src="/images/play.svg"/></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="extra-bonus">
                                        <strong>
                                        Extra Bonus!
                                        </strong>
                                        <img src="/images/party.svg"/>
                                    </div>
                                    <div class="cold-email-course">
                                        Cold Email Secrets Course
                                    </div>
                                    <p>
                                        (Free download when you try MailTag)
                                    </p>
                                    <div class="book-img">
                                        <img src="/images/book.png"/>
                                    </div>
                                    <div style="width: 100%; text-align: center;">
                                        <a class="btn btn-lift lg-btn try-free-lg-btn" href="">
                                            Try MailTag Now (For Free) — No Card Required
                                        </a>
                                    </div>
                                    <div class="try-free-desc">
                                        You’ll receive an instant download link to our Cold
                                        <br/>
                                        Email Secrets Course once you begin your free-trial.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <section class="section section-ellipse pricing-section-ellipse" style="margin-bottom: 0px;">
                    <div class="section-holder">
                    </div>
                    <div class="bottom-payment-popup container">
                    <div class="pricing-columns">
                        <div class="column bigger-column">
                            <div class="popular-badge">
                                <span>
                                    Special New
                                    <br>
                                    Customer Savings
                                    </br>
                                </span>
                            </div>
                            <div class="lg-price-switch-main">
                                <form class="checkbox-form lg-price-switch">
                                    <label for="check-3">
                                        <input class="filter-check" data-pricer="yearly-monthly" id="check-3" type="checkbox">
                                        <span class="fake-input">
                                            <span class="month-off">
                                                Monthly
                                            </span>
                                            <span class="year-off">
                                                <span class="year-annual">
                                                    Annual
                                                </span>
                                                <span class="year-save">
                                                    Save 30%
                                                </span>
                                            </span>
                                            <span class="switcher">
                                                <span class="annual">
                                                    Annual
                                                </span>
                                                <span class="save">
                                                    Save 30%
                                                </span>
                                                <span class="monthly">
                                                    Monthly
                                                </span>
                                            </span>
                                        </span>
                                        </input>
                                    </label>
                                </form>
                                <div class="discount-callout price-elements">
                                    <span data-price="yearly">
                                        Whooo! You’re saving 30%!
                                        <img height="22" src="/images/new-party.svg" width="22"/>
                                    </span>
                                    <span class="another-cost" data-price="monthly">
                                        Save big by paying annually!
                                        <img height="22" src="/images/sunglasses.svg" width="22"/>
                                    </span>
                                </div>
                            </div>
                            <div class="price-box">
                                <div class="subheading">
                                    Pro
                                </div>
                                <div class="heading price-elements">
                                    <span class="cost payment-popup-price" data-price="yearly">
                                        <span class="dollar">
                                            $
                                        </span>9.99/m
                                        <span class="strike-through">
                                           $18
                                        </span>
                                    </span>
                                    <span class="cost another-cost payment-popup-price" data-price="monthly">
                                        <span class="dollar">
                                            $
                                        </span>12.99/m
                                        <span class="strike-through">
                                            $25
                                         </span>
                                    </span>
                                </div>
                                <div class="price-elements price-period">
                                    <span class="cost" data-price="yearly">
                                        per user, billed yearly
                                    </span>
                                    <span class="cost another-cost" data-price="monthly">
                                        per user, billed monthly
                                    </span>
                                </div>
                            </div>
                            <form class="checkbox-form lg-hidden">
                                <label for="check-4">
                                    <input class="filter-check" data-pricer="yearly-monthly" id="check-4" type="checkbox">
                                    </input>
                                </label>
                            </form>
                            <div class="btn-holder" style="width: 100%;">
                                <a class="btn btn-lift btn-white lg-btn try-mailtag-btn" href="">
                                    Try It
                                </a>
                                <a class="btn btn-lift btn-yellow lg-btn start-pro-btn" href="">
                                    Buy It
                                </a>
                            </div>
                            <ul class="list">
                                <li>
                                    <span title='Track unlimited emails in real-time, without the "Sent with MailTag" watermark.'>
                                        Unlimited Email Tracking
                                    </span>
                                </li>
                                <li>
                                    <span title="Track your scheduled emails for them to arrive in your recipient’s inbox at the perfect time, every time.">
                                        Unlimited Email Scheduling
                                    </span>
                                </li>
                                <li>
                                    <span title="Create unlimited Ping follow-up sequences.">
                                        Unlimited Ping Sequences
                                    </span>
                                </li>
                                <li>
                                    <span title="Receive real-time desktop alerts the moment links are clicked in your emails.<br><br>And, hover your mouse over your MailTag icon (in your Gmail threads / Sent Mail) to view if any of your links have been clicked.">
                                        Link-Click Tracking
                                    </span>
                                </li>
                                <li>
                                    <span title="Receive real-time desktop alerts the moment your emails are opened.">
                                        Real-Time Notifications
                                    </span>
                                </li>
                                <li>
                                    <span title="When tracking is enabled, you can automatically BCC your email to your CRM (e.g. Salesforce).<br><br>No coding required.<br><br>(Configurable in the preferences section of your MailTag dashboard).">
                                        Auto-BCC to CRM
                                    </span>
                                </li>
                                <li>
                                    <span title="Know at-a-glance if your emails have been read, via your MailTag dashboard.">
                                        View Read & Unread Emails
                                    </span>
                                </li>
                                <li>
                                    <span title="View unlimited data analytics in your MailTag dashboard (no 30-day limit).<br><br>Know how many tracked emails you send daily, how many are opened, and more.">
                                        View Unlimited Analytics
                                    </span>
                                </li>
                                <li>
                                    <span title="Skip the line and get super fast response times.">
                                        Executive Support
                                    </span>
                                </li>
                            </ul>
                            <div class="pricing-footer-text">
                                <div>
                                    Try MailTag for free. No card required.
                                </div>
                                <div>
                                    Ready to buy? Your purchase is protected by our unprecedented guarantee.
                                    <button title="<strong>30-Day Refund Guarantee</strong><br>Receive a full refund at any time within the first 30 days after your purchase for absolutely any reason.<br>Simply email Help@MailTag.io and our team will process your refund within 24 hours.">
                                    <img alt="double guarantee" src="/images/alert-circle-i.svg"/>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
        </div>

        <style>
            .modal-video-player {
                position: fixed;
                z-index: 999;
                background-color: #000000cc;
                display: none;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .modal-video-container {
                width: calc(100% - 20px);
                max-width: 1700px;
                margin: auto;
            }

            .modal-video-sizer {
                width: 100%;
                padding-top: 62.5%;
                position: relative;
            }

            .modal-video-sizer iframe {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        </style>
        <div class="modal-video-player">
            <div class="modal-video-container">
                <div class="modal-video-sizer"></div>
            </div>
        </div>
    </main>
    {{/ content }}
    {{$ scripts }}
    <script src="/js/pricingOnboarding.js">
    </script>
    <script async src='https://r.wdfl.co/rw.js' data-rewardful='d5f360'>
    </script>
    {{/ scripts }}
    {{/ static-pages-layout }}
