{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ content }}
        <main class="credit-page" id="main">
            <div class="banner inner-banner center-banner">
                <div class="container">
                    <div class="banner-heading with-details">
                        <h1>
                            Gift MailTag PRO
                        </h1>
                    </div>
                </div>
            </div>
            <div id="holder">
                <div class="content">
                    <div class="container">
                        <div class="form-holder">
                            <form action="#" class="form-validation form">
                                <div class="credit-info">
                                    <h3>
                                        How many
                                        <span class="blue-text">
                                            PRO credits
                                        </span>
                                        do you need?
                                    </h3>
                                    <p>
                                        Each PRO credit can be redeemed one time, and applied to one email address. Each credit lasts 12 months in duration.
                                    </p>
                                </div>
                                <div class="input-wrap">
                                    <select>
                                        <option selected="">
                                            1 Credit
                                        </option>
                                        <option>
                                            2 Credits
                                        </option>
                                        <option>
                                            3 Credits
                                        </option>
                                        <option>
                                            4 Credits
                                        </option>
                                        <option>
                                            5 Credits
                                        </option>
                                        <option>
                                            6 Credits
                                        </option>
                                        <option>
                                            7 Credits
                                        </option>
                                        <option>
                                            8 Credits
                                        </option>
                                        <option>
                                            9 Credits
                                        </option>
                                        <option>
                                            10 Credits
                                        </option>
                                    </select>
                                </div>
                                <div class="form-counter">
                                    <span class="counter-title">
                                        TOTAL:
                                    </span>
                                    <span class="counter-result">
                                        $216
                                    </span>
                                </div>
                                <div class="wrap-button">
                                    <button class="btn btn-yellow" type="submit">
                                        Buy Now
                                    </button>
                                </div>
                                <div class="wrap-link">
                                    <a class="another-code" href="#">
                                        Do you have a promo code?
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {{/ content }}
{{/ static-pages-layout }}