{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ content }}
        <main class="purchase-page" id="main">
            <div class="banner inner-banner center-banner">
                <div class="container">
                    <div class="banner-heading with-details">
                        <h1>
                            Gift MailTag PRO
                        </h1>
                    </div>
                </div>
            </div>
            <div id="holder">
                <div class="content">
                    <div class="container">
                        <div class="form-holder">
                            <div class="success-message">
                                <div class="success-icon">
                                    <img alt="image-description" height="100" src="/images/success-icon.svg" width="100"/>
                                </div>
                                <div class="success-text">
                                    <h2>
                                        Purchase Successful.
                                    </h2>
                                    <span class="success-info">
                                        Thank you for your purchase.
                                        <br>
                                            We appreciate your business.
                                        </br>
                                    </span>
                                </div>
                                <div class="codes-holder">
                                    <h4>
                                        Here are your PRO codes:
                                    </h4>
                                    <span class="code">
                                        XXX-XXX-XXXX
                                    </span>
                                    <span class="code">
                                        XXX-XXX-XXXX
                                    </span>
                                    <span class="code">
                                        XXX-XXX-XXXX
                                    </span>
                                    <span class="code">
                                        XXX-XXX-XXXX
                                    </span>
                                    <span class="code">
                                        XXX-XXX-XXXX
                                    </span>
                                    <div class="buttons-holder">
                                        <div class="copy-holder">
                                            <a class="copy-button" href="#">
                                                <img alt="image-description" height="22" src="/images/copy-icon.svg" width="19"/>
                                            </a>
                                            <div class="copy-popup">
                                                <span class="copy-text">
                                                    Copy
                                                </span>
                                            </div>
                                        </div>
                                        <br>
                                            <a class="download-button" href="/inc/sample_pdf.pdf" target="blank">
                                                <img alt="image-description" height="22" src="/images/download-icon.svg" width="22"/>
                                            </a>
                                        </br>
                                    </div>
                                </div>
                                <h4>
                                    Want to email yourself the codes?
                                </h4>
                                <div class="step-01">
                                    <form action="#" class="form-validation form">
                                        <div class="input-wrap">
                                            <label class="form-label" for="email-2">
                                                Your email
                                            </label>
                                            <input data-required="true" data-type="email" id="email-2" placeholder="Your email" type="email">
                                                <span class="error">
                                                    Please double check your email and try again.
                                                    <br>
                                                        Please contact
                                                        <a class="error-link" href="mailto:help@mailtag.io">
                                                            Help@MailTag.io
                                                        </a>
                                                        if you have any questions.
                                                    </br>
                                                </span>
                                            </input>
                                        </div>
                                        <div class="wrap-button">
                                            <button class="btn btn-yellow" type="submit">
                                                Send Codes
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {{/ content }}
{{/ static-pages-layout }}