<link href="/css/referAFriend.css" rel="stylesheet"/>
<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <div class="container-fluid" style="margin-left: 205px;margin-top: 1vh;background-color: white; height: 98vh;">
        <div class="cover" style="display: none;">
            <img id="settings-spinner" src="/img/loader.gif">
            </img>
        </div>
        <div class="modal fade" data-backdrop="static" id="settings-modal" role="dialog">
            <div class="modal-dialog ping-settings-modal-dialog">
                <!-- Modal content-->
                <div class="modal-content ping-settings-modal-content">
                    <div class="modal-header ping-settings-modal-header">
                        <button class="close" data-dismiss="modal" type="button">
                            Ã—
                        </button>
                        <h4 class="modal-title ping-settings-modal-title">
                            Settings
                        </h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer ping-settings-footer ping-settings-modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 12px 0px 12px 0px; min-height: 65px;">
            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
                <div id="referal-status-title">
                    {{#_i18n}}referal-status{{/_i18n}}
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6" style="margin: 10px 0px;">
                <select id="change-user" style="display: none;">
                    {{#subscription}}
                    <option image="{{image_url}}" value="{{email}}">
                        {{email}}
                    </option>
                    {{/subscription}}
                </select>
                <div class="pull-right" id="switch-user">
                </div>
                <div class="pull-right progress-bar-container"></div>
                <img class="pull-right" id="feedback-img" src="/img/toolbar/ic-feedback.svg">
                </img>
            </div>
        </div>
        <hr id="big-hr">
            <div class="row referal-details">
                <div class="row header-ping" style="margin: 40px 2% 40px 2%;">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 referal-status-header">
                        <div class="row text-center referal-validity-text">
                            You earned
                            <b>
                                {{daysCount}}
                            </b>
                            days for your
                            <b>
                                {{referralCount}}
                            </b>
                            referred {{#singleFriend}}friend{{/singleFriend}}{{^singleFriend}}friends{{/singleFriend}}. {{#daysCount}}Keep it up!{{/daysCount}}
                        </div>
                        <div class="row text-center referal-validity-text">
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-4 referal-status-count-img">
                                <img class="referal-status-img" src="{{img1}}">
                                </img>
                                <span id="month">
                                    1
                                </span>
                                <div class="dotted-line">
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-4 referal-status-count-img">
                                <img class="referal-status-img" src="{{img6}}">
                                </img>
                                <span id="year">
                                    6
                                </span>
                                <div class="dotted-line">
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-4 referal-status-count-img">
                                <img class="referal-status-img" src="{{img25}}">
                                </img>
                                <span id="lifetime">
                                    25
                                </span>
                            </div>
                        </div>
                        <div class="row text-center referal-validity-text">
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-4 referal-status-count-text">
                                <div class="referal-status-large-text">
                                    Get
                                    <b>
                                        1 month
                                    </b>
                                    of free PRO
                                </div>
                                <div class="referal-status-small-text">
                                    Refer 1 friend
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-4 referal-status-count-text">
                                <div class="referal-status-large-text">
                                    Get
                                    <b>
                                        1 year
                                    </b>
                                    of free PRO
                                </div>
                                <div class="referal-status-small-text">
                                    Refer 6 friends
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-4 referal-status-count-text">
                                <div class="referal-status-large-text">
                                    Get a
                                    <b>
                                        lifetime
                                    </b>
                                    of free PRO
                                </div>
                                <div class="referal-status-small-text">
                                    Refer 25 friends
                                </div>
                            </div>
                        </div>
                        <div class="row text-center referal-validity-text">
                            <a class="btn referal-btn" href="/dashboard/refer-a-friend-options">
                                refer a friend
                            </a>
                        </div>
                    </div>
                </div>
                {{^showEmpty}}
                <div class="row referal-details-table">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 referal-tbale">
                        <table class="table referral-table">
                            <thead>
                                <tr>
                                    <th>
                                        Bonus Type
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th>
                                        Pro time earned
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#referralCodeModels}}
                                <tr>
                                    <td class="referral-type">
                                        {{type}}
                                    </td>
                                    {{#email}}
                                    <td class="referral-email">
                                        {{email}}
                                    </td>
                                    {{/email}}
                                    {{^email}}
                                    <td class="referral-email">
                                        -
                                    </td>
                                    {{/email}}
                                    <td class="referral-time">
                                        {{created_on}}
                                    </td>
                                    <td class="referral-limit">
                                        {{limit}}
                                    </td>
                                </tr>
                                {{/referralCodeModels}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{/showEmpty}}
                {{#showEmpty}}
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 referal-empty">
                        <img src="/img/read-email.png">
                        </img>
                        <br>
                            <div class="referal-empty-text">
                                You have not shared your link yet.
                            </div>
                        </br>
                    </div>
                </div>
                {{/showEmpty}}
            </div>
        </hr>
    </div>
</div>
<div style="display: none;">
    <div id="subIdFlag" value="{{subIdFlag}}">
    </div>
</div>
<div style="display: none;">
    <div id="planId" value="{{planId}}">
    </div>
</div>
<div style="display: none;">
    <div id="featureset" value="{{featureset}}">
    </div>
</div>
<script src="/js/moment.js" type="text/javascript">
</script>
<script src="/js/referAFriend.js">
</script>
<script src="/js/mixpanel.js">
</script>