<link href="/css/scheduledEmails.css?v=3.0" rel="stylesheet"/>
<link href="/lib/SearchableDropdown/src/jquery-customselect.css" rel="stylesheet"/>
<script src="/lib/SearchableDropdown/src/jquery-customselect.js">
</script>
<link href="/lib/youtube-video/grt-youtube-popup.css" rel="stylesheet">
<div class="container-fluid" style="margin-left: 205px;padding: 0px 0px 0px 40px;">
    <input id="timezone" timezone="{{{timezone}}}" type="hidden">
    <div class="row" style="margin: 23px 0px;">
        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
			<div id="sidemenu-btn">
				<i class="fa fa-bars"></i>
			</div>
            <div id="schedule-title">
                {{#_i18n}}your-scheduled-emails{{/_i18n}}
            </div>
        </div>
        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
            <select id="change-user" style="display: none;">
                {{#subscription}}
                <option image="{{image_url}}" value="{{email}}">
                    {{email}}
                </option>
                {{/subscription}}
            </select>
            <div class="pull-right" id="switch-user">
            </div>
            <div class="pull-right progress-bar-container">
            </div>
            <img class="pull-right" id="feedback-img" src="/img/ic-feedback.svg">
            </img>
        </div>
    </div>
    <hr id="big-hr">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="schedule-email-content">
            <div id="schedule-email-table">
            </div>
            <div class="empty-email" id="empty-schedule-email" style="display: none;">
                <img src="/img/Illustration-One.svg">
                <div class="email-text">
                    {{#_i18n}}you-have-0-scheduled-emails-title{{/_i18n}}
                </div>
               <a class="btn btn-video youtube-link text-center watch-tutorial windows-watch-tutorial" youtubeid="13EWX7fC52k">
                    <img src="/img/play-circle.svg" style="width: 23px;margin: 0px 5px 3px 0px;">
                    Watch Tutorial
                </a>
                <!--div class="wistia_embed wistia_async_5dyzd8p52e popover=true popoverContent=html wistia_embed_initialized btn btn-video youtube-link text-center watch-tutorial windows-watch-tutorial" id="wistia-5dyzd8p52e-1" style="display: inline-block;">
                    <img src="/img/play-circle.svg" style="width: 23px;margin: 0px 5px 3px 0px;">
                    Watch Tutorial
                </div-->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="schedule-spinner">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static" id="schedule-email-send-success-modal" role="dialog">
        <div class="modal-dialog schedule-email-send-success-modal-dialog">
            <!-- Modal content-->
            <div class="modal-content schedule-email-send-success-modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal" style="margin: 6px 10px 0px 0px;" type="button">
                    <img src="/img/popup-schedule-timezone-close.svg">
                    </img>
                    </button>
                    <div class="row">
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <img src="/img/schedule-email-send-successfully.svg">
                            </img>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="row schedule-email-send-title">
                                Done!
                            </div>
                            <div class="row schedule-email-send-subtitle">
                                Email successfully sent.
                            </div>
                            <div class="row text-center">
                                <label class="dont-show-cancel-schedule-email-warning checkbox-container">
                                    <input id="hide-send-schedule-email-success-popup" type="checkbox">
                                    Don't show this message again.
                                    <span class="checkmark" style="left: 145px;">
                                    </span>
                                </label>
                            </div>
                            <div class="row">
                                <button class="btn win_btn_padding_bottom" id="dont-show-send-success-popup">
                                Okay
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static" id="schedule-email-change-delivery-time-modal" role="dialog">
        <div class="modal-dialog schedule-email-change-delivery-time-modal-dialog">
            <!-- Modal content-->
            <div class="modal-content schedule-email-change-delivery-time-modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal" style="margin: 6px 10px 0px 0px;" type="button">
                    <img src="/img/popup-schedule-timezone-close.svg">
                    </img>
                    </button>
                    <div class="row">
                        <input id="schedule-email-id" type="hidden" value="">
                        <p class="change-delivery-time-title text-center">
                            Change Delivery Time
                        </p>
                        <p class="change-delivery-time-to text-center" data-selected-time="">
                        </p>
                        </input>
                    </div>
                    <div class="row row-eq-height">
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6 text-center">
                            <div class="schedule-menu-container">
                                <center>
                                <div id="schedule-email-datepicker-container">
                                </div>
                                </center>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6 text-center">
                            <input id="schedule-date-input" style="display: none;" type="text"/>
                            <div class="time-row-container">
                                <div class="row">
                                    <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1 col-xs-1"></div>
                                    <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-xs-2">
                                        <table class="mailtag__dropdown mailtag__dropdown__hours">
                                            <tr>
                                                <td class="mailtag__dropdown__left" rowspan="2">
                                                    <select class="hours-dropdown" id="hours-dropdown">
                                                        <option value="1">
                                                            1
                                                        </option>
                                                        <option value="2">
                                                            2
                                                        </option>
                                                        <option value="3">
                                                            3
                                                        </option>
                                                        <option value="4">
                                                            4
                                                        </option>
                                                        <option value="5">
                                                            5
                                                        </option>
                                                        <option value="6">
                                                            6
                                                        </option>
                                                        <option value="7">
                                                            7
                                                        </option>
                                                        <option value="8">
                                                            8
                                                        </option>
                                                        <option value="9">
                                                            9
                                                        </option>
                                                        <option value="10">
                                                            10
                                                        </option>
                                                        <option value="11">
                                                            11
                                                        </option>
                                                        <option value="12">
                                                            12
                                                        </option>
                                                    </select>
                                                </td>
                                                <td class="mailtag__dropdown__arrow__top">
                                                    <img class="mailtag__dropdown__arrow" id="up" src="/img/time-up-arrow.svg"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="mailtag__dropdown__arrow__bottom">
                                                    <img class="mailtag__dropdown__arrow" id="down" src="/img/time-down-arrow.svg"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-xs-2">
                                        <table class="mailtag__dropdown mailtag__dropdown__minutes">
                                            <tr>
                                                <td class="mailtag__dropdown__left" rowspan="2">
                                                    <select class="minutes-dropdown" id="minutes-dropdown">
                                                        <option value="0">
                                                            00
                                                        </option>
                                                        <option style="display:none;" value="1">
                                                            01
                                                        </option>
                                                        <option style="display:none;" value="2">
                                                            02
                                                        </option>
                                                        <option style="display:none;" value="3">
                                                            03
                                                        </option>
                                                        <option style="display:none;" value="4">
                                                            04
                                                        </option>
                                                        <option value="5">
                                                            05
                                                        </option>
                                                        <option style="display:none;" value="6">
                                                            06
                                                        </option>
                                                        <option style="display:none;" value="7">
                                                            07
                                                        </option>
                                                        <option style="display:none;" value="8">
                                                            08
                                                        </option>
                                                        <option style="display:none;" value="9">
                                                            09
                                                        </option>
                                                        <option value="10">
                                                            10
                                                        </option>
                                                        <option style="display:none;" value="11">
                                                            11
                                                        </option>
                                                        <option style="display:none;" value="12">
                                                            12
                                                        </option>
                                                        <option style="display:none;" value="13">
                                                            13
                                                        </option>
                                                        <option style="display:none;" value="14">
                                                            14
                                                        </option>
                                                        <option value="15">
                                                            15
                                                        </option>
                                                        <option style="display:none;" value="16">
                                                            16
                                                        </option>
                                                        <option style="display:none;" value="17">
                                                            17
                                                        </option>
                                                        <option style="display:none;" value="18">
                                                            18
                                                        </option>
                                                        <option style="display:none;" value="19">
                                                            19
                                                        </option>
                                                        <option value="20">
                                                            20
                                                        </option>
                                                        <option style="display:none;" value="21">
                                                            21
                                                        </option>
                                                        <option style="display:none;" value="22">
                                                            22
                                                        </option>
                                                        <option style="display:none;" value="23">
                                                            23
                                                        </option>
                                                        <option style="display:none;" value="24">
                                                            24
                                                        </option>
                                                        <option value="25">
                                                            25
                                                        </option>
                                                        <option style="display:none;" value="26">
                                                            26
                                                        </option>
                                                        <option style="display:none;" value="27">
                                                            27
                                                        </option>
                                                        <option style="display:none;" value="28">
                                                            28
                                                        </option>
                                                        <option style="display:none;" value="29">
                                                            29
                                                        </option>
                                                        <option value="30">
                                                            30
                                                        </option>
                                                        <option style="display:none;" value="31">
                                                            31
                                                        </option>
                                                        <option style="display:none;" value="32">
                                                            32
                                                        </option>
                                                        <option style="display:none;" value="33">
                                                            33
                                                        </option>
                                                        <option style="display:none;" value="34">
                                                            34
                                                        </option>
                                                        <option value="35">
                                                            35
                                                        </option>
                                                        <option style="display:none;" value="36">
                                                            36
                                                        </option>
                                                        <option style="display:none;" value="37">
                                                            37
                                                        </option>
                                                        <option style="display:none;" value="38">
                                                            38
                                                        </option>
                                                        <option style="display:none;" value="39">
                                                            39
                                                        </option>
                                                        <option value="40">
                                                            40
                                                        </option>
                                                        <option style="display:none;" value="41">
                                                            41
                                                        </option>
                                                        <option style="display:none;" value="42">
                                                            42
                                                        </option>
                                                        <option style="display:none;" value="43">
                                                            43
                                                        </option>
                                                        <option style="display:none;" value="44">
                                                            44
                                                        </option>
                                                        <option value="45">
                                                            45
                                                        </option>
                                                        <option style="display:none;" value="46">
                                                            46
                                                        </option>
                                                        <option style="display:none;" value="47">
                                                            47
                                                        </option>
                                                        <option style="display:none;" value="48">
                                                            48
                                                        </option>
                                                        <option style="display:none;" value="49">
                                                            49
                                                        </option>
                                                        <option value="50">
                                                            50
                                                        </option>
                                                        <option style="display:none;" value="51">
                                                            51
                                                        </option>
                                                        <option style="display:none;" value="52">
                                                            52
                                                        </option>
                                                        <option style="display:none;" value="53">
                                                            53
                                                        </option>
                                                        <option style="display:none;" value="54">
                                                            54
                                                        </option>
                                                        <option value="55">
                                                            55
                                                        </option>
                                                        <option style="display:none;" value="56">
                                                            56
                                                        </option>
                                                        <option style="display:none;" value="57">
                                                            57
                                                        </option>
                                                        <option style="display:none;" value="58">
                                                            58
                                                        </option>
                                                        <option style="display:none;" value="59">
                                                            59
                                                        </option>
                                                    </select>
                                                </td>
                                                <td class="mailtag__dropdown__arrow__top">
                                                    <img class="mailtag__dropdown__arrow" id="up" src="/img/time-up-arrow.svg"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="mailtag__dropdown__arrow__bottom">
                                                    <img class="mailtag__dropdown__arrow" id="down" src="/img/time-down-arrow.svg"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6">
                                        <div id="am-title">AM</div>
                                        <label class="switch">
                                            <input id="am-pm" type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                        <div id="pm-title">PM</div>
                                    </div>
                                    <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1 col-xs-1"></div>
                                </div>
                            </div>
                            <div class="mailtag__popup">
                                <div id="timezones">
                                    <div class="mailtag__popup__container__timezone__search">
                                        <input class="search mailtag_input_search" placeholder="Search">
                                        </input>
                                    </div>
                                    <ul class="list mailtag__scrollbar">
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <button id="selected-time-zone">
                                <div class="col-md-8 mailtag__timezone__value" mailtag-timezone="">
                                    Select timezone
                                </div>
                                <div class="col-md-4 text-right">
                                    <img src="/img/timezone-dropdown.svg" style="padding: 14px 0px;margin-top: 6px;" width="15px">
                                </div>
                                </button>
                            </div>
                            <div class="row text-center">
                                <button class="mailtag-schedule-button win_btn_padding_bottom" id="update-scheduled-email">
                                Update Delivery Time
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static" id="schedule-email-cancel-modal" role="dialog">
        <div class="modal-dialog schedule-email-cancel-modal-dialog">
            <!-- Modal content-->
            <div class="modal-content schedule-email-cancel-modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal" style="margin: 6px 10px 0px 0px;" type="button">
                    <img src="/img/popup-schedule-timezone-close.svg">
                    </button>
                    <div class="row">
                        <input id="schedule-email-id" type="hidden" value="">
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <img src="/img/cancel-schedule-email.svg">
                            <div class="row scheduled-email-cancel-title">
                                Heads Up!
                            </div>
                            <div class="row scheduled-email-cancel-subtitle">
                                Upon canceling, your email will NOT be sent to your recipient(s).
                                Your email will remain in your drafts folder.
                            </div>
                            <div class="row text-center" style="margin: 30px 0px;">
                                <label class="dont-show-cancel-schedule-email-warning checkbox-container">
                                    <input id="hide-delete-schedule-email-popup" type="checkbox">
                                    Don't show this message again.
                                    <span class="checkmark" style="left: 130px;">
                                    </span>
                                </label>
                            </div>
                            <div class="row text-center">
                                <button class="btn win_btn_padding_bottom" id="cancel-scheduled-email">
                                Okay
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </hr>
    </input>
</div>
<div style="display: none;">
    <div id="subIdFlag" value="{{subIdFlag}}">
    </div>
</div>
<div style="display: none;">
    <div id="planId" value="{{planId}}">
    </div>
</div>
<div style="display: none;">
    <div id="featureset" value="{{featureset}}">
    </div>
</div>
<div style="display: none;">
    <div id="expiryDate" value="{{expiryDate}}">
    </div>
</div>
<div style="display: none;">
    <div id="plan" value="{{plan}}">
    </div>
</div>
<div style="display: none;">
    <div id="paymentStatus" value="{{paymentStatus}}">
    </div>
</div>
<div style="display: none;">
    <div id="userCreatedOn" value="{{userCreatedOn}}">
    </div>
</div>
<script src="/js/moment.js" type="text/javascript">
</script>
<script src="/js/schedule-email-datepicker.js">
</script>
<script src="/js/moment-timezone-with-data.js" type="text/javascript">
</script>
<script src="/lib/youtube-video/grt-youtube-popup.js">
</script>
<script src="/js/scheduledEmails.js?v=3.0">
</script>
</link>