{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ content }}
        <main id="main">
            <div class="banner signature-banner">
                <div class="container">
                    <div class="twocolumns">
                        <div class="col">
                            <h2>
                                The professional email signature
                                <br>
                                    generator designed to grow your sales.
                                </br>
                            </h2>
                            <div class="txt">
                                <p>
                                    100% free, forever.
                                </p>
                                <a class="btn btn-yellow" href="#holder">
                                    Create Your Signature
                                    <span class="mark">
                                        It's Free!
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="visual">
                                <img alt="image-description" height="643" src="/images/signature-image.png" width="623"/>
                            </div>
                        </div>
                    </div>
                    <div class="bar-banner">
                        <ul class="list-ico">
                            <li>
                                <span class="works-title">
                                    Works on:
                                </span>
                            </li>
                            <li>
                                <img alt="image description" height="21" src="/images/gmail.png" width="84"/>
                            </li>
                            <li>
                                <img alt="image description" height="19" src="/images/gsuite.png" width="77"/>
                            </li>
                            <li>
                                <img alt="image description" height="21" src="/images/office.svg" width="95"/>
                            </li>
                            <li>
                                <img alt="image description" height="19" src="/images/yahoo.svg" width="79"/>
                            </li>
                            <li>
                                <img alt="image description" height="20" src="/images/aol.svg" width="50"/>
                            </li>
                            <li>
                                <img alt="image description" height="20" src="/images/outlook.svg" width="138"/>
                            </li>
                            <li>
                                <img alt="image description" height="31" src="/images/apple.svg" width="27"/>
                            </li>
                            <li>
                                <img alt="image description" height="24" src="/images/bitmap.png" width="91"/>
                            </li>
                            <li>
                                <img alt="image description" height="26" src="/images/inbox.png" width="75"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="holder">
                <div class="content">
                    <div class="container">
                        <section class="section benefits">
                            <h4>
                                Get the most from your email signature.
                            </h4>
                            <ul class="benefits-list">
                                <li>
                                    <div class="benefit-image">
                                        <img alt="image-description" height="170" src="/images/img-34.png" width="170"/>
                                    </div>
                                    <div class="benefit-text">
                                        <h4>
                                            More Email Replies
                                        </h4>
                                        <p>
                                            Increase your reply-rate by improving your signature’s design and adding a profile picture.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="benefit-image">
                                        <img alt="image-description" height="170" src="/images/img-35.png" width="170"/>
                                    </div>
                                    <div class="benefit-text">
                                        <h4>
                                            Increased Social Reach
                                        </h4>
                                        <p>
                                            Link your social media outlets
                                            <br>
                                                and grow your followings.
                                            </br>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="benefit-image">
                                        <img alt="image-description" height="170" src="/images/img-36.png" width="170"/>
                                    </div>
                                    <div class="benefit-text">
                                        <h4>
                                            Increased Link-Clicks
                                        </h4>
                                        <p>
                                            Increase your link-clicks
                                            <br>
                                                by linking to your website.
                                            </br>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="benefit-image">
                                        <img alt="image-description" height="170" src="/images/img-37.png" width="170"/>
                                    </div>
                                    <div class="benefit-text">
                                        <h4>
                                            More Deals Closed
                                        </h4>
                                        <p>
                                            Increase your accessibility with prospects by listing your
                                            <br>
                                                contact information.
                                            </br>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <div class="two-columns">
                            <div class="col">
                                <div class="box-widget circle-widget">
                                    <form class="form-widget">
                                        <div class="form-title">
                                            <h3 class="title">
                                                Your information
                                            </h3>
                                            <p>
                                                <span style="color: rgba(34, 38, 66, 0.6)">
                                                    Let’s build your new email signature!
                                                </span>
                                                <img src="/img/sunglasses.svg" style="width: 20px;">
                                                </img>
                                            </p>
                                        </div>
                                        <div class="photo-box">
                                            <div class="box-holder">
                                                <div class="label-box">
                                                    <label class="upload">
                                                        <img class="img-upload">
                                                            <input type="file">
                                                            </input>
                                                        </img>
                                                    </label>
                                                </div>
                                                <div class="box-content">
                                                    <h4 class="title-box">
                                                        Upload your photo.
                                                    </h4>
                                                    <h4 class="title-box uploaded-title">
                                                        Your photo.
                                                    </h4>
                                                    <span class="size">
                                                        Max. image size: 1MB
                                                    </span>
                                                    <a class="upload-remove" href="#">
                                                        Remove
                                                    </a>
                                                    <div class="radio-figure">
                                                        <label>
                                                            <input class="photo-layout-square" name="photo-form1" type="radio">
                                                                <span class="fake-radio square">
                                                                </span>
                                                            </input>
                                                        </label>
                                                        <label>
                                                            <input checked="" class="photo-layout-half-square" name="photo-form1" type="radio">
                                                                <span class="actLayout fake-radio half-square">
                                                                </span>
                                                            </input>
                                                        </label>
                                                        <label>
                                                            <input class="photo-layout-circle" name="photo-form1" type="radio">
                                                                <span class="fake-radio circle">
                                                                </span>
                                                            </input>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="range">
                                                <input max="135" min="85" step="1" type="range" value="100">
                                                </input>
                                            </div>
                                        </div>
                                        <div class="widget-input">
                                            <input placeholder="Name" type="text">
                                            </input>
                                        </div>
                                        <div class="widget-input">
                                            <input placeholder="Title/Position (CEO, Head of Sales, etc.)" type="text">
                                            </input>
                                        </div>
                                        <div class="widget-input">
                                            <input placeholder="Company Name" type="text">
                                            </input>
                                        </div>
                                        <div class="widget-input">
                                            <input placeholder="Your Email Address" type="email">
                                            </input>
                                        </div>
                                        <div class="widget-input">
                                            <input placeholder="Your Website (e.g: https://www.MailTag.io)" type="url">
                                            </input>
                                        </div>
                                        <div class="widget-input">
                                            <input placeholder="Physical Office Address" type="text">
                                            </input>
                                        </div>
                                        <div class="widget-input">
                                            <input placeholder="Office Phone Number" type="tel">
                                            </input>
                                        </div>
                                        <div class="widget-input">
                                            <input placeholder="Mobile Phone Number" type="tel">
                                            </input>
                                        </div>
                                        <div class="widget-input">
                                            <input placeholder="Home Phone Number" type="tel">
                                            </input>
                                        </div>
                                        <div class="color-block">
                                            <label class="label">
                                                Color Selection:
                                            </label>
                                            <div class="color-list">
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(178, 67, 68, 0.3);">
                                                            <span class="radius" style="background-color: rgb(178, 67, 68); ;">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input checked="" name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(50, 142, 247, 0.3);">
                                                            <span class="radius" style="background-color: rgb(50, 142, 247);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(169, 201, 144, 0.3);">
                                                            <span class="radius" style="background-color: rgb(169, 201, 144);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(0, 138, 161, 0.3);">
                                                            <span class="radius" style="background-color: rgb(0, 138, 161);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(255, 188, 0, 0.3);">
                                                            <span class="radius" style="background-color: rgb(255, 188, 0);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(114, 150, 82, 0.3);">
                                                            <span class="radius" style="background-color: rgb(114, 150, 82);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(162, 212, 226, 0.3);">
                                                            <span class="radius" style="background-color: rgb(162, 212, 226);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(129, 113, 101, 0.3);">
                                                            <span class="radius" style="background-color: rgb(129, 113, 101);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(250, 227, 176, 0.3);">
                                                            <span class="radius" style="background-color: rgb(250, 227, 176);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(198, 180, 164, 0.3);">
                                                            <span class="radius" style="background-color: rgb(198, 180, 164);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(118, 194, 203, 0.3);">
                                                            <span class="radius" style="background-color: rgb(118, 194, 203);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(240, 58, 118, 0.3);">
                                                            <span class="radius" style="background-color: rgb(240, 58, 118);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(174, 67, 190, 0.3);">
                                                            <span class="radius" style="background-color: rgb(174, 67, 190);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(123, 84, 196, 0.3);">
                                                            <span class="radius" style="background-color: rgb(123, 84, 196);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(80, 104, 194, 0.3);">
                                                            <span class="radius" style="background-color: rgb(80, 104, 194);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(0, 199, 220, 0.3);">
                                                            <span class="radius" style="background-color: rgb(0, 199, 220);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(90, 185, 99, 0.3);">
                                                            <span class="radius" style="background-color: rgb(90, 185, 99);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(214, 224, 72, 0.3);">
                                                            <span class="radius" style="background-color: rgb(214, 224, 72);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(255, 236, 74, 0.3);">
                                                            <span class="radius" style="background-color: rgb(255, 236, 74);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(255, 168, 0, 0.3);">
                                                            <span class="radius" style="background-color: rgb(255, 168, 0);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(141, 104, 90, 0.3);">
                                                            <span class="radius" style="background-color: rgb(141, 104, 90);">
                                                            </span>
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-color" type="radio">
                                                        <span class="fake-input" style="border-color: rgba(114, 144, 157, 0.3);">
                                                            <input class="radius" data-wcp-format="rgba" data-wheelcolorpicker="" id="ColorInput" name="color" readonly="" style="cursor: pointer; color: transparent; width: 34px;padding: 0px;height: 34px;background: #6DB3F2 url(/img/ic_format_color.svg)no-repeat center;border: none;" type="text">
                                                            </input>
                                                        </span>
                                                    </input>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row-check">
                                            <label class="check-line">
                                                <span class="label">
                                                    Line Separator
                                                </span>
                                                <input checked="" class="line-separator" type="checkbox">
                                                    <span class="fake-turn">
                                                    </span>
                                                </input>
                                            </label>
                                        </div>
                                        <div class="radio-box">
                                            <label class="label">
                                                Separator line width:
                                            </label>
                                            <div class="radio-line">
                                                <label>
                                                    <input name="radio-width-line" type="radio" width="thin">
                                                        <span class="fake-label">
                                                            Thin
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input checked="" name="radio-width-line" type="radio" width="medium">
                                                        <span class="fake-label">
                                                            Medium
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-width-line" type="radio" width="thick">
                                                        <span class="fake-label">
                                                            Thick
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input name="radio-width-line" type="radio" width="dotted">
                                                        <span class="fake-label">
                                                            Dotted
                                                        </span>
                                                    </input>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="radio-box">
                                            <label class="label">
                                                Separator line position:
                                            </label>
                                            <div class="radio-line">
                                                <label>
                                                    <input name="radio-position-line" pos="vertical" type="radio">
                                                        <span class="fake-label">
                                                            Vertical
                                                        </span>
                                                    </input>
                                                </label>
                                                <label>
                                                    <input checked="" name="radio-position-line" pos="horizontal" type="radio">
                                                        <span class="fake-label">
                                                            Horizontal
                                                        </span>
                                                    </input>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="social-form">
                                            <label class="check-line" style="padding-bottom: 0px;">
                                                <span class="label">
                                                    Social Media:
                                                </span>
                                                <input checked="" class="social-media-icon" type="checkbox">
                                                    <span class="fake-turn">
                                                    </span>
                                                </input>
                                            </label>
                                            <div class="box-holder">
                                                <div class="radio-figure">
                                                    <label>
                                                        <input name="radio-social" show-social="not-bg" type="radio">
                                                            <span class="fake-radio not-bg">
                                                            </span>
                                                        </input>
                                                    </label>
                                                    <label>
                                                        <input name="radio-social" show-social="square" type="radio">
                                                            <span class="fake-radio square">
                                                            </span>
                                                        </input>
                                                    </label>
                                                    <label>
                                                        <input name="radio-social" show-social="half-square" type="radio">
                                                            <span class="fake-radio half-square">
                                                            </span>
                                                        </input>
                                                    </label>
                                                    <label>
                                                        <input name="radio-social" show-social="circle" type="radio">
                                                            <span class="fake-radio circle">
                                                            </span>
                                                        </input>
                                                    </label>
                                                </div>
                                                <div class="range">
                                                    <input max="25" min="10" type="range" value="14">
                                                    </input>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="draggen-drop" id="sortable">
                                            <li class="widget-input">
                                                <input placeholder="Linkedin" type="url">
                                                </input>
                                            </li>
                                            <li class="widget-input">
                                                <input placeholder="Facebook" type="url">
                                                </input>
                                            </li>
                                            <li class="widget-input">
                                                <input placeholder="Twitter" type="url">
                                                </input>
                                            </li>
                                            <li class="widget-input">
                                                <input placeholder="Instagram" type="url">
                                                </input>
                                            </li>
                                            <li class="widget-input">
                                                <input placeholder="Medium" type="url">
                                                </input>
                                            </li>
                                            <li class="widget-input">
                                                <input placeholder="Google+" type="url">
                                                </input>
                                            </li>
                                            <li class="widget-input">
                                                <input placeholder="Pinterest" type="url">
                                                </input>
                                            </li>
                                            <li class="widget-input">
                                                <input placeholder="YouTube" type="url">
                                                </input>
                                            </li>
                                            <li class="widget-input">
                                                <input placeholder="Soundcloud" type="url">
                                                </input>
                                            </li>
                                            <li class="widget-input">
                                                <input placeholder="Skype" type="url">
                                                </input>
                                            </li>
                                        </ul>
                                        <div class="advanced-option">
                                            <div class="row-check">
                                                <label class="check-line">
                                                    <span class="label">
                                                        Show advanced options
                                                    </span>
                                                    <input checked="" class="show-advanced-options" type="checkbox">
                                                        <span class="fake-turn">
                                                        </span>
                                                    </input>
                                                </label>
                                            </div>
                                            <div class="row-check" style="display: none;">
                                                <label class="check-line small-line">
                                                    <span class="label">
                                                        Include confidentiality disclaimer
                                                    </span>
                                                    <input type="checkbox">
                                                        <span class="fake-turn">
                                                        </span>
                                                    </input>
                                                </label>
                                            </div>
                                            <div class="row-check adv-op">
                                                <label class="check-line small-line">
                                                    <span class="label">
                                                        Social media icon color
                                                    </span>
                                                    <input checked="" class="social-icon-color" type="checkbox">
                                                        <span class="fake-turn">
                                                        </span>
                                                    </input>
                                                </label>
                                            </div>
                                            <div class="row-check adv-op">
                                                <label class="check-line small-line">
                                                    <span class="label">
                                                        Social media button options
                                                    </span>
                                                    <input checked="" class="social-button-option" type="checkbox">
                                                        <span class="fake-turn">
                                                        </span>
                                                    </input>
                                                </label>
                                                <div class="row-check social-button">
                                                    <label class="check-line small-line">
                                                        <span class="label">
                                                            Like us on Facebook
                                                        </span>
                                                        <input checked="" class="facebook-like" type="checkbox">
                                                            <span class="fake-turn">
                                                            </span>
                                                        </input>
                                                    </label>
                                                    <div class="widget-input">
                                                        <input placeholder="https://www.facebook.com/YourPageUsernameHere" type="text">
                                                        </input>
                                                    </div>
                                                </div>
                                                <div class="row-check social-button">
                                                    <label class="check-line small-line">
                                                        <span class="label">
                                                            Follow on Twitter
                                                        </span>
                                                        <input checked="" class="twitter-follow" type="checkbox">
                                                            <span class="fake-turn">
                                                            </span>
                                                        </input>
                                                    </label>
                                                    <div class="widget-input">
                                                        <input placeholder="https://twitter.com/YourUsernameHere" type="text">
                                                        </input>
                                                    </div>
                                                </div>
                                                <div class="row-check social-button">
                                                    <label class="check-line small-line">
                                                        <span class="label">
                                                            Follow on Pinterest
                                                        </span>
                                                        <input checked="" class="pinterest-follow" type="checkbox">
                                                            <span class="fake-turn">
                                                            </span>
                                                        </input>
                                                    </label>
                                                    <div class="widget-input">
                                                        <input placeholder="https://www.pinterest.com/YourUsernameHere" type="text">
                                                        </input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-check" style="display: none;">
                                                <label class="check-line small-line">
                                                    <span class="label">
                                                        Mobile app download
                                                    </span>
                                                    <input checked="" class="mobile-app-download" type="checkbox">
                                                        <span class="fake-turn">
                                                        </span>
                                                    </input>
                                                </label>
                                                <div class="row-check mobile-app-button">
                                                    <label class="check-line small-line">
                                                        <span class="label">
                                                            Download On The App Store
                                                        </span>
                                                        <input type="checkbox">
                                                            <span class="fake-turn">
                                                            </span>
                                                        </input>
                                                    </label>
                                                </div>
                                                <div class="row-check mobile-app-button">
                                                    <label class="check-line small-line">
                                                        <span class="label">
                                                            Get It On Google Play
                                                        </span>
                                                        <input type="checkbox">
                                                            <span class="fake-turn">
                                                            </span>
                                                        </input>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-submit">
                                            <button class="btn finish-btn btn-yellow" type="submit">
                                                Finish
                                            </button>
                                            <a class="btn btn-yellow success-signature" href="#popup2" style="display: none;">
                                                Finish
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col">
                                <div class="preview">
                                    <div class="preview-widget">
                                        <div class="title-widget">
                                            <h2>
                                                Live Preview
                                            </h2>
                                        </div>
                                        <div class="box-widget circle-widget social-color-of social-avatar">
                                            <div class="row-widget">
                                                <span>
                                                    Recipients
                                                </span>
                                            </div>
                                            <div class="row-widget">
                                                <span>
                                                    Subject
                                                </span>
                                            </div>
                                            <div class="content-widget">
                                                <p>
                                                    Hello Andrew
                                                    <img alt="image description" height="20" src="/images/smile.png" width="20">
                                                        ,
                                                    </img>
                                                </p>
                                                <p>
                                                    Just writing to…
                                                </p>
                                            </div>
                                            <div class="user-widget">
                                                <div class="body">
                                                    <div class="head">
                                                        <div class="box-head">
                                                            <h2>
                                                                <a class="name" href="#">
                                                                    Marian Cruz
                                                                </a>
                                                            </h2>
                                                            <p>
                                                                <span class="mark-widget position">
                                                                    Designer
                                                                </span>
                                                                |
                                                                <span class="company">
                                                                    MailTag
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <ul class="social">
                                                            <li>
                                                                <a href="#" style="background: #3b5998;" target="_blank">
                                                                    <span class="icon-facebook2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Like us
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" style="background: #007bb5;" target="_blank">
                                                                    <span class="icon-linkedin">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" style="background: #55acee;" target="_blank">
                                                                    <span class="icon-twitter2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #3b5998;" target="_blank">
                                                                    <span class="icon-facebook2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Like us
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #007bb5;" target="_blank">
                                                                    <span class="icon-linkedin">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #55acee;" target="_blank">
                                                                    <span class="icon-twitter2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #3b5998;" target="_blank">
                                                                    <span class="icon-facebook2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Like us
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #007bb5;" target="_blank">
                                                                    <span class="icon-linkedin">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #55acee;" target="_blank">
                                                                    <span class="icon-twitter2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #55acee;" target="_blank">
                                                                    <span class="icon-twitter2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="line-widget">
                                                    </div>
                                                    <div class="content-body">
                                                        <div class="avatar-wrap">
                                                            <div class="avatar-widget">
                                                                <a>
                                                                    <img alt="image description" height="100" src="/images/avatar-widget-new.png" width="100"/>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <ul class="list-widget">
                                                            <li>
                                                                <span class="mark-widget">
                                                                    Phone:
                                                                </span>
                                                                <a class="phone-no" href="tel:15555555555">
                                                                    (+1) 555-555-5555
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <span class="mark-widget">
                                                                    Site:
                                                                </span>
                                                                <a class="site" href="#" target="_blank">
                                                                    MailTag.io
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <span class="mark-widget">
                                                                    Email:
                                                                </span>
                                                                <a class="email" href="mailto:Marian@MailTag.io">
                                                                    Marian@MailTag.io
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <span class="mark-widget">
                                                                    Address:
                                                                </span>
                                                                <address>
                                                                    Tempe, Arizona. Suite 2532
                                                                </address>
                                                            </li>
                                                        </ul>
                                                        <ul class="social">
                                                            <li>
                                                                <a href="#" target="_blank">
                                                                    <span class="icon-facebook2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Like us
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank">
                                                                    <span class="icon-linkedin3">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank">
                                                                    <span class="icon-twitter2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #3b5998;" target="_blank">
                                                                    <span class="icon-facebook2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Like us
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #007bb5;" target="_blank">
                                                                    <span class="icon-linkedin">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #55acee;" target="_blank">
                                                                    <span class="icon-twitter2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #3b5998;" target="_blank">
                                                                    <span class="icon-facebook2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Like us
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #007bb5;" target="_blank">
                                                                    <span class="icon-linkedin">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #55acee;" target="_blank">
                                                                    <span class="icon-twitter2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li style="display: none;">
                                                                <a href="#" style="background: #55acee;" target="_blank">
                                                                    <span class="icon-twitter2">
                                                                    </span>
                                                                    <span class="txt-social">
                                                                        Follow
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title-widget" style="background: #4c8de4; padding: 0px; height: 65px;text-align: center;">
                                        <div class="prev-template" style="float: left; display: inline-block; height: 100%; padding-top: 21px; border-right: 1px solid #62a5fe; cursor: pointer;">
                                            <img src="/img/left-nav-arrow.svg" style="margin:0px 20px;">
                                            </img>
                                        </div>
                                        <div style="display: inline-block; height: 100%;vertical-align: middle; padding-top: 21px;">
                                            <h2>
                                                <span class="heading-title" style="margin-right: 5px; display: unset;">
                                                    Browse free templates
                                                </span>
                                                <a class="mark-title" href="#teplates" style="color: #e8b719;opacity: 1;font-size: 18px;font-weight: bold; display: unset;">
                                                    Show all
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="next-template" style="float: right;display: inline-block; height: 100%; padding-top: 21px; border-left: 1px solid #62a5fe; cursor: pointer;">
                                            <img src="/img/right-nav-arrow.svg" style="margin:0px 20px;">
                                            </img>
                                        </div>
                                    </div>
                                </div>
                                <!--.full-widget-->
                                <!--.radius-widget//.circle-widget-->
                                <!--.line-separator//.line-medium//.line-thick//.line-dotted//.line-vertical//.line-horizontal//.line-short-->
                                <!--.social-radius//.social-circle-->
                                <!--.social-color-of//.social-avatar-->
                                <!--.social-bg-of//.social-from-header//.social-text-on-->
                                <!--.list-widget-line//.label-of//.list-widget-separator-->
                                <!--.avatar-center-content//.avatar-center-content-add-->
                                <!--.content-of-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {{/ content }}
    
    {{$ scripts }}
        <script src="/lib/croppie/croppie.js" type="text/javascript"></script>
        <script src="/lib/jqueryui/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/lib/color-picker/jquery.wheelcolorpicker.js" type="text/javascript"></script>
        <script src="/js/signature.js" type="text/javascript"></script>
    {{/ scripts }}
{{/ static-pages-layout }}
