{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ content }}
            <main class="success-page" id="main">
                <div class="banner inner-banner center-banner update-banner">
                    <div class="container">
                        <div class="banner-heading with-details">
                            <h1>
                                Whooo! :)
                            </h1>
                        </div>
                    </div>
                </div>
                <div id="holder">
                    <div class="content">
                        <div class="container">
                            <div class="form-holder">
                                <div class="success-result success-message">
                                    <div class="success-icon">
                                        <img alt="image-description" height="100" src="/images/success-icon.svg" width="100"/>
                                    </div>
                                    <div class="success-text">
                                        <h2>
                                            Upgrade Successful
                                        </h2>
                                        <span class="success-info">
                                            Your PRO credit has successfully been applied
                                            <br>
                                                to your email.
                                            </br>
                                        </span>
                                    </div>
                                    <a class="btn success-btn" href="" style="display: none;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
    {{/ content }}
    
    {{$ scripts}}
        <!-- Global site tag (gtag.js) - Google AdWords: 836912982 -->
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-836912982">
        </script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'AW-836912982');
        </script>
        <script>
            window.addEventListener('load',function(){
              if(window.location.pathname.match('/site-upgrade-success')){ 
                 gtag('event', 'conversion', {'send_to': 'AW-836912982/k1LFCLj9234Q1o6JjwM'});
              } 
            });
        </script>
        <script src="/js/siteUpgradeSuccess.js" type="text/javascript"></script>
        <script src="/js/jquery.main.js" type="text/javascript"></script>
        <script async="" src="https://static.tapfiliate.com/tapfiliate.js" type="text/javascript">
        </script>
        <script type="text/javascript">
            (function(t,a,p){t.TapfiliateObject=a;t[a]=t[a]||function(){ (t[a].q=t[a].q||[]).push(arguments)}})(window,'tap');    
            tap('create', '6953-1c9fbe');
            tap('conversion');
        </script>
    {{/scripts}}
{{/ static-pages-layout }}