{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ styles }}
<style type="text/css">
    #card-number-element, #card-expiry-element, #card-cvc-element {
            outline: none;
            font-family: 'AdobeAvenirLTStdRoman', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-size: 16px;
            color: #222642;
            text-align: left;
            padding-top: 12px;
            /*padding-left: 20px;*/
            background: #ffffff;
            border-bottom: 2px solid #eef3f8;
            /*border-radius: 100px;*/
            height: 44px;
            width: 100%;
        }
        .promo-outcome{
            padding-top: 5px;
            height: 20px;
        }
        .promo-outcome .promocode-earlybird-error{
            margin-top: 0px !important;

        }
        .outcome .card-no-error, .outcome .card-exp-error, .outcome .card-cvc-error, .outcome .promocode-earlybird-error {
            color: red;
            text-align: left;
            margin-top: 4px;
            overflow: visible;
            white-space: nowrap;
        }
        .outcome .visible {
            display: block !important;
        }
        .promocode-input{
            text-transform: uppercase;
        }
        .cover-layout {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(34, 38, 66, 0.5);
            z-index: 999999999;
            width: 100%;
            height: 100%;
        }
        @keyframes spinner {
            to {
                transform: rotate(360deg);
            }
        }

        .spinner:before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 42px;
            height: 42px;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
            border: 3px solid rgba(204, 204, 204, 0.2);
            border-top-color: #fff;
            animation: spinner .6s linear infinite;
        }
        .update-banner{
            height: 505px;
        }
</style>
{{/styles}}
<!-- {{$ utils}}
        <div class="cover-layout">
            <div class="spinner">
            </div>
        </div>
    {{/utils}} -->
{{$ header }}
        {{> ./components/headerStripped }}
    {{/ header }}

    {{$ content }}
<style type="text/css">
    #nav{
        display: none;
    }
</style>
<div class="cover-layout">
    <div class="spinner">
    </div>
</div>
<main class="success-page" id="main">
    <div class="banner inner-banner center-banner update-banner pay-banner">
        <div class="container">
            <div class="banner-heading with-details">
                <!-- <h1>
                    Upgrade MailTag
                </h1>
                <div class="txt">
                    <p class="upgrade-email-line">
                        for email account
                        <a href="mailto:alex@mailtag.com">
                            alex@mailtag.com
                        </a>
                    </p>
                    <p class="upgrade-text-line">
                        Purchasing for more than 5 accounts? Email
                        <a href="mailto:Business@MailTag.io">
                            Business@MailTag.io
                        </a>
                        for a custom quote.
                    </p>
                </div> -->
            </div>
        </div>
    </div>
    <div id="holder">
        <div class="content">
            <div class="container payment-popup-container">
                <div class="form-holder">
                        <div class="payment-popup-heading">
                        Supercharge your Gmail</div>
                    <div class="txt">
                        <p class="upgrade-email-line">
                            For email account
                            <a href="">
                            </a>
                        </p>
                    </div>

                    <form action="#" class="upgrate-form form-validation" method="get">
                        <div class="form-box rewardful" data-rewardful>
                            <div class="upgrate-box">
                                <div class="price-box input-content">
                                    <div class="subheading">
                                        PRO
                                    </div>
                                    <div class="heading price-elements">
                                        <span class="cost" data-price="yearly">
                                            <span class="payable-cost">
                                                $9.99/m
                                            </span>
                                        </span>
                                        <span class="cost another-cost" data-price="monthly">
                                            $12.99/m
                                        </span>
                                    </div>
                                    <div class="price-elements price-period">
                                        <span class="cost" data-price="yearly">
                                            per user, billed yearly
                                        </span>
                                        <span class="cost another-cost" data-price="monthly">
                                            per user, billed monthly
                                        </span>
                                    </div>
                                </div>
                                <div class="upgrate-box-lg-price-switch-main">
                                    <div class="checkbox-form upgrate-box-lg-price-switch">
                                        <label for="check-1">
                                            <input class="filter-check" data-pricer="yearly-monthly" id="check-1" type="checkbox">
                                                <span class="fake-input upgrate-box-fake-input">
                                                    <span class="month-off">
                                                        Monthly
                                                    </span>
                                                    <span class="year-off">
                                                        <span class="year-annual">
                                                            Annual
                                                        </span>
                                                        <span class="year-save">
                                                            Save 30%
                                                        </span>
                                                    </span>
                                                    <span class="switcher">
                                                        <span class="annual">
                                                            Annual
                                                        </span>
                                                        <span class="save">
                                                            Save 30%
                                                        </span>
                                                        <span class="monthly">
                                                            Monthly
                                                        </span>
                                                    </span>
                                                </span>
                                            </input>
                                        </label>
                                    </div>
                                    <div class="discount-callout price-elements">
                                        <span data-price="yearly">
                                            Whooo! You’re saving 30%!
                                            <img height="22" src="/images/new-party.svg" width="22"/>
                                        </span>
                                        <span class="another-cost" data-price="monthly">
                                            Save big by paying annually!
                                            <img height="22" src="/images/sunglasses.svg" width="22"/>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <label for="card-number-element">
                                    CARD NUMBER
                                </label>
                                <div data-required="true" data-type="number" id="card-number-element" placeholder="1234 5678 1234 5678" type="text">
                                    <!-- <span class="error">
                                                    Please fill the field.
                                                </span> -->
                                </div>
                                <span class="brand">
                                    <i class="pf pf-credit-card" id="brand-icon">
                                    </i>
                                </span>
                                <div class="outcome">
                                    <div class="card-no-error" style="display: none;">
                                    </div>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="form-col">
                                    <label for="card-expiry-element">
                                        EXPIRATION DATE
                                    </label>
                                    <div data-required="true" id="card-expiry-element" placeholder="MM / YY" type="text">
                                        <!-- <span class="error">
                                                        Please fill the field.
                                                    </span> -->
                                    </div>
                                    <div class="outcome">
                                        <div class="card-exp-error" style="display: none; width: 100%;">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-col">
                                    <label for="card-cvc-element">
                                        CVC
                                    </label>
                                    <div data-required="true" data-type="number" id="card-cvc-element" placeholder="123" type="text">
                                        <!-- <span class="error">
                                                        Please fill the field.
                                                    </span> -->
                                    </div>
                                    <div class="outcome">
                                        <div class="card-cvc-error" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="promocode-row">
                                <label>
                                    PROMO CODE
                                </label>
                                <input class="promocode-input" placeholder="Promocode" type="text">
                                    <a class="button promocode-apply" href="">
                                        Apply
                                    </a>
                                </input>
                                <div class="outcome promo-outcome">
                                    <div class="promocode-earlybird-error" style="display: none;">
                                        Oops! Code is only for yearly plan!
                                    </div>
                                </div>
                            </div>
                            <div class="text-left" style="display: block;color: #637282;margin: 0px 0px 20px 0px;font-size:16px;">
                                You'll be charged <span id="site-upgrade-billing-amount">$119.88</span> USD when your trial ends.<br>
                                <div style="font-family:ProximaNovaSemiBold;color: #2f3d4c;margin-top: 5px;">Billed now: $0</div>
                            </div>
                            <div class="input-wrap">
								<button type="submit" class="pay-btn">
									Start Plan
									<!--Checkout:&nbsp;
									<div class="credit-cards">
										<img src="/img/creditcards/american-express.svg">
										<img src="/img/creditcards/visa.svg">
										<img src="/img/creditcards/master-card.svg">
										<img src="/img/creditcards/discover.svg">
									</div-->
								</button>
                            </div>
                            <div class="secure-row">
                                <div class="lock-row">
                                    <span class="lock">
                                        <img alt="image-description" src="/images/lock-empty.svg">
                                        </img>
                                    </span>
                                    <span class="secure">
                                        Secure credit card payment
                                    </span>
                                </div>
                                <p>
                                    This is a secure 128-bit SSL encrypted form
                                </p>
                            </div>
							<!-- Paypal button -->
                            <!-- <div style="margin-bottom: 25px;text-align:center;">
                                
                                    <div id="paypal-button-container-site" style="text-align: -webkit-center;max-width:400px;display: inline-block;"></div>
                                
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="multi-acount-quotes">
                <p>
                    Purchasing for more than 5 accounts? Email
                    <a href="mailto:business@MailTag.io">
                        Business@MailTag.io
                    </a>
                    for a custom quote.
                </p>
            </div>
        </div>
    </div>
</main>
{{/ content }}

    {{$ scripts}}
<script src="/js/base64.min.js" type="text/javascript">
</script>
<!-- <script src="/js/stripe.min.js" type="text/javascript"> -->
<script src="https://js.stripe.com/v3/"></script>
</script>
<script src="/js/siteUpgrade.js" type="text/javascript">
</script>
<script async src='https://r.wdfl.co/rw.js' data-rewardful='d5f360'>
</script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{{/scripts}}
{{/ static-pages-layout }}
