<link href="/css/readEmails.css" rel="stylesheet"/>
<div class="container-fluid" style="margin-left: 205px;padding: 0px 0px 0px 40px; padding-top: 150px;">
    <button id="back-to-inbox" class="btn win_padding_top_for_specific_email_btn" onclick="window.history.back();">
        <img src="/img/back-to-inbox.svg">
        <span>Back To Pings</span>
        </button>
    <div style="margin-left: 400px; margin-top: 100px;">
        <h3>Email is not opened yet!</h3>
    </div>
</div>
<div style="display: none;">
    <div id="subIdFlag" value="{{subIdFlag}}">
    </div>
</div>
<div style="display: none;">
    <div id="planId" value="{{planId}}">
    </div>
</div>
<div style="display: none;">
    <div id="featureset" value="{{featureset}}">
    </div>
</div>
<div style="display: none;">
    <div id="expiryDate" value="{{expiryDate}}">
    </div>
</div>
<div style="display: none;">
    <div id="plan" value="{{plan}}">
    </div>
</div>
<div style="display: none;">
    <div id="paymentStatus" value="{{paymentStatus}}">
    </div>
</div>
<div style="display: none;">
    <div id="userCreatedOn" value="{{userCreatedOn}}">
    </div>
</div>
<script src="/js/moment.js" type="text/javascript">
</script>
<script src="/js/specificEmailPing.js" type="text/javascript">
</script>