<link href="/css/readEmails.css" rel="stylesheet"/>
<!-- <link href="/css/readEmailPings.css" rel="stylesheet"/> -->

<div class="container-fluid" style="margin-left: 205px;padding: 0px 0px 0px 40px;">
    {{#wholeEmailSummaryArray}}
    <div>
        <div class="row" style="margin: 23px 0px;">
            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
                <div class="heading">
                    {{subject}}
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
                <select id="change-user" style="display: none;">
                    {{#subscription}}
                    <option image="{{image_url}}" value="{{email}}">
                        {{email}}
                    </option>
                    {{/subscription}}
                </select>
                <div class="pull-right" id="switch-user">
                </div>
                <div class="pull-right progress-bar-container">
                </div>
                <img class="pull-right" id="feedback-img" src="/img/ic-feedback.svg">
                </img>
            </div>
        </div>
        <hr id="big-hr">
        <div class="row">
            
            <button id="back-to-inbox" class="btn win_padding_top_for_specific_email_btn" onclick="window.history.back();">
                <img src="/img/back-to-inbox.svg">
                <span>Back To Inbox</span>
                </button>
           
            
            <a href="https://mail.google.com/mail/u/?authuser={{currentUserEmail}}#all/{{messageId}}" target="_blank">
                <button id="open-in-gmail" class="btn win_padding_top_for_specific_email_btn">
                <img src="/img/open-in-gmail.svg">
                <span>Open In Gmail</span>
                </button>
            </a>
        </div>

        <div class="row detail-col">

            <div class="row">
                <div class="col-lg-5 col-xl-5 col-md-5 col-sm-5" style="padding: 10px 10px; width: 40%;">
                    <div class="title">
                        RECIPIENT
                    </div>
                </div>
				<div class="col-lg-1 col-xl-1 col-md-1 col-sm-1 text-center" style="width:5%">
                </div>
                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3" style="padding: 10px 10px; width: 25%;">
                    <div class="title">
                        FIRST OPENED
                    </div>
                </div>
                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1" style="padding: 10px 10px; width: 15%;">
                    <div class="title">
                        READ TIMES
                    </div>
                </div>
                <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2" style="padding: 10px 10px; width: 15%;">
                    <div class="title">
                        DEVICE
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1 text-center" style="width:5%">
                    <div class="recipient-img" data-email-address="{{destination_email}}" id="recipient-logo"></div>
                </div>
                <div class="col-lg-5 col-xl-5 col-md-5 col-sm-5" style="padding: 10px 10px; width: 40%;">
                    <div class="title-value" data-toggle="tooltip" data-html="true" title="{{recipientArrayString}}">
                        {{recipientArrayString}}
                        {{^recipientArrayString}} {{destination_email}}{{/recipientArrayString}}
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3" style="padding: 10px 10px; width: 25%;">
                    <div class="title-value">
						<img src="/img/check_blue.png" style="height:13px;margin-left:-2px;"><!-- TODO: replace with check_blue.png when needed -->
                        {{firstOpened}}
                    </div>
                </div>
                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1" style="padding: 10px 10px; width: 15%;">
                    <div class="title-value">
                        {{email_event_count}}
                    </div>
                </div>
                <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2" style="padding: 10px 10px; width: 15%;">
                    <div class="title-value">
                        {{#email_clicked_device_name}}
                        {{email_clicked_device_name}}
                        {{/email_clicked_device_name}}
                        {{^email_clicked_device_name}}
                        -
                        {{/email_clicked_device_name}}
                    </div>
                </div>
            </div>

            {{#ccRecipientArrayString}}
            <div class="row">
                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1 text-center" style="width:5%">
                    <div class="recipient-img" data-email-address="{{ccRecipientArrayString}}" id="cc-recipient-logo"></div>
                </div>
                <div class="col-lg-5 col-xl-5 col-md-5 col-sm-5" style="padding: 10px 10px; width: 40%;">
                    <div class="title-value" data-toggle="tooltip" data-html="true" title="{{ccRecipientArrayString}}">
                        {{ccRecipientArrayString}}
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3" style="padding: 10px 10px; width: 25%;">
                    <div class="title-value">
                        {{firstOpened}}
                    </div>
                </div>
                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1" style="padding: 10px 10px; width: 15%;">
                    <div class="title-value">
                        {{email_event_count}} times
                    </div>
                </div>
                <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2" style="padding: 10px 10px; width: 15%;">
                    <div class="title-value">
                        {{#email_clicked_device_name}}
                        {{email_clicked_device_name}}
                        {{/email_clicked_device_name}}
                        {{^email_clicked_device_name}}
                        -
                        {{/email_clicked_device_name}}
                    </div>
                </div>
            </div>
            {{/ccRecipientArrayString}}

            {{#bccRecipientArrayString}}
            <div class="row">
                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1 text-center" style="width:5%">
                    <div class="recipient-img" data-email-address="{{bccRecipientArrayString}}" id="bcc-recipient-logo"></div>
                </div>
                <div class="col-lg-5 col-xl-5 col-md-5 col-sm-5" style="padding: 10px 10px; width: 40%;">
                    <div class="title-value" data-toggle="tooltip" data-html="true" title="{{bccRecipientArrayString}}">
                        {{bccRecipientArrayString}}
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3" style="padding: 10px 10px; width: 25%;">
                    <div class="title-value">
                        {{firstOpened}}
                    </div>
                </div>
                <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1" style="padding: 10px 10px; width: 15%;">
                    <div class="title-value">
                        {{email_event_count}} times
                    </div>
                </div>
                <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2" style="padding: 10px 10px; width: 15%;">
                    <div class="title-value">
                        {{#email_clicked_device_name}}
                        {{email_clicked_device_name}}
                        {{/email_clicked_device_name}}
                        {{^email_clicked_device_name}}
                        -
                        {{/email_clicked_device_name}}
                    </div>
                </div>
            </div>
            {{/bccRecipientArrayString}}

        </div>

        <div class="row" style="margin: 20px 0px 20px 0px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="email-summary-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:100%">
                                ACTIVITY
                            </th>
                            <th nowrap>
                                WHO
                            </th>
                            <th nowrap>
                                DATE
                            </th>
                            <th nowrap>
                                TIME
                            </th>
                            <th nowrap>
                                LOCATION
                            </th>
                            <th nowrap>
                                DEVICE
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#allEmailEventArray}}

                        {{#attachment_flag}}
                        <tr>
                            <td class="activity" style="width:100%">
                                <img class="link-icon" id="sender-logo" src="/img/link.svg" />
                                Attachment Downloaded -
                                <a href="{{link}}" style="color: #393939;text-decoration: none;" target="_blank">
                                    {{link_to_display}}
                                </a>
                            </td>
                            <td class="read-recipient-name" nowrap>
                                <div class="read-recipient-avatar" data-email-address="{{#click_recipient}}{{recipient_name}}{{/click_recipient}}{{^click_recipient}}{{destination_email}}{{/click_recipient}}" id="destination-email-logo"></div><!-- todo: replace with correct avatar url -->
                                <span style="margin-left: 10px;">
                                    {{#click_recipient}}
                                    {{recipient_name}}
                                    {{/click_recipient}}
                                    {{^click_recipient}}
                                    {{destination_email}}
                                    {{/click_recipient}}
                                </span>
                            </td>
                            <td class="date" nowrap>
                                {{date}}
                            </td>
                            <td class="time" nowrap>
                                {{time}}
                            </td>
                            <td class="location" nowrap>
                                {{#location}}
                                {{location}}
                                {{/location}}
                                {{^location}}
                                Retrieving
                                {{/location}}
                            </td>
                            <td class="device" nowrap>
                                {{link_clicked_device_name}}
                            </td>
                        </tr>
                        {{/attachment_flag}}
                        {{^attachment_flag}}
                        {{#link_cliked_time}}
                        <tr>
                            <td class="activity" style="width:100%">
                                <img class="link-icon" id="sender-logo" src="/img/link.svg" />
                                Link Clicked -
                                <a href="{{link}}" style="color: #393939;text-decoration: none;" target="_blank">
                                    {{link_to_display}}
                                </a>
                            </td>
                            <td class="read-recipient-name" nowrap>
								<div class="read-recipient-avatar" data-email-address="{{#click_recipient}}{{recipient_name}}{{/click_recipient}}{{^click_recipient}}{{destination_email}}{{/click_recipient}}" id="destination-email-logo"></div><!-- todo: replace with correct avatar url -->
                                <span style="margin-left: 10px;">
                                    {{#click_recipient}}
                                    {{recipient_name}}
                                    {{/click_recipient}}
                                    {{^click_recipient}}
                                    {{destination_email}}
                                    {{/click_recipient}}
                                </span>
                            </td>
                            <td class="date" nowrap>
                                {{date}}
                            </td>
                            <td class="time" nowrap>
                                {{time}}
                            </td>
                            <td class="location" nowrap>
                                {{#location}}
                                {{location}}
                                {{/location}}
                                {{^location}}
                                Retrieving
                                {{/location}}
                            </td>
                            <td class="device" nowrap>
                                {{link_clicked_device_name}}
                            </td>
                        </tr>
                        {{/link_cliked_time}}
                        {{^link_cliked_time}}
                        <tr>
                            <td class="activity" style="width:100%">
                                <img class="link-icon" id="sender-logo" src="/img/open.svg" />
                                {{open}}
                            </td>
                            <td class="read-recipient-name" nowrap>
								<div class="read-recipient-avatar" data-email-address="{{#click_recipient}}{{recipient_name}}{{/click_recipient}}{{^click_recipient}}{{destination_email}}{{/click_recipient}}" id="destination-email-logo"></div><!-- todo: replace with correct avatar url -->
                                <span style="margin-left: 10px;">
                                    {{#click_recipient}}
                                    {{recipient_name}}
                                    {{/click_recipient}}
                                    {{^click_recipient}}
                                    {{destination_email}}
                                    {{/click_recipient}}
                                </span>
                            </td>
                            <td class="date" nowrap>
                                {{date}}
                            </td>
                            <td class="time" nowrap>
                                {{time}}
                            </td>
                            <td class="location" nowrap>
                                {{#location}}
                                {{location}}
                                {{/location}}
                                {{^location}}
                                Retrieving
                                {{/location}}
                            </td>
                            <td class="device" nowrap>
                                {{email_clicked_device_name}}
                            </td>
                        </tr>
                        {{/link_cliked_time}}
                        {{/attachment_flag}}
                        {{/allEmailEventArray}}
                    </tbody>
                </table>
            </div>
        </div>
        </hr>
    </div>
    {{/wholeEmailSummaryArray}}
</div>
<div style="display: none;">
    <div id="subIdFlag" value="{{subIdFlag}}">
    </div>
</div>
<div style="display: none;">
    <div id="planId" value="{{planId}}">
    </div>
</div>
<div style="display: none;">
    <div id="featureset" value="{{featureset}}">
    </div>
</div>
<div style="display: none;">
    <div id="expiryDate" value="{{expiryDate}}">
    </div>
</div>
<div style="display: none;">
    <div id="plan" value="{{plan}}">
    </div>
</div>
<div style="display: none;">
    <div id="paymentStatus" value="{{paymentStatus}}">
    </div>
</div>
<div style="display: none;">
    <div id="userCreatedOn" value="{{userCreatedOn}}">
    </div>
</div>
<script src="/js/moment.js" type="text/javascript">
</script>
<script src="/js/specificEmail.js" type="text/javascript">
</script>