<link href="/favicon.ico" rel="icon" type="image/x-icon"/>
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/lib/bootstrap/dist/css/datepicker.css" rel="stylesheet"/>
<link href="/css/schedule-email-datepicker.css?v=3.0" rel="stylesheet"/>
<link href="/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="/css/bootstrap-dialog.min.css" rel="stylesheet"/>
<link href="/css/main.css?v=3.0" rel="stylesheet"/>
<link href="/css/animate.css" rel="stylesheet"/>
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/css/nice-select.css">
<style type="text/css">
    @font-face {
    font-family: 'AvenirNextLTPro';
    src: url('/font/AvenirNextLTPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AdobeAvenirLTStdRoman';
    src: url('/font/webfonts/355E90_3_0.eot');
    src: url('/font/webfonts/355E90_3_0.eot?#iefix') format('embedded-opentype'),
    url('/font/webfonts/355E90_3_0.woff2') format('woff2'),
    url('/font/webfonts/355E90_3_0.woff') format('woff'),
    url('/font/webfonts/355E90_3_0.ttf') format('truetype');
}
@font-face {
    font-family: 'AdobeAvenirLTStdHeavy';
    src: url('/font/webfonts/355E90_5_0.eot');
    src: url('/font/webfonts/355E90_5_0.eot?#iefix') format('embedded-opentype'),
    url('/font/webfonts/355E90_5_0.woff2') format('woff2'),
    url('/font/webfonts/355E90_5_0.woff') format('woff'),
    url('/font/webfonts/355E90_5_0.ttf') format('truetype');
}

@font-face {
    font-family: 'OCR-A-Extended';
    src: url('/font/OCRAEXT.ttf') format('truetype');
}

/* ProximaNova font starts here*/
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('/font/ProximaNova/3754B8_2_0.eot');
    src: url('/font/ProximaNova/3754B8_2_0.eot?#iefix') format('embedded-opentype'), url('/font/ProximaNova/3754B8_2_0.woff2') format('woff2'), url('/font/ProximaNova/3754B8_2_0.woff') format('woff'), url('/font/ProximaNova/3754B8_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('/font/ProximaNova/3754B8_6_0.eot');
    src: url('/font/ProximaNova/3754B8_6_0.eot?#iefix') format('embedded-opentype'), url('/font/ProximaNova/3754B8_6_0.woff2') format('woff2'), url('/font/ProximaNova/3754B8_6_0.woff') format('woff'), url('/font/ProximaNova/3754B8_6_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('/font/ProximaNova/3754B8_8_0.eot');
    src: url('/font/ProximaNova/3754B8_8_0.eot?#iefix') format('embedded-opentype'), url('/font/ProximaNova/3754B8_8_0.woff2') format('woff2'), url('/font/ProximaNova/3754B8_8_0.woff') format('woff'), url('/font/ProximaNova/3754B8_8_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('/font/ProximaNova/3754B8_B_0.eot');
    src: url('/font/ProximaNova/3754B8_B_0.eot?#iefix') format('embedded-opentype'), url('/font/ProximaNova/3754B8_B_0.woff2') format('woff2'), url('/font/ProximaNova/3754B8_B_0.woff') format('woff'), url('/font/ProximaNova/3754B8_B_0.ttf') format('truetype');
}

/* ProximaNova font ends here*/

/*@font-face {
    font-family: 'AdobeAvenirLTStdHeavy';
    src: url('/font/Adobe_AvenirLTStd_Heavy.otf') format('truetype');
}*/

/*@font-face {
    font-family: 'AdobeAvenirLTStdRoman';
    src: url('/font/Adobe_AvenirLTStd_Roman.otf') format('truetype');
}*/

/*body {
    background-color: white;
    text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}*/

{
    {
        #margin-top-flag
    }
}

body {
    margin-top: -17px;
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
}

{
    {
        /margin-top-flag
    }
}

body {
    overflow-x: hidden;
}

#enable-mailtag-button {
    border-radius: 40px;
    background-color: #2c4b8e;
    color: white;
    height: 40px;
    font-size: 17px;
    line-height: 38px;
    padding: 0px 30px 0px 30px;
}

h2.activate,
h4.activation-message {
    font-family: 'AvenirNextLTPro', Arial, sans-serif;
    ;
    font-weight: lighter;
}

h4.activation-message {
    padding-bottom: 15px;
}

#cont {
    height: 334px;
    background: #983C64;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(160deg, #AB4B64, #E6855D);
    /* For Safari 5.1 to 6.0 */
    background: linear-gradient(140deg, #983C64, #F57E63);
    /* Standard syntax (must be last) */
}

.bigHr {
    background-color: #fff !important;
    color: #fff !important;
    border: solid 2px #fff !important;
    height: 0px !important;
    width: 566px !important;
    margin-top: 8px;
}

.upgradeHr {
    background-color: #e0dfdf !important;
    color: #e0dfdf !important;
    border: solid 5px #e0dfdf !important;
    height: 0px !important;
    width: 500px !important;
    margin-top: 8px;
}

.navbar {
    background-color: #2b4a8d;
    border-radius: 0px;
    margin-top: -20px;
    width: 100%;
    height: 80px;
}

#Brand {
    margin-top: -5px;
}

#content {
    margin-top: -20px;
}

#footer {
    color: black;
    background-color: #dadada;
}

.field__input {
    width: 350px;
    height: 35px;
}

p.bold{
    font-family: 'AdobeAvenirLTStdHeavy', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#all-emails,
#read-emails,
#unread-emails,
#account,
#preferences,
#invoice,
#support,
#support-link {
    color: #7c818c;
    cursor: pointer;
}

#support,
#support-link {
    color: #7c818c;
    cursor: pointer;
}

#support:hover {
    color: white;
}

#support-link:hover,
#support-link:visited {
    color: white;
    text-decoration: none;
}

#all-emails:hover {
    color: white;
}

#read-emails:hover {
    color: white;
}

#unread-emails:hover {
    color: white;
}

#account:hover {
    color: white;
}

#invoice:hover {
    color: white;
}

#preferences:hover {
    color: white;
}

.col-container {
    margin-top: 3px;
    display: table;
    /* Make the container element behave like a table */
    width: 100%;
    /* Set full-width to expand the whole page */
}

.col {
    display: table-cell;
    /* Make elements inside the container behave like table cells */
}

.logo {
    padding: 25px;
}

#home {
    border-bottom: solid 1px white;
}

#center-section {
    height: 100vh;
}

#recent-email-tab {
    color: white;
    padding: 5px;
}




/*latest*/

#left-column {
    min-height: 650px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background:#ffffff;
    margin: 0;
    padding: 0;
    width: 240px;
    z-index: 1009;
    box-shadow:2px 0 35px 0 rgba(224,229,238,0.40);
}

span.active {
    height: 50px;
    display: inline-block;
    text-align: center;
}

#left-column {
    padding: 0px;
    margin: 0px;
}

li.borderless {
    border: 0 none;
    font-size: 14px;
}

#bigHr {
    background-color: #e0dfdf !important;
    color: #e0dfdf !important;
    border: solid 2px #e0dfdf !important;
    height: 0px !important;
    margin: 5px;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #428bca;
    color: #428bca;
}

#monthly-plan {
    border: 2px solid #9e9e9e;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #fff;
    width: 150px;
    color: #9e9e9e;
}

#annual-plan {
    border: 2px solid #9e9e9e;
    width: 150px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #fff;
    background-color: #9e9e9e;
}

.upgrade-btn {
    padding-top: 5px;
    border-radius: 100px;
    outline: none;
    border: none;
    font-family: 'ProximaNovaBold';
    font-size: 12px;
    color: #2F3D4C;
    letter-spacing: 2px;
    width: 125px;
    height: 40px;
    background: #FFFFFF;
    border:1px solid #ecf0f4;
}

.pro-user-btn{
    cursor: default;
    padding-top: 3px;
    border-radius: 100px;
    outline: none;
    border: none;
    font-family: 'AdobeAvenirLTStdHeavy';
    font-size: 10px;
    color: #FFFFFF;
    letter-spacing: 2px;
    width: 125px;
    height: 28px;
    background: #4fbe8d;
}

.user-img {
    border-color: #222642;
    background-color: #222642;
    border-radius: 50%;
    margin: 11% 33% 7%;
    height: 65px;
}

#sidebar-user-logo {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-bottom: 20%;
}

#username {
    font-family: 'ProximaNovaRegular';
    font-size: 22px;
    margin-top: 4px;
    line-height: 46px;
    color: #2F3D4C;
}

.mailtag-img {
    width: 120px; 
    margin: 15% 0% 6% 0%;
}

.sidebar-icon {
    margin: 15px 7%;
}

.sidebar-text {
    text-decoration: none;
    line-height: 32px;
    font-size:16px;
    text-align:left;
}

.sidebar-menu {
    cursor: pointer;
    width: 231px;
    color: #637282;
    font-family: 'ProximaNovaRegular';
}

.mailtag-img-header {
    border-bottom: 2px solid #bdbdbd;
}

/* latin */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(/font/PTSans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.support-input {
    border-top: 0px solid;
    border-right: 0px solid;
    border-left: 0px solid;
    border-bottom: 2px solid #4c4747;
    width: 500px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-color: #2b2929;
}

.btn-send {
    width: 120px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #ffffff;
    margin-left: 190px;
    background-color: #FF7170;
}

.btn-send:hover {
    color: #ffffff;
}

textarea.support-input:focus,
input.support-input:focus {
    outline: none;
}

.tab-label {
    color: grey;
}

.nav li.active {
    border-bottom: 5px solid #19c3d5;
}

.nav li.active a {
    border: none;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs>li>a {
    border-color: transparent;
    padding-bottom: 0px;
    border: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: white;
    border: none;
    color: black;
}

.send-text {
    font-size: 18px;
    font-weight: bold;
}

.sidebar-menu:hover {
    background:#f6fbff;
    border-radius:0 30px 30px 0;
    color: #2F3D4C !important;
    font-family: 'ProximaNovaSemiBold' !important;
}

.sidebar-menu:hover .sidebar-icon {
    stroke: #2B9EFF;
}

.list-group-item {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 4px;
    padding-left: 15px;
}

.list-group {
    box-shadow: none
}

.openEmailButton,
.openEmailButton:hover,
.openEmailButton:active,
.openEmailButton:focus {
    border-radius: 10px;
    background: white !important;
    border: none;
    outline: none !important;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.info:hover,
.info:active,
.info:focus {
    color: #ffffff !important;
    text-decoration: none !important;
}

.dd-option-image,
.dd-selected-image {
    border-radius: 100px;
    margin: -2px;
    height: 40px;
}

.dd-selected-text {
    font-family: 'ProximaNovaSemiBold';
    padding-left: 3%;
    font-size: 14px;
    color: #2F3D4C;
    cursor: pointer;
    font-weight: normal;
}

.dd-option-text {
    font-family: 'ProximaNovaRegular';
    padding-left: 3%;
    font-size: 17px;
    color: #2F3D4C;
    cursor: pointer;
    font-weight: normal;
}

#add-new-user-tab-title {
    padding-left: 0px;
    font-family: 'ProximaNovaRegular';
    font-size: 17px;
    color: #2F3D4C;
    cursor: pointer;
    letter-spacing: 0.78px;
}

.dd-container {
    float: right !important;
    margin-top: 4px;
}

.dd-option,
.dd-option:hover {
    text-align: left !important;
    height: 70px;
    padding: 5% 3% !important;
    color: #000000 !important;
    text-decoration: none !important;
}

.dd-selected,
.dd-selected:hover,
.dd-option,
.dd-option:hover {
    color: #000000 !important;
    text-decoration: none !important;
}

.dd-options {
    border: none !important;
    margin-top: 5% !important;
    background: #FFFFFF;
    box-shadow: 5px 15px 35px 0 rgba(226,233,241,0.60) !important;
    border-radius: 5px;
    max-height: 72vh;
}

.dd-options::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: transparent;
}

.dd-options::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.dd-options::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    height: 30px;
    border-radius: 2px;
    background-color: #667484;
}

.dd-selected {
    padding: 5px !important;
}

.dd-selected,
.dd-option {
    text-align: center;
}

.modal-backdrop.in {
    background-color: #222642;
    filter: alpha(opacity=50);
    opacity: .6;
}

.demoBasic {
    font-size: 13px !important;
}

#big-hr {
    background: #ecf0f4;
    height:0.1em;
    margin-top: 0px;
    margin-left: -20px;
    width: 104%;
    border: none;
}

#signup-modal,
#message-modal {
    margin: 0px;
    padding-top: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

#signup-ok:hover,
#signup-ok:active,
#signup-ok:focus {
    text-decoration: none;
    outline: none;
}

.close:hover,
.close:active,
.close:focus {
    text-decoration: none;
    outline: none;
}




/* Modal Content */

#signup-modal .modal-content,
#message-modal .modal-content {
    margin: 0px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    border-radius: 0px;
}

.close {
    cursor: pointer;
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#add-new-user-tab {
    height: 20px;
}

.info {
    background-color: #50bbdc;
    color: white;
}




/* Blue */

.tooltip-refer {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 3px 3px;
    left: -150px;
    top: 22px;
    width: 308px;
    z-index: 999999;
    position: absolute;
    background-color: white;
    margin-top: 6px;
    margin-left: 2px;
}

.refer-message:before {
    content: "";
    position: absolute;
    bottom: 101%;
    left: 144px;
    border-width: 0px 11px 11px 11px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
    display: block;
    border-style: solid;
    display: block;
    width: 0;
    width: 0px;
}

.refer-message:after {
    content: '';
    position: absolute;
    left: 145px;
    bottom: 100%;
    content: "";
    position: absolute;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0;
}

.control-label {
    font-size: 15px;
}

.glyphicon-link {
    color: #525252;
}

#basic-monthly,
#basic-yearly {
    background: rgba(96, 235, 151, 1);
    border-bottom: 4px solid rgba(88, 209, 136, 1);
    width: auto;
    color: white;
}

#free-plan {
    color: #626262;
    width: auto;
    background: #eaebed;
    border-bottom: 4px solid #d5d5d5;
}

#basic-monthly:hover,
#basic-monthly:active,
#basic-monthly:focus,
#basic-yearly:hover,
#basic-yearly:active,
#basic-yearly:focus {
    background: rgba(88, 209, 136, 1);
    outline: none;
    box-shadow: inset 0px 0px 0px 0px;
}

#free-plan:hover,
#free-plan:active,
#free-plan:focus {
    background: #d5d5d5;
    outline: none;
    box-shadow: inset 0px 0px 0px 0px;
}

.google {
    background: #fff;
    border: none;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777;
    text-transform: none;
    text-shadow: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    padding-left: 50px;
    background-image: url(/img/google-g.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 13px 50%;
    transition: all .2s ease-out;
    display: inline-block;
    height: 50px;
    width: 220px;
    cursor: pointer;
}

.google h4 {
    margin-top: 15px;
}

.google:hover,
.google:active,
.google:focus {
    text-decoration: none;
    transform: translate3d(0, -2px, 0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    color: #4285f4;
}
.modal-content{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none !important;
}
</style>
