{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ content }}
        <main id="main">
            <div class="banner inner-banner">
                <div class="container">
                    <div class="banner-heading">
                        <h1>
                            Subprocessors
                        </h1>
                        <span class="banner-details" style="font-size: 20px;">
                            <i>
                                Last Updated & Effective date: May 23, 2018
                            </i>
                        </span>
                    </div>
                </div>
            </div>
            <div id="holder">
                <div class="content">
                    <div class="container">
                        <p>
                            <i>
                                Last Updated & Effective date: May 24, 2018
                            </i>
                        </p>
                        <div class="promo culture-promo">
                            <p>
                                <!-- <b> -->
                                MailTag has authorized the sub-processors on this list to process personal data so we can provide MailTag’s product and services. Prior to engaging with any subprocessor, MailTag performs due diligence to evaluate their privacy and security practices, and requires each to commit to written obligations regarding their security controls and obligations.
                                <!-- </b> -->
                            </p>
                        </div>
                        <ul class="accordion">
                            <li>
                                <ul class="custom">
                                    <li class="cust-li">
                                        Amazon Web Services (AWS)
                                    </li>
                                    <li class="cust-li">
                                        Baremetrics
                                    </li>
                                    <li class="cust-li">
                                        MailChimp
                                    </li>
                                    <li class="cust-li">
                                        SendGrid
                                    </li>
                                    <li class="cust-li">
                                        ZenDesk
                                    </li>
                                    <li class="cust-li">
                                        Smartlook
                                    </li>
                                    <li class="cust-li">
                                        Stripe
                                    </li>
                                    <li class="cust-li">
                                        Atlassian
                                    </li>
                                    <li class="cust-li">
                                        Google G Suite
                                    </li>
                                    <li class="cust-li">
                                        Google Analytics
                                    </li>
                                    <li class="cust-li">
                                        GrowSumo
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    {{/ content }}
{{/ static-pages-layout }}