<!DOCTYPE html>
<html>
<head>
    <title>
        
    </title>
</head>
    <body style="font-family: 'PT Sans', Arial, sans-serif;background-color:#f6f6f6;font-size:16px;line-height:1.4;margin:0;padding:0">
  <div>
<!-- <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;margin-bottom:15px">


  </p> -->
    <tbody><tr>
    <td style="font-family:sans-serif;font-size:14px;vertical-align:top">&nbsp;</td>
    <td style="font-family:sans-serif;font-size:14px;vertical-align:top;display:block;margin:0 auto!important;max-width:620px;padding:10px;width:580px">
          
    <div style="box-sizing:border-box;display:block;margin:0 auto;max-width:720px;padding:10px;">
          <table style="border-collapse:separate;width:100%;background:#fff;border-radius:4px">
          <tbody>
            <tr>
                <td style="font-family:sans-serif;font-size:14px;vertical-align:top;box-sizing:border-box;padding:20px 30px">
                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;width:100%">
                    <tbody><tr>
                    <td style="vertical-align:top">
                    <table style="border-collapse:collapse;width:100%;margin:10px 0 20px 0">
                    <tbody>
                    <tr style="align:left"><td>Hi {{name}},</td></tr>
                    <tr>
                        <td style="vertical-align:top;padding:0">
                              <br />Thank you for contacting MailTag Support!
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;padding:0">
                              <br />Our ninja-fast support team will get back to you within 24 hours.
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;padding:0">
                          <br />In the meantime, please feel free to explore the below resources!
                          
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;padding:0">
                          <br />MailTag Help Center — <a href="/" target="_blank">http://help.mailtag.io</a>
                          
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;padding:0">
                          <br />MailTag Video Tutorials — <a href="https://app.mailtag.io/dashboard/videos" target="_blank">https://app.mailtag.io/dashboard/videos</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;padding:0">
                          <br />Your helpful MailTag representative will be in touch soon!
                        </td>
                    </tr>
                    <tr style="align:left">
                      <td><br />Best,<br />
                      <br />MailTag Client Experience Team<br />
                      </td>
                    </tr>
                    <tr>
                      <br />
                    </tr>
                    <tr style="align:left">
                      <td>
                      <a href="https://twitter.com/MailTagio" target="_blank">
                        <img src="https://app.mailtag.io/img/twitter.png" class="img-responsive"></a>
                      <a href="https://www.facebook.com/mailtagio/" target="_blank">
                      <img src="https://app.mailtag.io/img/facebook_new.png" class="img-responsive"></a></td>
                    </tr>
            </tbody></table>
         </td>
        </tr></tbody></table></td>
        </tr>
        </tbody></table>
<div style="clear:both;padding-top:10px;text-align:center;width:100%">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;width:100%"><tbody><tr>
<td style="font-family:sans-serif;font-size:12px;vertical-align:top;color:#999999;text-align:left;padding:5px 0">
</td></tr></tbody></table>
</div>
</div>
        </td>
        
        <td style="font-family:sans-serif;font-size:14px;vertical-align:top">&nbsp;</td>
      </tr></tbody>
      </div>
</body>
</html>