{{% BLOCKS }}

<link href="/css/main.css?v=3.0" rel="stylesheet"/>
<link href="/css/home.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{{< static-pages-layout }}

{{$ content }}
<div class="header-bg">
    <div class="header-bg-img"></div>
</div>
<div class="container payment-popup-container" style="width: 680px;height: 600px;">
    <div class="container" style="background-color: white; " > 
        <div class="lightbox-demo" >  
            <form name="switch-subscription" id="coupon-creation" action="" class="upgrate-form" onsubmit="validateForm()">
                <div class="upgrate-box">
                    <div class="price-box input-content">
                        <div class="subheading">
                            Switch Subscription
                        </div>               
                    </div>    
                </div>
                <div class="row">
                    <div class="col">
                        <label >
                            Enter Current Email
                        </label>
                        <input class="form-control" placeholder="Enter Current Email" type="email" name="email">   
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col">
                        <label >
                            Enter Second Email
                        </label>
                        <input class="form-control" placeholder="Enter Second Email" type="email" name="switch_email">      
                    </div>
                    
                </div>
                </br>
                
                </br>
                <div class="row">
                    <div class="col">
                        <label >
                            Password
                        </label>
                        <input class="form-control" name="password" placeholder="Password" type="text" name="password" required>
                    </div>
                </div><br>
                <div class="form-group">
                    <input class="btn btn-primary"  type="submit" value="Switch Subscription">
                    </input>
                </div>
            </form>
        </div>
    </div> 
</div>
    
{{/ content }}

{{$ scripts }}
    <script src="/js/subSwitch.js" type="text/javascript"></script>    
{{/ scripts }}

{{/ static-pages-layout }}