{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ title }}Team{{/title}}
    
    {{$ content }}
            <main id="main">
                <div class="banner inner-banner">
                    <div class="container">
                        <div class="banner-heading">
                            <h1>
                                Executive
                                <br>
                                    Team.
                                </br>
                            </h1>
                        </div>
                    </div>
                </div>
                <div id="holder">
                    <div class="content">
                        <div class="container">
                            <ul class="team-list">
                                <li>
                                    <div class="image-box">
                                        <div class="photo">
                                            <img alt="image-description" height="140" src="/images/img-04.png" width="140"/>
                                        </div>
                                    </div>
                                    <div class="information">
                                        <div class="person-name">
                                            Hrishikesh
                                        </div>
                                        <span class="person-post">
                                            Head of Development
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class="photo">
                                            <img alt="image-description" height="140" src="/images/img-05.png" width="140"/>
                                        </div>
                                    </div>
                                    <div class="information">
                                        <div class="person-name">
                                            Nikita
                                        </div>
                                        <span class="person-post">
                                            Senior Developer
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class="photo">
                                            <img alt="image-description" height="140" src="/images/img-06.png" width="140"/>
                                        </div>
                                    </div>
                                    <div class="information">
                                        <div class="person-name">
                                            Pushpalata
                                        </div>
                                        <span class="person-post">
                                            Senior Developer
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class="photo">
                                            <img alt="image-description" height="140" src="/images/img-39.jpeg" width="140"/>
                                        </div>
                                    </div>
                                    <div class="information">
                                        <div class="person-name">
                                            Amit
                                        </div>
                                        <span class="person-post">
                                            Senior Developer
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class="photo">
                                            <img alt="image-description" height="140" src="/images/img-38.jpg" width="140"/>
                                        </div>
                                    </div>
                                    <div class="information">
                                        <div class="person-name">
                                            Ganesh
                                        </div>
                                        <span class="person-post">
                                            Senior Developer
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class="photo">
                                            <img alt="image-description" height="140" src="/images/img-07.jpeg" width="140"/>
                                        </div>
                                    </div>
                                    <div class="information">
                                        <div class="person-name">
                                            Ramesh
                                        </div>
                                        <span class="person-post">
                                            Senior Developer
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class="photo">
                                            <img alt="image-description" height="140" src="/images/img-08.jpeg" width="140"/>
                                        </div>
                                    </div>
                                    <div class="information">
                                        <div class="person-name">
                                            Shantanu
                                        </div>
                                        <span class="person-post">
                                            Senior Developer
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="image-box">
                                        <div class="photo">
                                            <img alt="image-description" height="140" src="/images/img-40.jpg" width="140"/>
                                        </div>
                                    </div>
                                    <div class="information">
                                        <div class="person-name">
                                            Goutham
                                        </div>
                                        <span class="person-post">
                                            Head of Design
                                        </span>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="image-box">
                                        <div class="photo">
                                            <img alt="image-description" height="140" src="/images/img-32.png" width="140"/>
                                        </div>
                                    </div>
                                    <div class="information">
                                        <div class="person-name">
                                            Rick
                                        </div>
                                        <span class="person-post">
                                            Customer Relations Manager
                                        </span>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="image-box">
                                        <div class="photo">
                                            <img alt="image-description" height="140" src="/images/img-33.png" width="140"/>
                                        </div>
                                    </div>
                                    <div class="information">
                                        <div class="person-name">
                                            Alex Edson
                                        </div>
                                        <span class="person-post">
                                            Founder & CEO
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
            
    {{/ content }}
{{/ static-pages-layout }}