{{% BLOCKS }}
{{< static-pages-layout }}
    {{$ title }}Thanks{{/title}}
    
    {{$ content }}
            <main id="main">
                <div class="banner leaving-banner">
                    <div class="container">
                        <div class="banner-heading">
                            <h1>
                                Thanks for your feedback.
                            </h1>
                        </div>
                    </div>
                </div>
            </main>
    {{/ content }}
{{/ static-pages-layout }}