<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
  <div class="container-fluid" style="margin-left: 205px;margin-top: 1vh;background-color: white; height: 98vh;">
    <div class="row">
      <div class="row">
        <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8">
          <h2><b>Videos</b></h2>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4">
          <select id="change-user" style="display: none;">
            {{#subscription}}
            <option value="{{email}}" image="{{image_url}}">{{email}}</option>
            {{/subscription}}
          </select>
          <div id="switch-user"></div>
        </div>
      </div>
      <hr id="big-hr">
      <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 text-center">
          <h2 class="video-header">Getting Started with MailTag.</h2>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/230342620?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 text-center">
          <h2 class="video-header">Tagging and Untagging + PRO Benefits.</h2>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/230342611" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <a href="https://vimeo.com/230342611"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>