<header id="header">
    <div class="container">
        <div class="header-hold header-top">
            <div class="logo">
                <a href="/">
                    <img alt="MailTag" height="27" src="/images/logo.png" width="157"/>
                </a>
            </div>
            <nav id="nav">
                <a class="btn lightbox-form" href="#popup1">
                    Sign up
                </a>
                <a class="button-opener nav-opener" href="#">
                    <span>
                        Open
                    </span>
                </a>
                <div class="nav-drop">
                    <div class="hold-drop">
                        <ul>
                            <li>
                                <a class="anchor" href="/">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/pricing">
                                    Pricing
                                </a>
                            </li>
                            <li>
                                <a href="https://mailtag.io" target="_blank">
                                    Blog
                                </a>
                            </li>
                        </ul>
                        <a class="btn add-chrome" href="#" id="install-extension-button-toolbar">
                            Add to Chrome
                        </a>
                        <a class="btn email-link btn-yellow lightbox-form" href="#popup1">
                            Email me link
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>