<div class="install-overlay">
    <div class="install-container">
        <div class="install-wrapper">
            <div class="overlay-header">
                <a href="/"><img alt="MailTag" height="27" src="/images/logo.png" width="157"/></a>
            </div>
            
            <div class="arrow-holder">
                <img alt="add MailTag arrow" src="/images/click-arrow@2x.png"/>
            </div>
            
            <div class="click-callout">
                <span>Click "<strong>Add extension</strong>" to install MailTag</span>
                <p>Get started and join more than 13,000 happy MailTag users</p>
            </div>
            
            <section class="gallery-section gallery-section-white">
                <div class="container">
                    <h2>
                        Trusted by
                    </h2>
                    <div class="logo-slider">
                        <div class="slide">
                            <img alt="image description" height="35" src="/images/google-fff@2x.png" width="117"/>
                        </div>
                        <div class="slide">
                            <img alt="image description" height="35" src="/images/uber-fff@2x.png" width="117"/>
                        </div>
                        <div class="slide">
                            <img alt="image description" height="35" src="/images/verizon-fff@2x.png" width="117"/>
                        </div>
                        <div class="slide">
                            <img alt="image description" height="35" src="/images/lyft-fff@2x.png" width="117"/>
                        </div>
                        <div class="slide">
                            <img alt="image description" height="35" src="/images/shopify-fff@2x.png" width="117"/>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        <div class="overlay-footer">
            <ul>
                <li><img alt="image description" src="/images/tick-fff-full@2x.png" height="24" width="24"/>Add MailTag to Chrome</li>
                <li></li>
                <li><img alt="image description" src="/images/tick-fff-empty@2x.png" height="24" width="24"/>Enable in Gmail</li>
                <li></li>
                <li><img alt="image description" src="/images/tick-fff-empty@2x.png" height="24" width="24"/>Done!</li>
            </ul>
        </div>
    </div>
</div>