<div class="popup-holder">
    <div class="lightbox-demo" id="popup1">
        <div class="container">
            <div class="step-01">
                <h2>
                    Sign up
                </h2>
                <p>
                    MailTag is exclusively available for desktop. Please provide your email and we'll send you a download link.
                </p>
                <form action="#" class="sign-form form-validation" method="get">
                    <div class="input-wrap">
                        <input data-required="true" placeholder="Your Email" type="email">
                        </input>
                    </div>
                    <div class="wrap-button">
                        <button class="btn" type="submit">
                            Send a link
                        </button>
                        <span class="error">
                            Wrong email.
                        </span>
                    </div>
                </form>
                <a class="close-popup" data-fancybox-close="" href="#">
                </a>
            </div>
            <div class="step-02 text-center hidden-step">
                <h2>
                    Success!
                </h2>
                <p>
                    Please check your email.
                </p>
                <div class="close-wrap">
                    <a class="btn" data-fancybox-close="" href="#">
                        Close
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>