<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta content="IE=edge" http-equiv="X-UA-Compatible">
                <meta content="width=device-width, initial-scale=1" name="viewport">
                    <title>
                    </title>
                </meta>
            </meta>
        </meta>
    </head>
    <body style="font-style: 'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;">
        <br/>
        <br/>
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0px 25%;">
            <tr>
                <td align="center">
                    <img src="/img/content_Blue1.png">
                    </img>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <strong>
                        <span style="font-size: 24px;">
                            Hi there! 👋
                        </span>
                    </strong>
                </td>
            </tr>
            <br>
                <br>
                    <tr>
                        <td align="center">
                            <span style="font-size: 16px;">
                                Congrats on creating your new email signature! 🎉 Here you go! ✉️
                            </span>
                            <br/>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 50px 0px;">
                            {{{body}}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                            In case you need a helping hand with getting things setup,
                        </td>
                    </tr>
                    <br>
                        <tr>
                            <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                here's how to configure your new signature!
                            </td>
                        </tr>
                        <br>
                            <tr>
                                <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                    <strong>
                                        Step 1):
                                    </strong>
                                    Copy your signature (above) to your computer's clipboard.
                                </td>
                            </tr>
                            <br>
                                <tr>
                                    <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                        <strong>
                                            Step 2):
                                        </strong>
                                        Go to your
                                        <strong>
                                            <a href="https://mail.google.com/mail/u/0/#settings/general" target="_blank">
                                                <span style="color: rgb(81, 139, 252);">
                                                    Settings
                                                </span>
                                            </a>
                                        </strong>
                                        and scroll down to the "Signature" section.
                                    </td>
                                </tr>
                                <br>
                                    <tr>
                                        <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                            <strong>
                                                Step 3):
                                            </strong>
                                            Paste your signature into the "Signature" section.
                                        </td>
                                    </tr>
                                    <br>
                                        <tr>
                                            <td align="center">
                                                <img src="/img/content_Screenshot.png"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                                <strong>
                                                    Step 4):
                                                </strong>
                                                Scroll down and click the "Save Changes" button.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <img src="/img/content_Save_Changes.png"/>
                                            </td>
                                        </tr>
                                        <br>
                                            <tr>
                                                <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                                    Once saved, feel free to test by composing a new email! 😎 ✉️
                                                    <span class="redactor-invisible-space">
                                                    </span>
                                                </td>
                                            </tr>
                                            <br>
                                                <tr>
                                                    <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                                        <strong>
                                                            P.S!
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <br>
                                                    <tr>
                                                        <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                                            And thank you so much for signing-up to receive life-changing tips on increasing your sales from your team here at MailTag!
                                                        </td>
                                                    </tr>
                                                    <br>
                                                        <tr>
                                                            <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                                                We’ll be sending you our best sales tips and strategy articles from our blog, Sales Journey, to help you maximize your sales! 💼
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                                                If there's anything you want to know or have questions about, just ask!
                                                            </td>
                                                        </tr>
                                                        <br>
                                                            <tr>
                                                                <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                                                    Don't hesitate to reach out at
                                                                    <a href="mailto:Help@MailTag.io" style="background-color: rgb(255, 255, 255);">
                                                                        <span style="color: rgb(81, 139, 252);">
                                                                            <span style="font-size: 18px;">
                                                                                Help@MailTag.io
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                    <span style="color: rgb(81, 139, 252);">
                                                                    </span>
                                                                    <span style="font-size: 18px;">
                                                                        or on Twitter (
                                                                    </span>
                                                                    <span style="color: rgb(81, 139, 252);">
                                                                        <a href="https://twitter.com/MailTagio" style="background-color: rgb(255, 255, 255);">
                                                                            <span style="color: rgb(81, 139, 252);">
                                                                                <strong>
                                                                                    <span style="font-size: 18px;">
                                                                                        @
                                                                                    </span>
                                                                                </strong>
                                                                                <strong>
                                                                                    <span style="font-size: 18px;">
                                                                                        MailTagio
                                                                                    </span>
                                                                                </strong>
                                                                            </span>
                                                                        </a>
                                                                    </span>
                                                                    <span style="font-size: 18px;">
                                                                        )!
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <br>
                                                                <tr>
                                                                    <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                                                        To your success,
                                                                    </td>
                                                                </tr>
                                                                <br>
                                                                    <br>
                                                                        <tr>
                                                                            <td style="text-align:left;font-family:'Avenir','Lato','Arial','Helvetica Neue','Helvetica',sans-serif;font-size:18px;line-height:1.5em;font-size:18px;">
                                                                                Your friends at
                                                                                <a href="https://www.MailTag.io" target="_blank">
                                                                                    <strong>
                                                                                        <span style="color: rgb(81, 139, 252);">
                                                                                            <span style="font-size: 18px;">
                                                                                                MailTag.io
                                                                                            </span>
                                                                                        </span>
                                                                                    </strong>
                                                                                </a>
                                                                            </td>
                                                                            <br/>
                                                                        </tr>
                                                                    </br>
                                                                </br>
                                                            </br>
                                                        </br>
                                                    </br>
                                                </br>
                                            </br>
                                        </br>
                                    </br>
                                </br>
                            </br>
                        </br>
                    </br>
                </br>
            </br>
        </table>
    </body>
</html>