{{#signatureObj}}
<table style="font: 18px/1.45 'Avenir', 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif !important;font-size:initial;color:#000000">
    <tbody>
        <tr>
            <td style="padding:0 8px 0 0" valign="top">
                <a>
                    {{#photo-url}}
                    <img src="{{photo-url}}" style="display:block;margin-top:5px;border-radius: {{photo-layout}}" width="{{photo-size}}"/>
                    {{/photo-url}}
                    {{^photo-url}}
                    <img src="http://d96sanpagwm4a.cloudfront.net/defoult_user_img.png" style="display:block;margin-top:5px;border-radius: {{photo-layout}}" width="100"/>
                    {{/photo-url}}
                </a>
            </td>
            {{#borderVertical}}
            <td style="font: 18px/1.45 'Avenir', 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;border-left:{{Separator-line-Width}};padding:0 0 0 10px" valign="top">
                <div style="color:#222642;font-size:18px;">
                    {{name}}
                </div>
                <span>
                    <span style="color:{{color}};font-size:.9em">
                        {{position}}
                    </span>
                </span>
                <span style="color:#222642;font-size:14px;">
                    | {{company}}
                </span>
                <br/>
                <div style="line-height: 21px;margin-bottom: 6px;margin-top: 8px;padding-top: 6px;width: 300px;">
                </div>
                {{#Show-Social-Media}}
                <table style="margin-top: 15px;">
                    <tbody>
                        <tr>
                            {{#smallSocial}}
                            {{#social}}
                            <td>
                                <a href="{{link}}" style="width:{{social-media-bg-width}}px;height:{{social-media-bg-height}}px;border-radius:{{social-radious}};background-color:{{bg-color}}; display: inline-block;text-align: {{bg-align}};margin: {{bg-margin}}" target="_blank">
                                    <img src="{{img-link}}" style="height:60%;vertical-align: middle; margin:auto;margin-top:6px;display: inline-block;"/>
                                    <span style="display: none;font-size: 15px; font: 18px/-0.55 'Avenir', 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;margin: 0px 4px 0px 6px;">
                                        {{social-text}}
                                    </span>
                                </a>
                            </td>
                            {{/social}}
                            {{/smallSocial}}
                            {{^smallSocial}}
                            {{#social}}
                            <td>
                                <a href="{{link}}" style="width:95px;line-height:{{social-media-bg-height}};border-radius:{{social-radious}};background-color:{{bg-color}}; display: inline-block;text-align: center;margin: {{bg-margin}}" target="_blank">
                                    <img src="{{img-link}}" style="height:{{Social-Media-Size}}px;vertical-align: middle; margin:auto;margin-bottom:4px;display: inline-block;"/>
                                    <span style="display: inline-block;font-size: 15px; font: 18px/-0.55 'Avenir', 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;margin: 0px 4px 0px 6px;color: white;">
                                        {{social-text}}
                                    </span>
                                </a>
                            </td>
                            {{/social}}
                            {{/smallSocial}}
                        </tr>
                    </tbody>
                </table>
                {{/Show-Social-Media}}
            </td>
            {{/borderVertical}}
            {{#borderHorizontal}}
            <td style="font: 18px/1.45 'Avenir', 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;padding:0 0 0 10px" valign="top">
                <div style="color:#222642;font-size:18px;">
                    {{name}}
                </div>
                <span>
                    <span style="color:{{color}};font-size:.9em">
                        {{position}}
                    </span>
                </span>
                <span style="color:#222642;font-size:14px;">
                    | {{company}}
                </span>
                <br/>
                <div style="line-height: 21px;margin-bottom: 6px;margin-top: 8px;padding-top: 6px;width: 300px;border-top: {{Separator-line-Width}};">
                </div>
                {{#Show-Social-Media}}
                <table style="margin-top: 15px;">
                    <tbody>
                        <tr>
                            {{#smallSocial}}
                            {{#social}}
                            <td>
                                <a href="{{link}}" style="width:{{social-media-bg-width}}px;height:{{social-media-bg-height}}px;border-radius:{{social-radious}};background-color:{{bg-color}}; display: inline-block;text-align: {{bg-align}};margin: {{bg-margin}}" target="_blank">
                                    <img src="{{img-link}}" style="height:60%;vertical-align: middle; margin:auto;margin-top:6px;display: inline-block;"/>
                                    <span style="display: none;font-size: 15px; font: 18px/-0.55 'Avenir', 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;margin: 0px 4px 0px 6px;">
                                        {{social-text}}
                                    </span>
                                </a>
                            </td>
                            {{/social}}
                            {{/smallSocial}}
                            {{^smallSocial}}
                            {{#social}}
                            <td>
                                <a href="{{link}}" style="width:95px;line-height:{{social-media-bg-height}};border-radius:{{social-radious}};background-color:{{bg-color}}; display: inline-block;text-align: center;margin: {{bg-margin}};" target="_blank">
                                    <img src="{{img-link}}" style="height:{{Social-Media-Size}}px;vertical-align: middle; margin:auto;margin-bottom:4px;display: inline-block;"/>
                                    <span style="display: inline-block;font-size: 15px; font: 18px/-0.55 'Avenir', 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;margin: 0px 4px 0px 6px;color: white;">
                                        {{social-text}}
                                    </span>
                                </a>
                            </td>
                            {{/social}}
                            {{/smallSocial}}
                        </tr>
                    </tbody>
                </table>
                {{/Show-Social-Media}}
            </td>
            {{/borderHorizontal}}
            {{#noBorder}}
            <td style="font: 18px/1.45 'Avenir', 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;padding:0 0 0 10px" valign="top">
                <div style="color:#222642;font-size:18px;">
                    {{name}}
                </div>
                <span>
                    <span style="color:{{color}};font-size:.9em">
                        {{position}}
                    </span>
                </span>
                <span style="color:#222642;font-size:14px;">
                    | {{company}}
                </span>
                <br/>
                <div style="line-height: 21px;margin-bottom: 6px;margin-top: 8px;padding-top: 6px;width: 300px;">
                </div>
                {{#Show-Social-Media}}
                <table style="margin-top: 15px;">
                    <tbody>
                        <tr>
                            {{#smallSocial}}
                            {{#social}}
                            <td>
                                <a href="{{link}}" style="width:{{social-media-bg-width}}px;height:{{social-media-bg-height}}px;border-radius:{{social-radious}};background-color:{{bg-color}}; display: inline-block;text-align: {{bg-align}};margin: {{bg-margin}}" target="_blank">
                                    <img src="{{img-link}}" style="height:60%;vertical-align: middle; margin:auto;margin-top:6px;display: inline-block;"/>
                                    <span style="display: none;font-size: 15px; font: 18px/-0.55 'Avenir', 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;margin: 0px 4px 0px 6px;">
                                        {{social-text}}
                                    </span>
                                </a>
                            </td>
                            {{/social}}
                            {{/smallSocial}}
                            {{^smallSocial}}
                            {{#social}}
                            <td>
                                <a href="{{link}}" style="width:95px;line-height:{{social-media-bg-height}};border-radius:{{social-radious}};background-color:{{bg-color}}; display: inline-block;text-align: center;margin: {{bg-margin}};" target="_blank">
                                    <img src="{{img-link}}" style="height:{{Social-Media-Size}}px;vertical-align: middle; margin:auto;margin-bottom:4px;display: inline-block;"/>
                                    <span style="display: inline-block;font-size: 15px; font: 18px/-0.55 'Avenir', 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;margin: 0px 4px 0px 6px;color: white;">
                                        {{social-text}}
                                    </span>
                                </a>
                            </td>
                            {{/social}}
                            {{/smallSocial}}
                        </tr>
                    </tbody>
                </table>
                {{/Show-Social-Media}}
            </td>
            {{/noBorder}}
        </tr>
    </tbody>
</table>
{{/signatureObj}}
