<h1> Hey 👋 {{ email }}! </h1>
<p>
  You have been invited by {{user.username}} to be on MailTag 🎉
</p>
<a href="{{ url }}">Click here</a> to join the this awesome product and increase your sales now 🎉
